@(proposals:List[Proposal], sortBy:Option[String])(implicit lang: Lang, flash: Flash, uuid:String, req:RequestHeader)

@main("All submitted") {
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><i class="icon-bullhorn"></i> V.I.P Access</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>All Proposals with status Submitted</h3>
        </div>
        <div class="panel-body">
            @if(proposals.nonEmpty){
            <table class="table table-bordered table-strippted">
                <thead>
                    <tr>
                        <th>
                        @if(sortBy==Some("id")){
                            Title <i class="icon-arrow-down"></i>
                        }else{
                            <a href="@routes.Sponsor.index(Some("id"))">Id</a>
                        }
                        </th>
                        <th>
                        @if(sortBy==Some("title")){
                            Title <i class="icon-arrow-down"></i>
                        }else{
                            <a href="@routes.Sponsor.index(Some("title"))">Title</a>
                        }

                        </th>
                        <th>
                        @if(sortBy == Some("type")) {
                            Talk Type <i class="icon-arrow-down"></i>
                        } else {
                            <a href="@routes.Sponsor.index(Some("type"))">Talk Type</a>
                        }
                        </th>
                        <th>
                        @if(sortBy == Some("track")) {
                            Track <i class="icon-arrow-down"></i>
                        } else {
                            <a href="@routes.Sponsor.index(Some("track"))">Track</a>
                        }
                        </th>
                        <th>
                        @if(sortBy == Some("author")) {
                         Speaker <i class="icon-arrow-down"></i>
                        } else {
                         <a href="@routes.Sponsor.index(Some("author"))">Speaker</a>
                        }
                        </th>
                        <th>
                        @if(sortBy == Some("date")) {
                            Last modified <i class="icon-arrow-down"></i>
                        } else {
                            <a href="@routes.Sponsor.index(Some("date"))">Last modified</a>
                        }
                        </th>
                    </tr>
                </thead>
                <tbody>
                @proposals.map{ proposal =>
                    <tr>
                        <td>
                            <small>@proposal.id</small>
                        </td>
                        <td>
                            <small>@proposal.title</small>
                        </td>
                        <td>
                            @Messages(proposal.talkType.id)
                        </td>
                        <td>
                            @Messages(proposal.track.label)
                        </td>
                        <td>
                            @tags.renderGravatar(proposal.mainSpeaker)
                            @proposal.secondarySpeaker.map(tags.renderGravatar(_))
                        </td>
                        <td>
                        @Messages(proposal. )
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            }else{
                <P>There is no proposal with status submitted</P>
            }
        </div>
        </div>
    </div>
</div>
}