@(proposals:List[Proposal])(implicit lang: Lang, flash: Flash, uuid:String, req:RequestHeader)

@main("All submitted") {

    <script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css">

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><i class="icon-bullhorn"></i> V.I.P Access</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-lg-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>All Proposals with status Submitted</h3>
        </div>
        <div class="panel-body">
            @if(proposals.nonEmpty){
            <table id="allProposals" class="table table-bordered table-strippted">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Abstract
                        </th>
                        <th>
                            Talk Type
                        </th>
                        <th>Track</th>
                        <th>
                            Speaker
                        </th>
                        <th>
                            Last modified
                        </th>
                    </tr>
                </thead>
                <tbody>
                @proposals.map{ proposal =>
                    <tr>
                        <td>
                            <small>@proposal.id</small>
                        </td>
                        <td>
                            <small>@proposal.title</small>
                        </td>
                        <td>
                            <small>@Html(proposal.summaryAsHtml)</small>
                        </td>
                        <td>
                            @Messages(proposal.talkType.id)
                        </td>
                        <td>
                            @Messages(proposal.track.label)
                        </td>
                        <td>
                            @tags.renderGravatar(proposal.mainSpeaker)
                            @proposal.secondarySpeaker.map(tags.renderGravatar(_))
                        </td>
                        <td>
                            @Event.getMostRecentDateFor(proposal.id).map(_.toString("dd/MM/yy HH:mm")).getOrElse("")
                        </td>
                    </tr>

                }
                </tbody>
            </table>
            }else{
                <P>There is no proposal with status submitted</P>
            }
        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
$('#allProposals').dataTable();
} );
</script>
}