@(proposal:models.Proposal)

@if(ConferenceDescriptor.current().frLangEnabled) {
    <strong>English version below</strong>

    <p>Bonjour @Speaker.findByUUID(proposal.mainSpeaker).map(_.firstName).getOrElse(""),</p>
    <p>Nous avons le regret de vous informer que votre proposition <strong>@proposal.title</strong> au format
    <strong>@Messages(proposal.talkType.id)</strong> n'a pas été acceptée.</p>
    <p>Nous vous remercions cependant pour le temps que vous avez consacré à préparer votre sujet.</p>
    <p>Si vous souhaitez vous inscrire, nous avons prolongé l'offre "early-bird" jusq'au lundi 22 février afin de vous faire bénéficier du prix réduit sur le site
       <a href="@ConferenceDescriptor.current().conferenceUrls.registration">@ConferenceDescriptor.current().conferenceUrls.registration</a>.
        En cas de souci d'inscription, n'hésitez pas à contacter l'équipe d'organisation Devoxx France via notre site.</p>
    <p>La sélection cette année a encore été difficile avec plus de 776 sujets pour 230 slots. Nous communiquerons sur notre site plus d'informations sur la sélection d'ici à la fin du mois de février.</p>
    <p></p>
    <p>Merci pour votre proposition,</p>
    <p>L'équipe de sélection de la conférence @Messages("shortYearlyName")</p>
    <hr>
}
<p>Hi @Speaker.findByUUID(proposal.mainSpeaker).map(_.firstName).getOrElse(""),</p>
<p></p>
<p>We're sorry to inform you that your proposal for @Messages("shortYearlyName") did not make it into the final program. Please keep in mind that we received over 600 proposals and the available slots are very limited.</p>
<p></p>
<p>Proposition title : @proposal.title, @Messages(proposal.talkType.id).</p>
<p></p>
<p>We would like to thank you sincerely for your proposal.</p>
<p>Hopefully we can still welcome you as a Devoxxian, and to thank you for your effort of submitting a proposal we can offer you a 25% discount on the published ticket rates. Please use promotion code DVXSBMTR17 when registering at @ConferenceDescriptor.current().conferenceUrls.registration</p>
<p></p>
<p></p>
<p>Kind regards,</p>
<p>The @Messages("shortYearlyName") Team</p>
<p></p>