@(proposal:models.Proposal)(implicit lang:Lang)

<strong>English version below</strong>

<p>Bonjour,</p>
<p>Nous avons le regret de vous informer que votre proposition <strong>@proposal.title</strong> au format
<strong>@proposal.talkType.label</strong> n'a pas été acceptée.</p>
<p>Nous vous remercions cependant pour le temps que vous avez consacré à préparer votre sujet.</p>
<p>Si vous souhaitez vous inscrire, nous vous avons réservé un code spécial qui vous permettra
de bénéficier du prix "early-bird" et donc, de payer moins cher. Ce code est valable tant qu'il reste
des places.</p>
<br>
<p>L'équipe de sélection de la conférence Devoxx France</p>
<hr>
<p>Hi,</p>
<p>We're sorry to inform you that your proposal for Devoxx France 2014 was <strong>not accepted</strong></p>
<p>Proposition title : <strong>@proposal.title</strong>, <strong>@proposal.talkType.label</strong>.</p>
<p>We'd like to thank you sincerly, for the time and your work.</p>
<p>If you like to register, here is a special discount code, that is valid till we have tickets. Please
    use this code on <a href="http://reg.devoxx.fr">http://reg.devoxx.fr</a>.</p>
<br>
<p>The Devoxx France team</p>
