@(proposal:models.Proposal)

@if(ConferenceDescriptor.current().frLangEnabled) {
    <h3>Bienvenue à @Messages("longYearlyName")</h3>
    <strong>English version below</strong>
    <hr>
    <p>Bonjour,</p>
    <p>Nous avons le plaisir de vous informer que la présentation <strong>@proposal.title</strong> au format
    [<strong>@Messages(proposal.talkType.id)</strong>] a été <strong>acceptée</strong> pour @Messages("longYearlyName") !</p>
    <hr>
    <h3>Comment valider ou non votre participation ?</h3>
    <p>Attention, vous ne disposez que de quelques jours pour accepter les conditions générales et valider votre
    présence à @Messages("longYearlyName") comme présentateur.</p>
    <p><strong>Merci de valider dès maintenant en suivant ce lien dans votre navigateur :</strong></p>
    <a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()</a>
    <p>Vous serez ensuite amené à accepter ou refuser votre(vos) présentation(s).</p>
    <h3>Comment poser une question ?</h3>
    <p>Merci de ne pas répondre à cet email, mais d'utiliser votre interface pour échanger avec le comité.</p>
    <a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)</a>
    <br>
    <p>L'équipe de sélection de la conférence @Messages("longYearlyName")</p>
    <hr>
}
<h3>Welcome to @Messages("longYearlyName")</h3>
<p>Hi,</p>
<p>We're glad to inform you that your proposal for @Messages("longYearlyName") has been <strong>accepted</strong></p>
<p>Proposal <strong>@proposal.title</strong>, of type [<strong>@Messages(proposal.talkType.id)</strong>].</p>
<hr>
<h3>What's next?</h3>
<p>You must now validate or decline the general terms and conditions, and confirm that you are still available to do this presentation :</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()</a>

@if(!ConferenceDescriptor.ConferenceProposalConfigurations.doesItGivesSpeakerFreeEntrance(proposal.talkType)) {
    <p>This type of talk does not grant a conference pass, so you will need to register as an attendee in order to access the conference area.
    Registration details <a href="@ConferenceDescriptor.current().conferenceUrls.registration">@ConferenceDescriptor.current().conferenceUrls.registration</a>.</p>
} else {
    <p>As a confirmed speaker you'll receive, a couple of weeks before the event takes place, a discount code for a Devoxx Combi pass (full week).</p>
    <p>You'll also receive an invite for the exclusive speakers reception on Tuesday evening.</p>
}

<h3>For any question regarding your talk</h3>
<p>Please, do not respond to this email. Send any comment through the web interface, and our team will do its bests to respond quickly.</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)</a>
<br>
<p>The @Messages("longYearlyName") team</p>

