@(speakersByCompany:List[(String,Set[Speaker])], proposals:List[(String,scala.collection.immutable.Set[Proposal])])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("CFP Speakers") {
<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2><i class="icon-thumbs-up-alt"></i> CFP Admin</h2>
    </div>
    <div class="clearfix"></div>

    @if(flash.get("error").isDefined){
        <div class="alert alert-danger alert-dismissable col-md-12">
            <strong>Error :</strong>
            @flash.get("error").get
        </div>
    }
    @if(flash.get("success").isDefined){
        <div class="alert alert-success alert-dismissable col-md-12">
            @flash.get("success").get
        </div>
    }

    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3>All speakers with one approved talk, grouped by Company</h3>
            <span class="label label-info">@speakersByCompany.size companies</span>
        </div>
        <div class="panel-body">

            @proposals.map { case (company, props) =>
            <h3>@company.capitalize @props.size talk(s)</h3>
                @props.toList.sortBy(_.talkType.id).map {proposal=>
                    @Messages(proposal.talkType.id) - @proposal.title - @proposal.allSpeakers.map(_.cleanName).mkString(", ") <br>
                }
            }

            <hr>

            @proposals.map { case (company, props) =>
            @*<h3>@company.capitalize @props.size talk(s)</h3>*@
                @props.toList.sortBy(_.talkType.id).map {proposal=>
                    @proposal.state.code;@Messages(proposal.talkType.id);@Messages(proposal.track.label);@proposal.title;@company.capitalize;@proposal.allSpeakers.map(_.cleanName).mkString(";");@proposal.allSpeakers.map(_.email).mkString(";")<br>
                }
            }

            <hr>

            @if(speakersByCompany.nonEmpty){
            <table class="table table-bordered table-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        @if(ConferenceDescriptor.current().frLangEnabled) {
                            <th>Lang</th>
                        }
                        <th>Company</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @speakersByCompany.map{ case(company:String, speakers: Set[Speaker]) =>
                   <tr>
                       <th colspan="5">@company - @speakers.size</th>
                   </tr>
                       @speakers.map{speaker=>
                        <tr>
                          <td>
                           @speaker.cleanName
                        </td>
                        @if(ConferenceDescriptor.current().frLangEnabled) {
                            <td>
                            @speaker.cleanLang
                            </td>
                        }
                        <td>
                            @speaker.company.getOrElse("")
                        </td>
                        <td>
                            <small>@speaker.email</small>
                        </td>
                        <td>
                            <a href="@routes.CFPAdmin.showSpeakerAndTalks(speaker.uuid)">See talks</a>
                        </td>
                        </tr>
                       }
                }
                </tbody>
            </table>
            }else{
                <P>There is no approved speaker.</P>
            }
        </div>
        </div>
    </div>
</div>
}