@(allMyVotes:List[(String,Double)],
    allMyVotesExcludingAbst:List[(String,Double)],
    relatedProposals:Map[String,Proposal],
    talkType:String,
    selectedTrack: Option[String],
    allScoresForProposals:Map[String,Double],
    proposalNotReviewedCountByType: Map[String,Int],
    proposalNotReviewedCountForCurrentTypeByTrack: Map[String,Int],
    firstProposalNotReviewed: Option[Proposal],
    delayedReviewsCount: Long
)(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("All my votes") {
    <div class="row py-3">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <a href="@routes.CFPAdmin.allMyWatchedProposals(talkType, selectedTrack)" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-eye"></i> @Messages("admin.btn.mywatches")</a>
            <a href="@routes.CFPAdmin.delayedReviews()" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-clock"></i> @Messages("admin.btn.delayed-reviews")</a>
            <a href="@routes.CFPAdmin.allMyVotes(talkType, selectedTrack)" class="btn btn-sm btn-success"><i aria-hidden="true" class="fas fa-chart-bar"></i> @Messages("admin.btn.myvotes")</a>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1 class="panel-title"><i class="fas fa-chart-bar"></i> Your votes</h1>
            </div>

            <div class="card-body">
                <div class="col-md-12">
                    <h3><i class="fas fa-flask"></i> Your personnal leaderboard</h3>
                    @tags.renderMyReviewsSearchCriteria(
                        refreshPathAction=(confType, selectedTrack) => routes.CFPAdmin.allMyVotes(confType, selectedTrack),
                        availableTalkTypes=models.ConferenceDescriptor.ConferenceProposalTypes.ALL,
                        talkType, selectedTrack,
                        proposalNotReviewedCountByType, proposalNotReviewedCountForCurrentTypeByTrack
                    )
                    <br/>

                    @defining(selectedTrack.flatMap(track =>proposalNotReviewedCountForCurrentTypeByTrack.get(track)).getOrElse(proposalNotReviewedCountByType.get(talkType).getOrElse(0))){ (remainingReviews: Int) =>
                        Out of @(remainingReviews + allMyVotes.size) talks,
                        you have reviewed @allMyVotes.size talks and @remainingReviews reviews remain.
                    }
                    @if(firstProposalNotReviewed.isDefined){
                        <a href="@routes.CFPAdmin.openForReview(firstProposalNotReviewed.get.id)" title="Open for review" class="btn btn-primary btn-sm">@Messages("admin.btn.review")</a>
                    }
                    <br>
                    @if(delayedReviewsCount > 0) {
                        You have @delayedReviewsCount delayed reviews pending..
                        <a href="@routes.CFPAdmin.delayedReviews()" title="Show delayed reviews" class="btn btn-primary btn-sm">@Messages("admin.btn.delayed-reviews")</a>
                        <br/>
                    }
                    @defining(allMyVotesExcludingAbst.map(_._2)){ allScores =>
                        Sum of all your points: @Math.round(allScores.sum)<br>
                        Number of abstentions: @(allMyVotes.size - allScores.size)<br>
                        Your average vote is @library.Stats.average(allScores)<br>
                        Standard deviation for your vote is @library.Stats.standardDeviation(allScores)<br>
                    }
                </div>
                @if(allMyVotes.nonEmpty){
                    <div class="col-md-12 col-lg-12">
                        <h3><i class="fas fa-chart-bar"></i> Proposals of type @Messages(talkType) for which you voted</h3>
                        <table id="tableMyVotes" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 150px">You voted</th>
                                    <th>Current score</th>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Track</th>
                                    <th>Speakers</th>
                                </tr>
                            </thead>
                            <tbody>

                                @allMyVotes.map { case (proposalId, vote) =>
                                    @defining(Math.round(vote)) { score =>
                                        <tr>
                                            <td class="score" data-score-updated="false" data-initial-score="@score" data-score="@score" data-pid="@proposalId">
                                                <div class="btn-group-xs">
                                                    <button class="btn minus btn-xs" style="width: 34px">-</button>
                                                    <button class="btn btn-xs displayed-score"><span class="abs-score">@Messages("Abs")</span><span class="regular-score">@score</span></button>
                                                    <button class="btn plus btn-xs" style="width: 34px">+</button>
                                                    <a href="@routes.CFPAdmin.allMyVotes(talkType, selectedTrack)" class="btn btn-xs btn-primary refresh"><i class="fas fa-sync"></i></a>
                                                </div>
                                            </td>

                                         <td>@allScoresForProposals.get(proposalId)</td>
                                    <td><a href="@routes.CFPAdmin.openForReview(proposalId)" class="btn btn-sm btn-primary">@proposalId</a></td>
                                    @relatedProposals.get(proposalId).map { proposal =>
                                        <td>
                                            <small>@proposal.title</small>
                                        </td>

                                        <td>
                                            <small>@Messages(proposal.track.label)</small>
                                        </td>
                                          <td>
                                            <small>@proposal.allSpeakers.map(_.cleanName).mkString(", ")</small>
                                        </td>
                                    }
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
    function handleVote(selector, updateVoteCallback){
        $('#tableMyVotes').find(selector).on('click', function(event) {
            var $btnClicked = $(event.currentTarget);
            var $cell = $btnClicked.parents('td');

            var newScore = updateVoteCallback(Number($cell.attr('data-score')));
            var proposalId = $cell.attr('data-pid');

            $.ajax({
                url: '/cfpadmin/proposal/'+proposalId+'/vote?vote='+newScore,
                cache: false
            }).then(function(){
                $cell.find('.regular-score').text(newScore);
                $cell.attr('data-score', newScore);
                $cell.attr('data-score-updated', ''+newScore !== $cell.attr('data-initial-score'));
                console.log('Vote '+proposalId+' set to '+newScore);
            });
        });
    }

    handleVote('.btn.plus', function(score) { return score+1; });
    handleVote('.btn.minus', function(score) { return score-1; });
});
</script>

}
