@import org.joda.time.DateTime
@(watchedProposals: List[Watcher],
    proposalsById: Map[String, Proposal],
    talkType:String,
    selectedTrack: Option[String],
    proposalsCountByType: Map[String,Int],
    proposalsCountForCurrentTypeByTrack: Map[String,Int],
    allMyVotes: Map[String,Double],
    watcherEventsByProposalId: Map[String, Seq[ProposalEvent]],
    proposalLastVisits: Map[String, DateTime]
)(implicit lang: Lang, flash: Flash, req:RequestHeader)
@main("All my watched proposals") {
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1 class="panel-title"><i class="fas fa-eye"></i> Your Watched Proposals</h1>
            </div>

            <div class="card-body">
                <div class="col-md-12">
                    <h3><i class="fas fa-flask"></i> Search criteria</h3>

                    @tags.renderMyReviewsSearchCriteria(
                        refreshPathAction=(confType, selectedTrack) => routes.CFPAdmin.allMyWatchedProposals(confType, selectedTrack),
                        availableTalkTypes=models.ConferenceDescriptor.ConferenceProposalTypes.ALL,
                        talkType, selectedTrack,
                        proposalsCountByType, proposalsCountForCurrentTypeByTrack
                    )
                    <br/>

                </div>
                @if(watchedProposals.nonEmpty){
                    <div class="col-md-12 col-lg-12">
                        <h3><i class="fas fa-eye"></i> Watched Proposals of type @Messages(talkType)</h3>
                        <table id="tableMyVotes" class="table table-bordered">
                            <caption>List of watched proposals</caption>
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 125px">Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col" style="width: 150px">Track</th>
                                    <th scope="col" style="width: 175px">Speakers</th>
                                    <th scope="col" style="width: 110px">You voted</th>
                                    <th scope="col">Events</th>
                                </tr>
                            </thead>
                            <tbody>

                                @watchedProposals.map { watchedProposal =>
                                        <tr>
                                            <td><a href="@routes.CFPAdmin.openForReview(watchedProposal.proposalId)" class="btn btn-sm btn-primary">@watchedProposal.proposalId</a></td>
                                    @proposalsById.get(watchedProposal.proposalId).map { proposal =>
                                        <td>
                                            <small>@proposal.title</small>
                                        </td>

                                        <td>
                                            <small>@Messages(proposal.track.label)</small>
                                        </td>
                                        <td>
                                            <small>@proposal.allSpeakers.map(_.cleanName).mkString(", ")</small>
                                        </td>
                                        @allMyVotes.get(proposal.id).map{ score =>
                                            <td class="score" data-score="@Math.round(score)">
                                                <span class="btn displayed-score">@if(score==0) { @Messages("Abs") } else { @Math.round(score) }</span>
                                            </td>
                                        }.getOrElse {
                                            <td>-</td>
                                        }
                                        <td>
                                            @watcherEventsByProposalId.get(proposal.id).map{ events =>
                                                <small>
                                                    <strong>Since @library.FormatDate.jodaDatetimeFormat(proposalLastVisits.get(watchedProposal.proposalId).getOrElse(watchedProposal.startedWatchingAt.toDateTime), lang) :</strong>
                                                </small>
                                                <ul class="list-unstyled">
                                                    @defining(List.concat(
                                                        if(NotificationEvent.hasEventOfTypes(events, ProposalResubmitedEvent.getClass)){ List("proposal re-submitted") }else{ Nil },
                                                        if(NotificationEvent.hasEventOfTypes(events, NotificationEvent.PROPOSAL_INTERNAL_COMMENT_SUBMITTED.applicableEventTypes:_*)){
                                                            List(s"${NotificationEvent.countEventsOfTypes(events, NotificationEvent.PROPOSAL_INTERNAL_COMMENT_SUBMITTED.applicableEventTypes)} internal comment(s)")
                                                        }else{ Nil },
                                                        if(NotificationEvent.hasEventOfTypes(events, NotificationEvent.PROPOSAL_PUBLIC_COMMENT_SUBMITTED.applicableEventTypes:_*)){
                                                            List(s"${NotificationEvent.countEventsOfTypes(events, NotificationEvent.PROPOSAL_PUBLIC_COMMENT_SUBMITTED.applicableEventTypes)} public comment(s)")
                                                        }else{ Nil },
                                                        if(NotificationEvent.hasEventOfTypes(events, NotificationEvent.PROPOSAL_COMITEE_VOTES_RESETTED.applicableEventTypes:_*)){ List("comitee votes resetted") }else{ Nil },
                                                        if(NotificationEvent.hasEventOfTypes(events, UpdatedSubmittedProposalEvent.getClass)){ List("content updated") }else{ Nil },
                                                        if(NotificationEvent.hasEventOfTypes(events, ChangedTypeOfProposalEvent.getClass)){ List("type updated") }else{ Nil },
                                                        if(NotificationEvent.hasEventOfTypes(events, NotificationEvent.PROPOSAL_SPEAKERS_LIST_ALTERED.applicableEventTypes:_*)){ List("speakers updated") }else{ Nil }
                                                    )) { labels: List[String] =>
                                                        @labels.map { label =>
                                                            <li><small>- @label</small></li>
                                                        }
                                                    }
                                                </ul>
                                            }
                                        </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                }
            </div>
        </div>
    </div>

}
