@(allVotes:Set[(String,Option[Double])], relatedProposals:Map[String,Proposal])(implicit lang: Lang, flash: Flash, uuid:String, req:RequestHeader)

@main("All my votes") {
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="icon-bar-chart"></i> Your votes</h1>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <h3><i class="icon-beaker"></i> Your personnal leaderboard</h3>
                    You have voted for @allVotes.filter(_._2.isDefined).size talks<br>
                    @defining(allVotes.filter(_._2.isDefined).toList.map(_._2.get)){allScores=>
                        Sum of all your points: @Math.round(allScores.sum)<br>
                        Your average vote is @BigDecimal(allScores.sum/allScores.size).round(new java.math.MathContext(3))
                    }

                </div>

                <div class="col-md-12">
                    <h3><i class="icon-bar-chart"></i> Proposals for which you voted</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Score</th>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Track</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                    @allVotes.filter(_._2.isDefined).toList.sortBy(_._2).reverse.map{case(proposalId, maybeVote)=>
                        @defining(Math.round(maybeVote.get)){score=>
                            <td>
                                <small>
                            @if(score>6){
                                <span class="label label-success">@score</span>
                            }
                            @if(score<4 && score>0){
                                <span class="label label-danger">@score</span>
                            }
                            @if(score>=4 && score<=6){
                                <span class="label label-warning">@score</span>
                            }
                            @if(score == 0) {
                                <span class="label label-default">@score</span>
                            }
                                   </small>
                            </td>
                        }
                            <td><a href="@routes.CFPAdmin.openForReview(proposalId)">@proposalId</a></td>
                        @relatedProposals.get(proposalId).map{proposal=>
                          <td>
                              <small>@proposal.title</small>
                          </td>
                          <td>
                              <small>@Messages(proposal.talkType.id)</small>
                          </td>
                          <td>
                              <small>@Messages(proposal.track.label)</small>
                          </td>
                        }
                        </tr>
                    }
                        </tbody>
                    </table>

                </div>
                <div class="col-md-6">
                    @if(allVotes.filter(_._2.isEmpty).nonEmpty){
                        <h4>Proposals for wich you need to vote</h4>
                        @allVotes.filter(_._2.isEmpty).toList.sortBy(_._1).map{case(proposalId, maybeVote)=>
                            <a href="@routes.CFPAdmin.openForReview(proposalId)">@proposalId</a> <br>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>
}