@(proposals: List[Proposal])(implicit lang: Lang, flash: Flash, req: RequestHeader)
@main("All sponsors's talks") {
<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2>Sponsors talks</h2>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="icon-bar-chart"></i> Proposals from Sponsor or Exhibitor</h1>
                @proposals.size talks
            </div>
        </div>
    </div>
    @proposals.map { proposal =>
            <div class="col-md-12">
                <div class="panel panel-default">
                <div class="panel-body">
                    <h3>@proposal.title</h3>
                    <h4>@Messages(proposal.track.label) - @Messages(proposal.talkType.id)</h4>
                    <p><a href="@routes.CFPAdmin.openForReview(proposal.id)">@proposal.id</a> </p>
                    @tags.renderGravatar(proposal.mainSpeaker)
                    @proposal.secondarySpeaker.map { sc =>
                        @tags.renderGravatar(sc)
                    }
                    @proposal.otherSpeakers.map { s =>
                        @tags.renderGravatar(s)
                    }
                    <h4>Private message</h4>
                    <small>
                        @Html(proposal.privateMessageAsHtml)
                    </small>

                    <a href="@routes.CFPAdmin.removeSponsorTalkFlag(proposal.id)" class="btn btn-sm btn-danger"><i class="icon-warning-sign"></i> @Messages("remove.sponsorFlag")</a>
                </div>
                </div>
            </div>
    }
</div>
}