@(allVotes:List[(models.Proposal,models.Review.ScoreAndTotalVotes)])(implicit lang: Lang, flash: Flash, uuid:String, req:RequestHeader)

@main("All votes") {

    <script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css">

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="icon-bar-chart"></i> All votes</h1>
            </div>

            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-12">
                        <a href="@routes.CFPAdmin.doComputeVotesTotal()" class="btn btn-primary btn-sm"><i class="icon-compass"></i> Recompute total and votes</a>
                        <div class="chart-container">
                            <div id="chart_container">
                                    <div id="y_axis"></div>
                                    <div id="chart"></div>
                            </div>
                        </div>
                    </div>

                <div class="col-md-12">
                    <small>All proposals with state set to SUBMITTED</small>
                    <table id="allProposals" class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Total Score</th>
                                <th>Nb of votes</th>
                                <th>Proposal title</th>
                                <th>Main speaker</th>
                                <th>Track</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @allVotes.map { case (proposal, voteAndTotalVotes) =>
                                <tr>
                                    <td>
                                    @defining(Math.round(voteAndTotalVotes._1)) { score =>
                                        @score
                                    }
                                    </td>
                                    <td>
                                    @defining(voteAndTotalVotes._2) { totalVotes =>
                                      @totalVotes
                                    }
                                    </td>
                                    <td>
                                        <a href="@routes.CFPAdmin.openForReview(proposal.id)">@proposal.title</a>
                                    </td>
                                    <td>
                                        @tags.renderGravatar(proposal.mainSpeaker)
                                    </td>
                                    <td>
                                        @Messages(proposal.track.id)
                                    </td>
                                    <td>
                                        @Messages(proposal.talkType.id)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
    <link type="text/css" rel="stylesheet" href="/assets/js/rick/rickshaw.min.css">
    <script src="/assets/js/rick/d3.v3.js"></script>
    <script src="/assets/js/rick/d3.layout.min.js"></script>
    <script src="/assets/js/rick/rickshaw.min.js"></script>

    <script type="text/javascript">

    var devoxxSeries=[
        @allVotes.sortBy(_._2._2).map{case(proposal, voteAndTotalVotes) =>
            {
                name: '@proposal.id',
                data:[
                   {  x: @voteAndTotalVotes._2, y: @Math.round(voteAndTotalVotes._1) }
                ],
        		color: 'steelblue'
        	},
        }
    ];

    var graph = new Rickshaw.Graph( {
    	element: document.querySelector("#chart"),
    	width: 800,
    	height: 450,
    	renderer: 'scatterplot',
    	stroke: true,
    	padding: { top: 0.05, left: 0.05, right: 0.05 },
    	series: devoxxSeries
    });

var x_axis = new Rickshaw.Graph.Axis.X( { graph: graph } );

var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis'),
} );

    graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
	graph: graph,
	formatter: function(series, x, y) {
		var content =  series.name + ' ' + y + ' pts for ' + x + ' votes';
		return content;
	}
} );

    </script>
<script type="text/javascript">
    $(document).ready(function() {
    $('#allProposals').dataTable({
    "aaSorting": [[ 0, "desc" ]],
    "iDisplayLength": 50,
    "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    "bStateSave": true,
    "aoColumns": [
        { "sType": "numeric"},
        { "sType": "numeric"},
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"}
        ]
    });
    } );
</script>

}