@(allVotes:List[(String,models.Review.ScoreAndTotalVotes)],sortBy:String)(implicit lang: Lang, flash: Flash, uuid:String, req:RequestHeader)

@main("All votes") {
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="icon-bar-chart"></i> All votes</h1>
            </div>

            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="chart-container">
                            <div id="chart_container">
                                    <div id="y_axis"></div>
                                    <div id="chart"></div>
                            </div>
                        </div>
                    </div>

                <div class="col-md-6">
                    <table class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    @if(sortBy=="+score"){
                                        <a href="@routes.CFPAdmin.allVotes(Some("-score"))"><i class="icon-arrow-up"></i> Total Score</a>
                                    }
                                    @if(sortBy=="-score"){
                                        <a href="@routes.CFPAdmin.allVotes(Some("+score"))"><i class="icon-arrow-down"></i> Total Score</a>
                                    }
                                    @if(sortBy!="+score" && sortBy!="-score"){
                                        <a href="@routes.CFPAdmin.allVotes(Some("+score"))">Total Score</a>
                                    }

                                </th>
                                <th>
                                    @if(sortBy=="+vote"){
                                        <a href="@routes.CFPAdmin.allVotes(Some("-vote"))"><i class="icon-arrow-up"></i> Nb of votes</a>
                                    }
                                    @if(sortBy=="-vote"){
                                        <a href="@routes.CFPAdmin.allVotes(Some("+vote"))"><i class="icon-arrow-down"></i> Nb of votes</a>
                                    }
                                    @if(sortBy!="-vote" && sortBy!="+vote"){
                                        <a href="@routes.CFPAdmin.allVotes(Some("+vote"))">Nb of votes</a>
                                    }
                                </th>
                                <th><a href="@routes.CFPAdmin.allVotes(Some("id"))">Proposal ID</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @allVotes.map { case (proposalId, voteAndTotalVotes) =>
                                <tr>
                                    @defining(Math.round(voteAndTotalVotes._1)) { score =>
                                        <td>
                                            <span class="label label-default">@score</span>
                                        </td>
                                    }
                                <td>
                                @defining(voteAndTotalVotes._2) { totalVotes =>
                                    @if(totalVotes > 8) {
                                        <span class="label label-success">@totalVotes</span>
                                    }
                                    @if(totalVotes <= 8 && totalVotes >= 4) {
                                        <span class="label label-warning">@totalVotes</span>
                                    }
                                    @if(totalVotes <4) {
                                        <span class="label label-danger">@totalVotes</span>
                                    }
                                }
                                </td>
                                <td>
                                    <a href="@routes.CFPAdmin.openForReview(proposalId)">@proposalId</a>
                                </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
    <link type="text/css" rel="stylesheet" href="/assets/js/rick/rickshaw.min.css">
    <script src="/assets/js/rick/d3.v3.js"></script>
    <script src="/assets/js/rick/d3.layout.min.js"></script>
    <script src="/assets/js/rick/rickshaw.min.js"></script>


    <script type="text/javascript">

    var devoxxSeries=[
        @allVotes.sortBy(_._2._2).map{case(proposalId, voteAndTotalVotes) =>
            {
                name: '@proposalId',
                data:[
                   {  x: @voteAndTotalVotes._2, y: @Math.round(voteAndTotalVotes._1) }
                ],
        		color: 'steelblue'
        	},
        }
    ];

    var graph = new Rickshaw.Graph( {
    	element: document.querySelector("#chart"),
    	width: 800,
    	height: 450,
    	renderer: 'scatterplot',
    	stroke: true,
    	padding: { top: 0.05, left: 0.05, right: 0.05 },
    	series: devoxxSeries
    });

var x_axis = new Rickshaw.Graph.Axis.X( { graph: graph } );

var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis'),
} );

    graph.render();

var hoverDetail = new Rickshaw.Graph.HoverDetail( {
	graph: graph,
	formatter: function(series, x, y) {
		var content =  series.name + ' ' + y + ' pts for ' + x + ' votes';
		return content;
	}
} );

    </script>

}