@(speakers:List[Webuser])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("CFP Admin webuser") {
<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2><i class="icon-thumbs-up-alt"></i> CFP Admin</h2>
    </div>
    <div class="clearfix"></div>

    @if(flash.get("error").isDefined){
        <div class="alert alert-danger alert-dismissable col-md-12">
            <strong>Error :</strong>
            @flash.get("error").get
        </div>
    }
    @if(flash.get("success").isDefined){
        <div class="alert alert-success alert-dismissable col-md-12">
            @flash.get("success").get
        </div>
    }
    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3>All speakers</h3>
            <span class="label label-info">@speakers.size users</span>
            <span class="label label-info">@speakers.count(w => Webuser.hasAccessToCFP(w.uuid)) CFP users</span>
        </div>
        <div class="panel-body">
            @if(speakers.nonEmpty){
            <table class="table table-bordered table-strippted">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Digest</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @speakers.sortBy(w=>Webuser.hasAccessToCFP(w.uuid)).reverse.map{ webuser: Webuser =>
                    <tr>
                        <td>
                            @tags.renderGravatar(webuser.uuid, showName=true, showPhoto=false)
                        </td>
                         <td>
                             <small>@webuser.email</small>
                        </td>
                        <td>
                        @if(Webuser.isMember(webuser.uuid, "cfp")) {
                            @Digest.retrieve(webuser.uuid)
                        }else {
                            N/A
                        }
                        </td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="@routes.Backoffice.authenticateAs(webuser.uuid)"><i class="icon-lock"></i> Authenticate</a>
                           @if(SecureCFPController.hasAccessToAdmin(req)){
                                @if(Webuser.hasAccessToCFP(webuser.uuid)){
                                    <a class="btn btn-sm btn-danger" href="@routes.Backoffice.switchCFPAdmin(webuser.uuid)">Remove from CFP</a>
                                }else{
                                    <a class="btn btn-sm btn-success" href="@routes.Backoffice.switchCFPAdmin(webuser.uuid)">Add to CFP</a>
                                }
                           }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            }else{
                <P>There is no web user</P>
            }
        </div>
        </div>
    </div>
</div>
}