@(events: List[Event], allProposalsForReview: List[Proposal])(implicit lang: Lang, flash: Flash)

@main("CFP Admin") {

    <div class="row">
        <div class="col-lg-offset-4 col-md-4">
            <h2><i class="icon-thumbs-up-alt"></i> CFP Admin</h2>
        </div>
        <div class="clearfix"></div>

        @if(flash.get("error").isDefined){
            <div class="alert alert-danger alert-dismissable col-md-12">
                <strong>Error :</strong>
                @flash.get("error").get
            </div>
        }
        @if(flash.get("success").isDefined){
            <div class="alert alert-success alert-dismissable col-md-12">
                @flash.get("success").get
            </div>
        }

        <div class="col-md-12 panel panel-default">
            <div class="panel-heading">
                <h3><i class="icon-ok-circle"></i> Your todo list </h3>
            </div>
            <div class="panel-body">
                @if(allProposalsForReview.nonEmpty){
                <table class="table table-bordered table-strippted">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Track</th>
                            <th>Speaker</th>
                            <th>Type of talk</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @allProposalsForReview.map { proposal: Proposal =>
                        <tr>
                            <td>
                                @proposal.title
                            </td>
                            <td>
                            @Messages(proposal.track.label)
                            </td>
                            <td>
                            @tags.renderGravatar(proposal.mainSpeaker)
                            @proposal.secondarySpeaker.map{sc=>
                                @tags.renderGravatar(sc)
                            }
                            @proposal.otherSpeakers.map{s=>
                                @tags.renderGravatar(s)
                            }
                            </td>
                            <td>@Messages(proposal.talkType.id)</td>
                            <td>
                                <a href="@routes.CFPAdmin.openForReview(proposal.id)" title="Open for review">
                                    Review</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                }else{
                    <P>There is no new talks</P>
                }
                <a href="@routes.CFPAdmin.leaderBoard()" class="btn btn-sm btn-primary"><i class="icon-trophy"></i> Show leaderboard</a>
            </div>
        </div>

        <div class="col-md-12 panel panel-default">
            <div class="panel-heading">
                <h3><i class="icon-stackexchange"></i> Recent events</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-strippted">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Author</th>
                            <th>Source</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                    @events.map { event: Event =>
                        <tr>
                            <td>
                                <small>@event.date.map(_.toString("dd/MM HH:mm"))</small>
                            </td>
                            <td>
                                @tags.renderGravatar(event.uuid)
                            </td>
                            <td><small>@event.source</small></td>
                            <td><small>@event.msg</small></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}