@(events: List[Event], allProposalsForReview: List[Proposal])(implicit lang: Lang, flash: Flash)

@main("CFP Admin") {

    <div class="row">
        <div class="col-lg-offset-4 col-md-4">
            <h2><i class="icon-thumbs-up-alt"></i> CFP Admin</h2>
        </div>
        <div class="clearfix"></div>

        @if(flash.get("error").isDefined){
            <div class="alert alert-danger alert-dismissable col-md-12">
                <strong>Error :</strong>
                @flash.get("error").get
            </div>
        }
        @if(flash.get("success").isDefined){
            <div class="alert alert-success alert-dismissable col-md-12">
                @flash.get("success").get
            </div>
        }

        <div class="col-md-12 panel panel-default">
            <div class="panel-heading">
                <h3><i class="icon-stackexchange"></i> Recent events</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-strippted">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Author</th>
                            <th>Source</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                    @events.map { event: Event =>
                        <tr>
                            <td>
                                @event.date.map(_.toString("dd/MM HH:mm"))
                            </td>
                            <td>
                            @event.author
                            </td>
                            <td>@event.source</td>
                            <td>@event.msg</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 panel panel-default">
            <div class="panel-heading">
                <h3><i class="icon-reply-all"></i> Your todo list </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-strippted">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Track</th>
                            <th>Type of talk</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @allProposalsForReview.map { proposal: Proposal =>
                        <tr>
                            <td>
                                @proposal.title
                            </td>
                            <td>
                            @Messages(proposal.track.label)
                            </td>
                            <td>@Messages(proposal.talkType.label)</td>
                            <td>
                                <a href="@routes.CFPAdmin.openForReview(proposal.id.get)" title="Open for review">
                                    Review</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}