@(events: List[Event],
 allProposalsForReview: List[Proposal],
 totalEvents:Long,
 page:Int,
 sort:Option[String],
 ascdesc:Option[String],
 track:Option[String])(implicit flash: Flash, lang: Lang, req:RequestHeader)

@main("CFP Admin") {
    <div class="row">

        <div class="col-md-12 col-sm-12 col-lg-12">

            <div class="panel-body">
                <div class="button-group">
                    <a href="@routes.CFPAdmin.leaderBoard()" class="btn btn-sm btn-primary"><i class="icon-trophy"></i> @Messages("admin.btn.leaderboard")</a>
                    <a href="@routes.GoldenTicketAdminController.showStats()" class="btn btn-sm btn-success">Golden Tickets Stats</a>
                    <a href="@routes.CFPAdmin.allMyVotes()" class="btn btn-sm btn-primary"><i class="icon-bar-chart"></i> @Messages("admin.btn.myvotes")</a>
                    <a href="@routes.CFPAdmin.showProposalsNotReviewedCompareTo(None)" class="btn btn-sm btn-primary"><i class="icon-circle-arrow-right"></i> @Messages("admin.btn.otherReviewer")</a>
                    <a href="@routes.CFPAdmin.allSponsorTalks()" class="btn btn-sm btn-primary"><i class="icon-dollar"></i> @Messages("admin.btn.sponsortalks")</a>
                    <a href="@routes.CFPAdmin.allVotes("all",None)" class="btn btn-sm btn-warning"><i class="icon-large"></i><i class="icon-adjust"></i> @Messages("admin.btn.allvotes")</a>
                    <a href="@routes.InviteController.allInvitations()" class="btn btn-sm btn-primary"><i class="icon-group"></i> @Messages("admin.btn.speakersInvited")</a>
                    <a href="@routes.CFPAdmin.newOrEditSpeaker(None)" class="btn btn-sm btn-primary"><i class="icon-umbrella"></i> @Messages("admin.btn.createNewspeaker")</a>
                    @if(SecureCFPController.hasAccessToAdmin(req)){
                        <a href="@routes.Backoffice.allProposals()" class="btn btn-sm btn-danger"><i class="icon-warning-sign"></i> @Messages("admin.btn.changeState")</a>
                    }
                </div>
            </div>

            @if(flash.get("error").isDefined) {
                <div class="alert alert-danger alert-dismissable">
                    <strong>Error :</strong>
                    @flash.get("error").getOrElse("?")
                </div>
            }
            @if(flash.get("success").isDefined) {
                <div class="alert alert-success alert-dismissable">
                @flash.get("success").getOrElse("?")
                </div>
            }

            <div class="panel-body">

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3><i class="icon-ok-circle"></i> @Messages("admin.proposals.todolist.title") <small>@Messages("cfpadmin.toreview", allProposalsForReview.size)</small></h3>
                        </div>
                    </div>

                    <i class="icon-filter"></i> Filter on
                    @Track.allIDs.map{idTrack=>
                        @if(track.get.equals(idTrack)) {
                            <a href="@routes.CFPAdmin.index(page, sort, ascdesc, Option(idTrack))" class="btn btn-default btn-success">@idTrack</a>
                        }else {
                            <a href="@routes.CFPAdmin.index(page, sort, ascdesc, Option(idTrack))" class="btn btn-default btn-sm">@idTrack</a>
                        }
                    }

                    @if(allProposalsForReview.nonEmpty) {
                        <br>
                        <br>
                        <table class="table table-bordered table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>@tags.renderThTag("track", page, sort, ascdesc)</th>
                                    <th>Speakers</th>
                                    <th>@tags.renderThTag("talkType", page, sort, ascdesc)</th>
                                    <th>@Messages("admin.proposals.th.action")</th>
                                </tr>
                            </thead>
                            <tbody>
                            @allProposalsForReview.map { proposal: Proposal =>
                                <tr>
                                    <td>
                                        @proposal.title
                                        @if(proposal.tags.isDefined) {
                                            <br><br>
                                            @proposal.tags.get.filter(tag => tag.value.nonEmpty).map(tag => tags.renderProposalTag(tag))
                                        }
                                    </td>
                                    <td>
                                    @Messages(proposal.track.label)
                                    </td>
                                    <td>
                                        @tags.renderGravatar(proposal.mainSpeaker)
                                        @proposal.secondarySpeaker.map { sc =>
                                            @tags.renderGravatar(sc)
                                        }
                                        @proposal.otherSpeakers.map { s =>
                                            @tags.renderGravatar(s)
                                        }
                                    </td>
                                    <td>@Messages(proposal.talkType.id)</td>
                                    <td>
                                        <a href="@routes.CFPAdmin.openForReview(proposal.id)" title="Open for review" class="btn btn-primary btn-sm">@Messages("admin.btn.review")</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    } else {
                        @if(track.isDefined){
                            <h4>@Messages("admin.cfp.empty.track", Messages(track.get +".leaderboard"))</h4>
                        }else{
                            <h4>@Messages("admin.cfp.empty")</h4>
                        }
                    }
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon-stackexchange"></i> @Messages("admin.cfp.recentEvents")</h3>
                </div>

                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>@Messages("admin.cfp.date")</th>
                                <th>@Messages("admin.cfp.author")</th>
                                <th>@Messages("admin.cfp.propId")</th>
                                <th>@Messages("admin.cfp.msg")</th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <small>
                                    @Messages("admin.cfp.totalEvents"): @totalEvents - Page @page/@(totalEvents/20)
                                    @if(page > 0){
                                      <a href="@routes.CFPAdmin.index(page-1,sort,ascdesc,track)">&lt; @Messages("previous.page")</a> -
                                    }
                                    @if(page < totalEvents/20){
                                      <a href="@routes.CFPAdmin.index(page+1,sort,ascdesc,track)">@Messages("next.page") &gt;</a>
                                    }</small>
                                </td>
                            </tr>

                        </thead>
                        <tbody>
                        @events.map { event: Event =>
                            <tr>
                                <td class="text-center">
                                    <small>@event.date.map(s=>s.toDateTime(org.joda.time.DateTimeZone.forID("Europe/Brussels")).toString("dd/MM HH:mm"))</small>
                                </td>
                                <td class="text-center">
                                @tags.renderGravatar(event.uuid,showName = false)
                                </td>
                                <td class="text-center">
                                @tags.renderObjRef(event.objRef)
                                </td>
                                <td><small>@event.msg</small></td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <small>
                                    @Messages("admin.cfp.totalEvents"): @totalEvents - Page @page/@(totalEvents/20)
                                    @if(page > 0){
                                      <a href="@routes.CFPAdmin.index(page-1,sort,ascdesc,track)">&lt; @Messages("previous.page")</a> -
                                    }
                                    @if(page < totalEvents/20){
                                      <a href="@routes.CFPAdmin.index(page+1,sort,ascdesc,track)">@Messages("next.page") &gt;</a>
                                    }
                                    </small>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
}