@(proposals: List[Proposal], delayedReviewReasonByProposalId: Map[String,String])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("All my delayed reviews") {
    <div class="row py-3">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <a href="@routes.CFPAdmin.allMyWatchedProposals()" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-eye"></i> @Messages("admin.btn.mywatches")</a>
            <a href="@routes.CFPAdmin.delayedReviews()" class="btn btn-sm btn-success"><i aria-hidden="true" class="fas fa-clock"></i> @Messages("admin.btn.delayed-reviews")</a>
            <a href="@routes.CFPAdmin.allMyVotes()" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-chart-bar"></i> @Messages("admin.btn.myvotes")</a>
        </div>
    </div>
    @tags.renderDelayedReviews(openForReviewAction=(proposal) => routes.CFPAdmin.openForReview(proposal.id), proposals, delayedReviewReasonByProposalId)
}
