@(proposal: Proposal)(implicit flash: Flash, lang: Lang, req: RequestHeader)

@main(s"[CFP] history ${proposal.id}") {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>@Messages("history")</h3>
                </div>

                <div class="panel-body">
                <div class="panel-body">
                    @Event.loadEventsForObjRef(proposal.id).sortBy(_.date.map(_.getMillis).getOrElse(0L)).map { event =>
                     <small><strong>@event.date.map(s=>s.toDateTime(org.joda.time.DateTimeZone.forID("Europe/Brussels")).toString("EEE dd/MM HH:mm")):</strong> @event.msg</small><br>
                    }
                </div>
            </div>

        </div>
    </div>


}
