@(proposal: Proposal)(implicit flash: Flash, lang: Lang, req: RequestHeader)

@main(s"[CFP] history ${proposal.id}") {
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>@Messages("history")</h3>
                </div>

                <div class="card-body">
                <div class="card-body">
                    @Event.loadEventsForObjRef(proposal.id).sortBy(_.timezonedDate().getMillis).map { event =>
                     <small>
                         <strong>
                             @event.timezonedDate().toString("EEE dd/MM HH:mm")
                             (@models.Webuser.findByUUID(event.creator).map(_.cleanName).getOrElse(""))
                             :
                         </strong>
                         @event.message()
                     </small><br>
                    }
                </div>
            </div>

        </div>
    </div>


}
