@()(implicit lang: Lang, flash: Flash)

@main("CFP Admin") {

    <div class="row">
        <div class="col-lg-offset-4 col-md-4">
            <h2><i class="icon-thumbs-up-alt"></i> CFP Admin</h2>
        </div>
        <div class="col-md-6">
            <div class="panel col-lg-offset-2 panel-default">
                <div class="panel-heading">
                    <h3><i class="icon-signin"></i> @Html(Messages("index.method1"))</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum nec mergitur.</p>
                </div>
            </div>
        </div>
    </div>
}