@(allTrackLeaders:Seq[(String, String)])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@import helper.twitterBootstrap._
@import org.apache.commons.lang3.StringUtils

@main("Diff between you and another reviewer"){
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><i class="icon-user-md"></i> Configure track leader</h3>
            </div>

            <div class="panel-body">
            @if(flash.get("error").isDefined) {
            <div class="alert alert-danger alert-dismissable">
            <strong>Error :</strong>
            @flash.get("error").get
            </div>
            }
            @if(flash.get("success").isDefined) {
            <div class="alert alert-success alert-dismissable">
            @flash.get("success").get
            </div>
            }
@helper.form(action = routes.CFPAdmin.updateTrackLeaders()) {
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Track name</th>
                        <th>Track leader</th>
                    </tr>
                </thead>
                <tbody>
                        @ConferenceDescriptor.ConferenceTracks.ALL.map{track=>
                        <tr>
                            <td>@Messages(track.label)</td>
                            <td>
                            <div class="input">
                                <select id="@track.id" name="@track.id">
                                        <option value="no_track_lead">--- No Track Leader ---</option>
                                         @allTrackLeaders.map { uuidAndName =>
                                           <option @if(TrackLeader.isTrackLeader(track.id, uuidAndName._1)){ selected } value="@uuidAndName._1"> @uuidAndName._2 </option>
                                         }
                                </select>
                            </div>
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
<button value="save" type="submit" class="btn btn-success"><i class="icon-save"></i> Save the full list</button><br>
<a href="@routes.Backoffice.homeBackoffice()" class="btn btn-default">Go back to Backoffice</a>
}

            </div>
        </div>
    </div>
</div>
}
