@(allMyVotes:Set[(String,Option[Double])], relatedProposals:Map[String,Proposal], talkType:String)(implicit lang: Lang, flash: Flash, req:RequestHeader)


@main("All my votes") {

    <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><i class="icon-bar-chart"></i> @Messages("gt.yourVotes")</h1>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <h3><i class="icon-beaker"></i> @Messages("gt.personnal")</h3>
                    @if(allMyVotes.nonEmpty){
                        @Messages("gt.youReviewed", allMyVotes.count(_._2.isDefined))<br>

                        @defining(allMyVotes.filter(_._2.isDefined).filterNot(_._2 == Some(0)).toList.map(_._2.get)){allScores=>
                            @Messages("gt.youVoted", allMyVotes.count(s => s._2.isDefined && s._2 != Some(0)))<br>
                            @Messages("gt.averageVote", library.Stats.average(allScores))
                        }
                    }else{
                        @Messages("gt.noVotes")
                    }

                </div>
                @if(allMyVotes.nonEmpty){
                    <div class="col-md-12">
                       <h3><i class="icon-bar-chart"></i> @Messages("gt.myvotes", Messages(talkType))</h3>

                        <table class="table table-bordered proposals.@talkType" data-talk-type="@talkType">
                            <thead>
                                <tr>
                                    <th>Score</th>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Track</th>
                                    <th>Speakers</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                @allMyVotes.filter(_._2.isDefined).toList.sortBy(_._2).reverse.map { case (proposalId, maybeVote) =>
                                    @defining(Math.round(maybeVote.get)) { score =>
                                        <td class="btn-color-@score btn-sm"><small>@score</small></td>
                                    }
                                <td><a href="@routes.GoldenTicketController.openForReview(proposalId)" class="btn btn-sm btn-primary">@proposalId</a></td>
                                    @relatedProposals.get(proposalId).map { proposal =>
                                        <td>
                                            <small>@proposal.title</small>
                                        </td>

                                        <td>
                                            <small>@Messages(proposal.track.label)</small>
                                        </td>
                                          <td>
                                            <small>@proposal.allSpeakers.map(_.cleanName).mkString(", ")</small>
                                        </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                }
            </div>
        </div>
    </div>
</div>



}