@(allProposalsForReview: List[Proposal], page:Int, sort:Option[String], ascdesc:Option[String])(implicit flash: Flash, lang: Lang, req:RequestHeader)

@mainGoldenTicket("CFP Admin") {

    <div class="row">
        <div class="col-lg-offset-4 col-md-4">
            <h2><img src="@routes.Assets.at(path="/public",file="images/ticket_admin.jpg")" alt="Ticket"><br> CFP for Golden ticket</h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12">

            @if(flash.get("error").isDefined) {
                <div class="alert alert-danger alert-dismissable">
                    <strong>Error :</strong>
                    @flash.get("error").get
                </div>
            }
            @if(flash.get("success").isDefined) {
                <div class="alert alert-success alert-dismissable">
                @flash.get("success").get
                </div>
            }

            <div class="panel panel-default">
                <div class="panel-heading">
                    <p><small>Please respect the privacy of people submitting talks to Devoxx UK. By opening this account
                        you agree not to disclose or publish publicly, including via social media, any of
                        the information you see in the CFP tool.</small></P>
                </div>
                <div class="panel-body">
                    <p>This is the full list of Proposals. You can sort by Proposal title, by Speaker or type of Talk.</p>
                    <p>If needed, you can also <a href="@routes.GoldenTicketController.allMyGoldenTicketVotes()">review your Votes</a> while the CFP is open.</p>
                    <p>If you have a specific speaker you would love to see present at Devoxx UK, drop an email to mark.hazel@@devoxx.co.uk and we’ll do our best to get them there.</p>
                    <br>
                    @if(allProposalsForReview.nonEmpty) {
                        <table class="table table-bordered table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>@tags.gticket.renderThTag("title", page, sort, ascdesc)</th>
                                    <th>@tags.gticket.renderThTag("track", page, sort, ascdesc)</th>
                                    <th>@tags.gticket.renderThTag("mainSpeaker", page, sort, ascdesc)</th>
                                    <th>Track</th>
                                    <th>@Messages("admin.proposals.th.action")</th>
                                </tr>
                                <tr>
                                    <th colspan="5">
                                       <small>Your todo list size: @allProposalsForReview.size</small>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            @allProposalsForReview.map { proposal: Proposal =>
                                <tr>
                                    <td>
                                        @proposal.title
                                    </td>
                                    <td>
                                    @Messages(proposal.track.label)
                                    </td>
                                    <td>
                                        @tags.renderGravatar(proposal.mainSpeaker)
                                        @proposal.secondarySpeaker.map { sc =>
                                            @tags.renderGravatar(sc)
                                        }
                                        @proposal.otherSpeakers.map { s =>
                                            @tags.renderGravatar(s)
                                        }
                                    </td>
                                    <td>@Messages(proposal.talkType.id)</td>
                                    <td>
                                        <a href="@routes.GoldenTicketController.openForReview(proposal.id)" title="Open for review" class="btn btn-primary btn-sm">@Messages("admin.btn.review")</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    } else {
                        <h4>@Messages("admin.cfp.empty")</h4>
                    }

                </div>
            </div>
        </div>

    </div>
}