# Ignore all dotfiles...
.*
*~

# except for .gitignore
!.gitignore

# Ignore Play! working directory #
# in Dev branch, we do not want to save the application.conf file cause it contains password
conf/application.conf
conf/application_nic.conf
db
eclipse
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml

### Scala ###
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

/public/speakers/
