@(listOfCalendars:List[com.google.api.services.calendar.model.CalendarListEntry])(implicit lang: Lang, flash: Flash, uuid:String, req:RequestHeader)

@main("Program builder - List of Calendars"){
  <div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-heading">
           <h2><i class="icon-calendar"></i> Program builder</h2>
    @if(flash.get("error").isDefined){
        <div class="alert alert-danger alert-dismissable col-md-12">
            <strong>Error :</strong>
            @flash.get("error").get
        </div>
    }
    @if(flash.get("success").isDefined){
        <div class="alert alert-success alert-dismissable col-md-12">
            @flash.get("success").get
        </div>
    }

        </div>
        <div class="panel-body">
<h2>List of calendars</h2>
            @listOfCalendars.map{calendar=>
              <h5>@calendar.getSummary()</h5>
                <p>Id: @calendar.getId()</p>
                <p>@calendar.getDescription()</p>
                <a href="@routes.ProgramBuilder.deleteCalendar(calendar.getId())" class="btn btn-sm btn-danger">Delete this calendar</a>

            }
        </div>
        </div>
    </div>
</div>
}