@(newCalendarForm:Form[(String,String)])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@import helper.twitterBootstrap._
@main("Program builder - New Calendar"){
  <div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-heading">
           <h2><i class="icon-calendar"></i> Program builder</h2>
    @if(flash.get("error").isDefined){
        <div class="alert alert-danger alert-dismissable col-md-12">
            <strong>Error :</strong>
            @flash.get("error").get
        </div>
    }
    @if(flash.get("success").isDefined){
        <div class="alert alert-success alert-dismissable col-md-12">
            @flash.get("success").get
        </div>
    }

        </div>
        <div class="panel-body">
            <h2>New calendar</h2>
            @helper.form(action = routes.ProgramBuilder.createCalendar) {
                @helper.inputText(newCalendarForm("summary_cal"))
                @helper.inputText(newCalendarForm("description_cal"))
                <button class="btn btn-success" type="submit">Create</button>
            }
        </div>
        </div>
    </div>
</div>
}