@(timeSlots: List[Slot], rooms:List[Room])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@import org.joda.time.DateTimeZone

@views.html.Publisher.devoxxFR2016("My Schedule") {
    @if(timeSlots.isEmpty){

    <div class="columns large-12 woocommerce">
        <h1>Build your own schedule</h1>
        <p>You don't have any schedule yet.</p>
        <p>Browse the <a href="@routes.Publisher.showByDay("wednesday")">schedule</a> and select a talk by clicking the little star next to it. Retrieve your schedule here, with up-to-date rooms and details for each talk.</p>
        <img src="/assets/devoxxbe2015/images/myschedule.png" alt="My schedule">
    </div>
    }
    @timeSlots.groupBy(_.to.getDayOfWeek).toList.sortBy(_._1).map { case (day, slots:List[Slot]) =>
    <h2>Day @day</h2>
    <div class="columns large-12 woocommerce">
        <table class="agendaTable">
            <tr>
                <th><i class="icon-time"></i> Room</th>
                @rooms.sorted.map { roomName: Room =>
                    <td>@roomName.name</td>
                }
                </tr>

            @slots.groupBy(s => s.from.getMillis).toList.sortWith(_._1 < _._1).map { case (_, subSlots) =>
            <tr >
                <th class="timeSlot">
                    @subSlots.head.from.toDateTime(DateTimeZone.forID("Europe/Brussels")).toString("HH:mm")
                    - @subSlots.head.to.toDateTime(DateTimeZone.forID("Europe/Brussels")).toString("HH:mm")
                </th>
                @rooms.sorted.map { room =>
                    @tags.publisher.tagRenderRow(subSlots, room, rooms.size)
                }
            </tr>
            }


    </table>
    </div>
    }
}