@(timeSlots: List[Slot], rooms:List[Room])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@import org.joda.time.DateTimeZone

@views.html.Publisher.devoxxFR2020("My Schedule") {
    @if(timeSlots.isEmpty){

    <div class="columns large-12 woocommerce">
        <h1>@Messages("fav.title")</h1>
        <p>@Messages("fav.noAgenda")</p>
        <p>@Messages("fav.txt1") <a href="@routes.Publisher.showByDay("monday")">@Messages("fav.schedule")</a> @Messages("fav.txt2")</p>
        <img src="/assets/devoxxbe2016/images/myschedule.png" alt="My schedule">
    </div>
    }
    @timeSlots.groupBy(_.to.getDayOfWeek).toList.sortBy(_._1).map { case (day, slots:List[Slot]) =>
    <h2>@Messages("fav.day."+day)</h2>
    <div class="columns large-12 woocommerce">
        <table class="agendaTable">
             @if(ConferenceDescriptor.isShowRoom) {
                 <tr>
                     <th><i class="far fa-calendar-alt-check"></i> Room</th>
                     @rooms.sorted.map { roomName: Room =>
                         <td>@roomName.name</td>
                     }
                 </tr>
             }

            @slots.groupBy(s => s.from.getMillis).toList.sortWith(_._1 < _._1).map { case (_, subSlots) =>
            <tr >
                <th class="timeSlot">
                    @subSlots.head.from.toDateTime(DateTimeZone.forID("Europe/Brussels")).toString("HH:mm")
                    - @subSlots.head.to.toDateTime(DateTimeZone.forID("Europe/Brussels")).toString("HH:mm")
                </th>
                @rooms.sorted.map { room =>
                    @tags.publisher.tagRenderRow(subSlots, room, rooms.size,showEndTime=true, None)
                }
            </tr>
            }


    </table>
    </div>
    }
}
