@(allConf: List[(models.Proposal, (models.Review.Score, models.Review.TotalVoter, models.Review.TotalAbst, models.Review.AverageNote, models.Review.StandardDev))])

 <div class="col-sm-12 col-md-6 col-lg-6">
    <h4>@Messages("gtAdmin.bottom10")</h4>

    <table id="proposals" class="table table-bordered">
        <thead>
            <tr>
                <th>Score</th>
                <th>Voters</th>
                <th>Title</th>
                <th>Track</th>
            </tr>
        </thead>
        <tbody>
        @allConf.sorted(ReviewByGoldenTicket.orderByAverageScore).take(10).map { case (p, stats) =>
        <tr>
            <td>
                @stats._4.n
            </td>
            <td>
                @stats._2.i
            </td>
            <td>
                <a href="@routes.CFPAdmin.openForReview(p.id)">
                    <small>@Html(p.title)</small>
                </a>
            </td>
            <td>
                <small>@Html(Messages(p.track.label))</small>
            </td>
        </tr>
        </tbody>
        }
    </table>
</div>
