.body{
    overflow:hidden; /* hide scrollbar */
}
.tweetWall {
    margin: 0;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 400;
    background: #3a3836;
    background-image: url('../images/tweetwall.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    overflow:hidden;
}

@font-face {
    font-family: 'GothamBook';
    src: url('../font/gotham-black-webfont-webfont.eot');
    src: url('../font/gotham-black-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../font/gotham-black-webfont-webfont.woff') format('woff'), url('../font/gotham-black-webfont-webfont.ttf') format('truetype'), url('../font/gotham-black-webfont-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: 700;
}

#content {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    min-height: 400px;
    overflow: hidden;
}

#header {
    height: 36px;
    border-bottom: 8px #ffffff solid;
}

.title {
    position: fixed;
    top: 0;
    left: 17px;
}

.time {
    width: 60px;
    margin: 0 auto;
}

.helper {
    position: fixed;
    top: 5px;
    right: 17px;
}

.row-tweets {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    float: left;

}
.row-tweets-header {
    padding-top: 0;
    padding-right: 0;
    padding-left: 17px;
    padding-bottom: 0;
}
.row-tweets-content{
    padding-top: 0;
    padding-right: 0;
    padding-left: 17px;
    padding-bottom: 0;
}

ul{
  list-style-type: none;
}

.best-talks {
    width: 50%;
    padding: 0;
    float: left;
    background-image: url('../images/pixel_gris.png');
    background-repeat: repeat;

}

.best-talks-header {
    padding-top: 0;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 0;
}

.best-talks-content {
    padding-top: 0;
    padding-right:17px;
    padding-left: 17px;
    padding-bottom: 0;
}

small.best-talks-header {
    font-size: 14px;
}

.next-talks {
    width: 50%;
    padding: 0;
    float: left;
    background-image: url('../images/pixel_gris.png');
    background-repeat: repeat;

}

.next-talks-header {
    padding-top: 0;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 0;
}

.next-talks-content {
    padding-top: 0;
    padding-right:17px;
    padding-left: 17px;
    padding-bottom: 0;
}



h1 {
    font-family: 'GothamBook', sans-serif;
    font-size: 28px;
    font-weight: 900;
}

h2 {
    font-family: 'GothamBook', sans-serif;
    font-size: 22px;
    font-weight: 900;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 900;
}

ul{
    padding-left: 0;
    -webkit-padding-start: 0;
}
.tweets {
  list-style-type: none;
  margin: 0 auto
}


.tweets li {
    z-index: 1;
    background-color: #fff;
    margin-bottom: 12px;
    padding-top: 0;
    padding-bottom: 2px;
    padding-right: 10px;
    min-height: 60px;
    font-weight: 400;
    box-shadow: 0 7px 0 -4px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: left;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}


.tweet-photo {
    height: 48px;
    width: 48px;
    float: left;
    padding: 7px;
    background-color: white;
}

.sn {
    color: red;
}

.un {
    color: black;
}

.tx {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
/***********************************************************************/
li.new-item {
  opacity: 0;
  -webkit-animation: new-item-animation .3s linear forwards;
  -o-animation: new-item-animation .3s linear forwards;
  animation: new-item-animation .3s linear forwards
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    transform: translateY(-200px)
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform : translateY(0)
  }
}

@-webkit-keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px)
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform : translateY(0)
  }
}
/***********************************************************************/
li.removed-item {
  -webkit-animation: removed-item-animation 1s linear forwards;
  -webkit-transform-origin: 0;
  animation: removed-item-animation 1s linear forwards  transform-origin: 0% 100%
 -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px)
  }
}


@-webkit-keyframes removed-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px)
  }
}

.actif{
    z-index: 1;
    background-color: #fff;
    margin-bottom: 12px;
    padding-top: 0;
    padding-bottom: 2px;
    padding-right: 10px;
    min-height: 60px;
    font-weight: 400;
    box-shadow: 0 7px 0 -4px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: left;
    opacity: 1;
}
.humoricon{
    height:20px;
    width:20px;
    float:right;
    padding: 2px;
    background-color: white;
}

.bestTalkTitle{
    color:#000;
    font-family: GothamBook,Arial,sans-serif;
    font-size: 20px;
}