@(allVotes:List[(models.Proposal,models.Review.ScoreAndTotalVotes)], totalGoldenTicket:Long)(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("Golden ticket - Stats") {

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1><i class="icon-bar-chart"></i> Golden ticket stats</h1>
            </div>

            <div class="panel-body">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p>@Messages("gtAdmin.totalGT",totalGoldenTicket)</p>
                    <p>@Messages("gtAdmin.totalReviewer",allVotes.length)</p>
                    <p>@Messages("gtAdmin.average", (allVotes.map(_._2._4).sum / allVotes.length)) </p>

                </div>


                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>@Messages("gtAdmin.top5")</h3>

                     <table id="proposals" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Score</th>
                                <th>Voters</th>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Track</th>
                            </tr>
                        </thead>
                        <tbody>
                   @allVotes.sorted(ReviewByGoldenTicket.orderByAverageScore).reverse.take(5).map{case(p:Proposal,stats:models.Review.ScoreAndTotalVotes)=>
                           <tr>
                               <td>
                                   @stats._4
                               </td>
                                <td>
                                   @stats._2
                               </td>
                                <td><a href="@routes.CFPAdmin.openForReview(p.id)">@p.id</a></td>
                          <td>
                              <small>@p.title</small>
                          </td>
                          <td>
                              <small>@Messages(p.talkType.id)</small>
                          </td>
                          <td>
                              <small>@Messages(p.track.label)</small>
                          </td>

                        </tr>
                    }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>@Messages("gtAdmin.topWorst")</h3>

                     <table id="proposals" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Score</th>
                                <th>Voters</th>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Track</th>
                            </tr>
                        </thead>
                        <tbody>
                   @allVotes.sorted(ReviewByGoldenTicket.orderByAverageScore).take(5).map{case(p:Proposal,stats:models.Review.ScoreAndTotalVotes)=>
                           <tr>
                               <td>
                                   @stats._4
                               </td>
                                <td>
                                   @stats._2
                               </td>
                                <td><a href="@routes.CFPAdmin.openForReview(p.id)">@p.id</a></td>
                          <td>
                              <small>@p.title</small>
                          </td>
                          <td>
                              <small>@Messages(p.talkType.id)</small>
                          </td>
                          <td>
                              <small>@Messages(p.track.label)</small>
                          </td>

                        </tr>
                    }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>
}