@(speakers:List[Speaker])
@import org.apache.commons.lang3.StringUtils
@import org.apache.commons.lang3.StringEscapeUtils
<!DOCTYPE html>
<html>
<head>
    <title>Speakers</title>
<style>
body{
    font-family: monospace, monospace;
    font-weight: normal;
    font-size: 12px;
}
.sql{
    color:darkblue;
    font-weight: bold;
}
.d{
    color:darkgreen;
    font-weight: normal;
}
</style>
</head>
<body>

<h2>@speakers.size speakers with Terms&Conditions accepted</h2>
<p>Copy and paste to Navicat for MYSQL</p>
<p>- User id > 10 000</p>
<p>- The password is not valid</p>
<p>- The UUID is a substring of the Redis one, 31 char</p>
<p>- All fields are escaped</p>
<hr>
<span class="sql">DELETE FROM `user` where `id` >= '10000' LIMIT @speakers.size ;</span><br>
@speakers.zipWithIndex.map{case(s:Speaker,idx:Int)=>
<span class="sql">insert into</span> `user` <span class="sql">values</span>(
<span class="d">'@(idx+10000)'</span>,
<span class="d">'2014-10-11 12:00:00'</span>,
<span class="d">'2014-10-11 12:00:00'</span>,
<span class="d">'@StringUtils.substring(s.uuid,0,31)'</span>,
<span class="d">'1'</span>,
<span class="d">b'1'</span>,
<span class="d">b'0'</span>,
<span class="d">b'0'</span>,
<span class="d">'@s.company'</span>,
<span class="d">'BELGIUM'</span>,
<span class="d">b'0'</span>,
<span class="d">'@s.email',b'1'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(s.firstName.getOrElse(""))'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(s.name.getOrElse(""))'</span>,
<span class="d">'@s.uuid'</span>,
<span class="d">'SPEAKER'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(s.cleanName)'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(s.blog.getOrElse(""))'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(s.avatarUrl.getOrElse(""))'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(s.bio)'</span>,
<span class="d">null</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(s.qualifications.getOrElse(""))'</span>,
<span class="d">'@s.twitter'</span>,
<span class="d">null</span>,
<span class="d">b'0'</span>
);<br>
}
</body>
</html>