@(allProposalTypes:List[ProposalType], allTracks:List[Track], slots:List[Slot])
@import org.apache.commons.lang3.StringUtils
@import org.apache.commons.lang3.StringEscapeUtils
<!DOCTYPE html>
<html>
<head>
    <title>SQL Proposals</title>
<style>
body{
    font-family: monospace, monospace;
    font-weight: normal;
    font-size: 12px;
}
.sql{
    color:darkblue;
    font-weight: bold;
}
.d{
    color:darkgreen;
    font-weight: normal;
}
</style>
</head>
<body>


@allProposalTypes.map{pt:ProposalType=>
<span class="sql">DELETE FROM `eventtype` WHERE `id`='@(pt.id.hashCode)';<br>
<span class="sql">insert into</span> `eventtype` <span class="sql">values</span>(
<span class="d">'@(pt.id.hashCode)'</span>,
<span class="d">'2014-10-11 12:00:00'</span>,
<span class="d">'2014-10-11 12:00:00'</span>,
<span class="d">'@pt.id'</span>,
<span class="d">'1'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(Messages(pt.id))'</span>,
<span class="d">'60'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(Messages(pt.label))'</span>,
<span class="d">'#F15F15'</span>,
<span class="d">b'0'</span>
);<br>
}
<br>
@allTracks.zipWithIndex.map{case(t:Track,idx:Int)=>
<span class="sql">DELETE FROM `eventtrack` WHERE `id`='@(t.id.hashCode())';<br>
<span class="sql">INSERT INTO</span> `eventtrack` <span class="sql">VALUES</span>(
<span class="d">'@(t.id.hashCode)'</span>,
<span class="d">'2014-10-11 12:00:00'</span>,
<span class="d">'2014-10-11 12:00:00'</span>,
<span class="d">'@t.id'</span>,
<span class="d">'1'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(Messages(t.id))'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(Messages(t.label))'</span>,
<span class="d">b'0'</span>
);<br>
}
<br>

<h3>-- @slots.filter(_.proposal.isDefined).filterNot(_.proposal.get.state.code==ProposalState.DECLINED.code).size Slots with a Proposal</h3>
<h3>-- Total by state = <font color=orange>@slots.filter(_.proposal.isDefined).groupBy(_.proposal.get.state).map(f=>(f._1.code, f._2.size))</font></h3>
-- *****************************************************************************************************************
<br>

@slots.filter(_.proposal.isDefined).filterNot(_.proposal.get.state.code==ProposalState.DECLINED.code).map { slot:Slot =>
@defining(slot.proposal.get){proposal:Proposal=>
<span class="sql">DELETE FROM</span> `presentation_user` <span class="sql">WHERE</span> `Presentation_id`='@slot.id.hashCode';<br>
<span class="sql">DELETE FROM</span> `presentation` <span class="sql">WHERE</span>  `id`='@slot.id.hashCode' LIMIT 1;</span><br>
<span class="sql">INSERT INTO</span> `presentation` <span class="sql">VALUES</span>(
<span class="d">'@slot.id.hashCode'</span>,
<span class="d">'2014-10-11 12:00:00'</span>,
<span class="d">'2014-10-11 12:00:00'</span>,
<span class="d">'@proposal.id'</span>,
<span class="d">'1'</span>,
<span class="d">'@Messages(proposal.audienceLevel)'</span>,
<span class="d">null</span>,
<span class="d">'@proposal.state.code.toUpperCase'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(proposal.summary)'</span>,
<span class="d">'@StringEscapeUtils.escapeEcmaScript(proposal.title)'</span>,
<span class="d">'@proposal.mainSpeaker.hashCode'</span>,
'12',
<span class="d">b'1'</span>,
<span class="d">'@proposal.talkType.id.hashCode'</span>,
<span class="d">'@proposal.track.id.hashCode'</span>,
<span class="d">null</span>,
<span class="d">null</span>,
<span class="d">null</span>,
<span class="d">null</span>,
<span class="d">null</span>,
<span class="d">null</span>,
<span class="d">null</span>
);<br>

@proposal.allSpeakerUUIDs.map{spk:String=>
<span class="sql">INSERT INTO</span> `presentation_user` <span class="sql">VALUES</span>(
<span class="d">'@slot.id.hashCode'</span>,
<span class="d">'@spk.hashCode'</span>
    );<br>
}

}
}
</body>
</html>