@(questions:Map[String, List[Question]])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@views.html.Publisher.devoxxFR2015("Questions") {
        <div class="large-12 columns">
            <h1 class="entry-title">All questions</h1>
            <p>List of questions by talk</p>

            <p class="breadcrumb"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a></p>
        </div>

    <div class="row">
        <div class="large-12 offset2 columns">
        @questions.map{subQuest=>

                   @Proposal.findById(subQuest._1).map{proposal=>
                   <h4><a href="@routes.Publisher.showDetailsForProposal(proposal.id,proposal.title)" class="speakerURL">@proposal.title</a></h4>
                    @subQuest._2.map{question=>
                      <strong>@question.author</strong> <em>@library.FormatDate.ellapsed(question.eventDate)</em> :<br>
                      <p>@question.msg</p>
                    }
                   <p><a href="@routes.Publisher.showDetailsForProposal(proposal.id,proposal.title)" class="speakerURL">See talk for more details</a></p>
                   }
            <hr>
        }
        </div>
    </div>
}
