@(title: String, description:Option[String]=None)(content: Html)(implicit lang: Lang, req: RequestHeader, flash:Flash)

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="Robots" content="index,follow" />
<meta name="description" content="@description" />

<title>@title - Devoxx France 2020</title>
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
        <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
        <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
            .gradient {
                background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
            }
    </style>
</head>
<body class="leading-normal tracking-normal gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    <!--Nav-->
    <nav id="header" class="fixed w-full z-30 top-0 text-white">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
            <div class="pl-4 flex items-center">
                <a class="text-gray-800 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                    Devoxx FR :
                    <span class="text-gray-400 text-xl lg:text-2xl">Programme 2021</span>
                </a>
            </div>
            <div class="block lg:hidden pr-4">
                <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                    <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>
            <div class="bg-white w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
                <ul class="list-reset lg:flex justify-end flex-1 items-center">
                    <li class="mr-3">
                        <a class="inline-block text-black no-underline hover:text-yellow-400 hover:text-underline py-2 px-4" href="@routes.Publisher.homePublisher()">Home</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-black no-underline hover:text-yellow-400 hover:text-underline py-2 px-4" href="@routes.Publisher.showAllSpeakers()">Speakers</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-black no-underline hover:text-yellow-400 hover:text-underline py-2 px-4" href="https://www.devoxx.fr/sponsors-2020/">Sponsors</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-black no-underline hover:text-yellow-400 hover:text-underline py-2 px-4" href="https://reg.devoxx.fr">Registration</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block text-black no-underline hover:text-yellow-400 hover:text-underline py-2 px-4" href="https://www.devoxx.fr/faq">FAQ</a>
                    </li>

                </ul>
            </div>
        </div>
        <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>

<!-- ************** Begin generated content by Play ************************ //-->
    @content
<!--  ************* End generated content by Play ************************** //-->

    <section  class="flex-1 w-full mx-auto max-w-sm content-center py-8 px-4">
    </section>

    <footer class="bg-gray-100">
        <div class="container mx-auto px-8">
            <div class="w-full flex flex-col md:flex-row py-6">
                <div class="flex-1 mb-6 text-black">
                    <a class="text-yellow-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                        Devoxx FR
                    </a>
                        <p class="text-left text-gray-800">Du 29 septembre au 1er octobre 2021</p>
                    <p class="text-left text-gray-700">Palais des Congrès, Paris</p>
                </div>
                <div class="flex-1">
                    <p class="uppercase text-gray-500 md:mb-6">Legal</p>
                    <ul class="list-reset mb-6">
                        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                            <span class="text-gray-800">Devoxx France est un événement organisé par la société Quantixx. Devoxx est une marque déposé. Tous droits réservés.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
            var scrollpos = window.scrollY;
            var header = document.getElementById("header");
            var navcontent = document.getElementById("nav-content");

            document.addEventListener("scroll", function () {
                /*Apply classes for slide in bar*/
                scrollpos = window.scrollY;

                if (scrollpos > 10) {
                    header.classList.add("bg-white");
                    header.classList.add("shadow");
                    navcontent.classList.add("bg-gray-200");
                    navcontent.classList.remove("bg-white");
                } else {
                    header.classList.remove("bg-white");
                    header.classList.remove("shadow");
                    navcontent.classList.remove("bg-gray-200");
                    navcontent.classList.add("bg-white");
                }
            });
    </script>
    <script>
            /*Toggle dropdown list*/
            /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

            var navMenuDiv = document.getElementById("nav-content");
            var navMenu = document.getElementById("nav-toggle");

            document.onclick = check;
            function check(e) {
                var target = (e && e.target) || (event && event.srcElement);

                //Nav Menu
                if (!checkParent(target, navMenuDiv)) {
                    // click NOT on the menu
                    if (checkParent(target, navMenu)) {
                        // click on the link
                        if (navMenuDiv.classList.contains("hidden")) {
                            navMenuDiv.classList.remove("hidden");
                        } else {
                            navMenuDiv.classList.add("hidden");
                        }
                    } else {
                        // click both outside link and outside menu, hide menu
                        navMenuDiv.classList.add("hidden");
                    }
                }
            }
            function checkParent(t, elm) {
                while (t.parentNode) {
                    if (t == elm) {
                        return true;
                    }
                    t = t.parentNode;
                }
                return false;
            }
</script>
</body>
</html>
