@()(implicit lang: Lang, flash: Flash, req:RequestHeader)
@views.html.Publisher.devoxxFR2014("Programme complet"){
<section id="container" class="one-column">
    <div id="content" role="main">
        <div id="post-5" class="post-5 page type-page status-publish hentry">
            <h1 class="entry-title">@Messages("sw.programme")</h1>
            <div class="entry-content col-xs-12">

        <p>@Messages("sw.intro")</p>

        <div class="col-xs-12">
            @if(flash.get("error").isDefined){
                <div class="alert alert-danger alert-dismissable">
                    <strong>Error :</strong>
                    @flash.get("error").get
                </div>
            }
            @if(flash.get("success").isDefined){
                <div class="alert alert-success alert-dismissable">
                   <strong>@flash.get("success").get</strong>
                </div>
            }
        </div>


        <div class="col-xs-3">
                <h2>@Messages("sw.speakers")</h2>
                <ul>
                    <li><a href="@routes.Publisher.showAllSpeakers()" title="Show all speakers">Voir tous les orateurs</a></li>
                </ul>
        </div>

        <div class="col-xs-3">
            <h2>@Messages("sw.agenda")</h2>
            <p>@Messages("sw.agenda.txt")</p>
            <ul>
                <li><a href="@routes.Publisher.showByDay("wed")">@Messages("sw.agenda.wed")</a></li>
                <li><a href="@routes.Publisher.showByDay("thu")">@Messages("sw.agenda.thu")</a>
                    (en cours de construction)</li>
                <li><a href="@routes.Publisher.showByDay("fri")">@Messages("sw.agenda.fri")</a>
                    (en cours de construction)</li>
            </ul>
        </div>

        <div class="col-xs-4">
                <h2>@Messages("sw.presentations")</h2>
                <p>@Messages("sw.faq") <a href="http://www.devoxx.fr/faq/#format">FAQ</a> </p>
                <ul>
                    <li><a href="@routes.Publisher.showByTalkType(ProposalType.UNI.id)" class="btn btn-primary btn-sm"><i class="icon-laptop"></i> University</a></li>
                    <li><a href="@routes.Publisher.showByTalkType(ProposalType.LAB.id)" class="btn btn-primary btn-sm"><i class="icon-beaker"></i> Hand's on Labs</a></li>
                    <li><a href="@routes.Publisher.showByTalkType(ProposalType.TIA.id)" class="btn btn-primary btn-sm"><i class="icon-legal"></i> Tools-in-Action</a></li>
                    <li><a href="@routes.Publisher.showByTalkType(ProposalType.CONF.id)" class="btn btn-primary btn-sm"><i class="icon-microphone"></i> Conference</a></li>
                    <li><a href="@routes.Publisher.showByTalkType(ProposalType.BOF.id)" class="btn btn-primary btn-sm"><i class="icon-group"></i> B.O.F. (Bird of a Feather)</a></li>
                    <li><a href="@routes.Publisher.showByTalkType(ProposalType.QUICK.id)" class="btn btn-primary btn-sm"><i class="icon-fast-forward"></i> Quickie</a></li>
                </ul>
        </div>

        <div class="col-xs-4">
                <h2>@Messages("sw.events")</h2>
                <ul>
                    <li><a href="http://www.devoxx.fr/open-data-camp-2014/">Open-Data Camp</a> Mercredi 9h30 à 18h30</li>
                    <li><a href="http://www.devoxx.fr/amd-2014/">L'Après-midi des Décideurs</a> Jeudi de 13h30 à 18h30</li>
                    <li><a href="@routes.Publisher.showDetailsForProposal("ILO-992","Seed-Networking")">Seed-Networking à Devoxx France</a> à partir de 19h30</li>
                    <li><a href="http://www.devoxx.fr/devoxx4kids-2014/">Devoxx4Kids</a> Mercredi de 9h30 à 18h</li>
                    <li><a href="@routes.Publisher.showByTalkType(ProposalType.CODESTORY.id)">Code Story</a> live-coding le jeudi de 13h30 à 19h00</li>
                    <li><i class="icon-hand-up"></i> <a href="@routes.Publisher.showDetailsForProposal("JCB-280","Les mercenaires du Devops")">Devops Mercenaries 3.0 : Let's ops !</a> événement le vendredi de 10h40 à 17h00</li>
                    <li><a href="http://www.devoxx.fr/soiree-meet-and-greet-2014/">Soirée Meet and Greet</a> jeudi soir à partir de 19h30. Accès gratuit, sur inscription.</li>
                    <li><i class="icon-music"></i> <a href="@routes.Publisher.showDetailsForProposal("KLH-063","DJ BOF Mix")">DJ BOF Mix</a> jeudi soir à partir de 19h30</li>
                </ul>
        </div>

        <div class="col-xs-3">
                <h2>Keynotes</h2>
                <p>Annoncé prochainement</p>
        </div>

        <div class="col-xs-3">
                <h2>@Messages("sw.hackatons")</h2>
                <p>@Messages("sw.hackatons.describe")</p>
                <ul>
                    <li><a href="@routes.Publisher.showByTalkType(ProposalType.HACK.id)" class="btn btn-primary btn-sm"><i class="icon-gears"></i> Hackatons</a></li>
                </ul>
        </div>



            </div>
        </div>
    </div>
</section>
}