@(total:Int, results:List[Proposal], q:Option[String], p:Option[Int])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@views.html.Publisher.devoxxFR2020("Search result"){
  <div class="large-12 columns">
<h2 class="entry-title">
@if(total==0){
    <strong>No result</strong>
}
@if(total==1){
    <strong>One result</strong>
}
@if(total>1){
    <strong>@total results</strong>
}
</h2>
<small><a href="@routes.Publisher.homePublisher()">Home</a></small>
  </div>
    <div class="large-3 columns">
        <div class="input-wrap">
            <form name="search" action="@routes.Publisher.search(None,None)" method="GET"><br>
            <input type="search" name="q" value="" placeholder="Search by title, keyword or speaker" class="wpcf7-form-control wpcf7-text" autofocus>
        </form>
        </div>
    </div>
<div class="large-12 columns">
    <table class="agendaTable">

@results.zipWithIndex.map{ case(p:Proposal,idx:Int)=>
                <tr>
                    <td class="room">
                        <span class="track">
                            @tags.publisher.renderIconForTrack(p.track) @Messages(p.track.label)
                        </span>
                        <br>
                        <span class="title"><a href="@routes.Publisher.showDetailsForProposal(p.id, p.escapedTitle)">@p.title</a> (@Messages(p.talkType.id))</span>
                        <span class="speaker">
                            by @p.mainSpeaker @p.secondarySpeaker.map(s=>", "+s) @p.otherSpeakers.map(o=> ", "+o)
                        </span>
                    </td>
                </tr>
            }
    </table>
@tags.renderPaginator(req, p.getOrElse(1), total)

</div>
}