@(total:Long, results:IndexedSeq[library.search.ProposalSearchResult], q:Option[String], p:Option[Int])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@views.html.Publisher.devoxxFR("Search result"){

    <section class="bg-white border-b py-8">
        <div class="container max-w-5xl mx-auto m-8">
            <h1 class="w-full my-2 text-2xl font-bold leading-tight text-center text-gray-800">
               Résultat de la recherche
            </h1>
        </div>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
    </section>

    <section  class="flex-1 w-full mx-auto max-w-sm content-center py-8 px-4">

    </section>

    <section class="bg-white">
        <div class="container mx-auto flex flex-wrap pt-4 pb-12">
            <h2 class="w-full text-xl font-bold text-left text-gray-800">
                @if(total==0){
                    No result
                }
                @if(total==1){
                    One result
                }
                @if(total>1){
                    @total results
                }
            </h2>


        <div class="w-full md:w-1/2 p-6 flex flex-col flex-grow flex-shrink text-body text-black">
        @results.zipWithIndex.map{ case(p:library.search.ProposalSearchResult,idx:Int)=>
        <a class="flex flex-wrap no-underline hover:no-underline" href="@routes.Publisher.showDetailsForProposal(p.id, p.escapedTitle)">
            <div class="w-full font-bold text-xl px-6">@p.title</div>
            <div class="w-full text-body px-6 text-black mb-4">
                <span class="text-gray-800">@Messages(p.talkType)</span>
                <span class="text-yellow-600">@Messages(p.trackLabel)</span>
                <span class="text-gray-80">by @p.mainSpeaker @p.secondarySpeaker.map(s=>", "+s) @p.otherSpeakers.map(o=> ", "+o)</span>
            </div>
        </a>
        }
        </div>
        <div class="w-full bg-gray-200 text-black px-4 py-2">
            @tags.renderPaginator(req, p.getOrElse(1), total.toInt)
        </div>
        </div>
    </section>
}