@(speaker:Speaker, acceptedProposals:Iterable[Proposal])(implicit lang: Lang, flash: Flash, req:RequestHeader)
@views.html.Publisher.devoxxBE2014(speaker.cleanName){
<section id="speaker">
<div class="columns large-offset-1 large-8 team-member row fadeInUp animated">
    <p class="breadcrumb"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a> - <a href="@routes.Publisher.showAllSpeakers()">@Messages("sw.speakers")</a> </p>
    <h1 class="entry-title">
         @speaker.avatarUrl.map{url=>
            <img class="speakerDetail"  src="@url"  alt="@speaker.cleanName" title="@speaker.cleanName"><br>
        }
        @speaker.twitter.map{tw=>
        <a href="http://www.twitter.com/@tw" rel="no-follow" class="speakerTwitter">
        }
        @speaker.cleanName
        @speaker.twitter.map{_=>
            <img alt="Twitter" src="/assets/images/twitter.png" style="vertical-align: top"></a>
        }
    </h1>
    @speaker.company.map{cp=>
    <h4>From @cp</h4>
    }

    @Html(speaker.bioAsHtml)

    @speaker.blog.map{blog=>
        <p>Blog: <a href="@blog" rel="no-follow">@blog</a></p>
    }
</div>


    <div class="clearfix">
    </div>

    <div class="clearfix"></div>
        @if(acceptedProposals.nonEmpty){
            <div class="columns large-8 large-offset-1">
                @if(acceptedProposals.size>1){
                    <h2>@Messages("sw.proposals")</h2>
                }else{
                    <h2>@Messages("sw.proposal")</h2>
                }

                @acceptedProposals.map{proposal:Proposal=>
                        <h3><a href="@routes.Publisher.showDetailsForProposal(proposal.id, proposal.escapedTitle)">@proposal.title</a></h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>@tags.publisher.renderIconForTrack(proposal.track) @Messages(proposal.track.label)</td>
                            </tr>
                            <tr>
                                <td><a href="@routes.Publisher.showByTalkType(proposal.talkType.id)">@Messages(proposal.talkType.id)</a></td>
                            </tr>

                            @if(proposal.allSpeakerUUIDs.filterNot(_==speaker.uuid).nonEmpty){
                             <tr>
                                <td>
                                    @proposal.allSpeakerUUIDs.filterNot(_==speaker.uuid).map{uuid=>
                                     @tags.publisher.renderSpeaker(uuid,true)
                                    }
                                </td>
                            </tr>
                            }
                            <tr>
                                <td>
                                @Html(proposal.summaryAsHtml)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }

            </div>
            }
</section>
}