@(slots: List[Slot], rooms: List[Room], day: String)(implicit lang: Lang, req: RequestHeader, flash:Flash)
@import org.joda.time.DateTimeZone


    @views.html.Publisher.devoxxFR2020(Messages(s"sw.show.$day")) {
    <div class="large-12 columns">
        <h1 class="entry-title">@Messages(s"day-$day")</h1>

        <p class="breadcrumb"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a> &gt;
            <a href="@routes.Publisher.showByDay("wed")">@Messages("sw.agenda.wed")</a> /
            <a href="@routes.Publisher.showByDay("thu")">@Messages("sw.agenda.thu")</a> /
            <a href="@routes.Publisher.showByDay("fri")">@Messages("sw.agenda.fri")</a>
        </p>

        @if(ConferenceDescriptor.isShowRoom) {
            <p>@Messages("publisher.room.disclaimer")</p>
        }
    </div>

    <div class="columns large-12 woocommerce">
        <table class="agendaTable">
             @if(ConferenceDescriptor.isShowRoom) {
                 <tr>
                     <th><i class="icon-time"></i> @Messages("publisher.room")</th>
                     @rooms.sorted.map { roomName: Room =>
                         <td>@roomName.name</td>
                     }
                 </tr>
             }
            @slots.groupBy(s=> s.from.getMillis).toList.sortWith(_._1 < _._1).map { case (_, subSlots) =>
                <tr >
                    <th class="timeSlot">
                        @subSlots.head.from.toDateTime(DateTimeZone.forID("Europe/Brussels")).toString("HH:mm") - @subSlots.head.to.toDateTime(DateTimeZone.forID("Europe/Brussels")).toString("HH:mm")
                        @if(subSlots.map(_.to).toSet.size>1){
                            @subSlots.map(_.to).toSet.map { s:org.joda.time.DateTime =>
                              <small>@s.toDateTime(DateTimeZone.forID("Europe/Brussels")).toString("HH:mm")</small>
                            }
                        }
                    </th>
                    @rooms.sorted.map { room =>
                            @if(subSlots.map(_.to).toSet.size>1){
                                @tags.publisher.tagRenderRow(subSlots, room, rooms.size, true)
                            }else {
                                @tags.publisher.tagRenderRow(subSlots, room, rooms.size, false)
                            }
                    }
                </tr>
            }
            @if(ConferenceDescriptor.isShowRoom) {
                  <tr>
                     <th><i class="icon-time"></i> @Messages("publisher.room")</th>
                     @rooms.sorted.map { roomName: Room =>
                         <td>@roomName.name</td>
                     }
                 </tr>
            }
        </table>
    </div>
}