@(schedule: ScheduleConfiguration, talkType: String, day: String)(implicit lang: Lang, flash: Flash, req: RequestHeader)
@import org.joda.time.DateTimeZone

    @views.html.Publisher.devoxxUK2015(Messages("agenda-" + talkType),Some(s"Agenda for Devoxx UK 2015 for $day"+Messages("day-" + day))) {
        <div class="large-12 columns">
            <h3>@Messages(talkType), @Messages("day-" + day)</h3>
            <p class="breadcrumb"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a>  &gt;
                <a href="@routes.Publisher.showByTalkType(talkType)">@Messages("sw.all." + talkType)</a>  &gt;
                <a href="@routes.Publisher.showByDay(day)">@Messages("day-" + day)</a></p>
        </div>

        <div class="large-12 columns woocommerce">

            <table class="agendaTable">
                <tr>
                    <th><i class="icon-time"></i> Room</th>
                    @schedule.slots.groupBy(_.room).keys.map(_.name).toList.sorted.map { roomName: String =>
                        <td>@roomName</td>
                    }
                </tr>

                @schedule.slots.groupBy(_.from).toList.sortBy(_._1.toDate.getTime).map { case (time: org.joda.time.DateTime, slots) =>
                <tr>
                    <th class="timeSlot">
                        <!--
                        time = @time
                        localdatetime = @time.toLocalDateTime

                        -->
                        @time.toDateTime(DateTimeZone.forID("Europe/London")).toString("HH:mm") - 
                        @slots.head.to.toDateTime(DateTimeZone.forID("Europe/London")).toString("HH:mm")
                    </th>
                    @slots.sortBy(_.room.name).zipWithIndex.map { case(slot,index) =>

                        <td class="room">
                            @slot.proposal.map { p: Proposal =>
                                <span class="track"> @tags.publisher.renderIconForTrack(p.track) @Messages(p.track.label)</span>
                                <span class="title"><a href="@routes.Publisher.showDetailsForProposal(p.id, p.escapedTitle)">@p.title</a></span>
                                <span class="speaker"> @p.allSpeakerUUIDs.map { speakerUUID => 
                                    @tags.publisher.renderSpeaker(speakerUUID)
                                }
                                </span>
                            }

                            @if(slot.proposal.isEmpty && slot.break.isEmpty && index>0 ) {
                                TBA
                            }
                        </td>
                    }

                </tr>
                }

                <tr>
                    <th><i class="icon-time"></i> Room</th>
                    @schedule.slots.groupBy(_.room).keys.map(_.name).toList.sorted.map { roomName: String =>
                        <td>@roomName</td>
                    }
                </tr>
            </table>

        </div>
    }