@(speakers:List[Speaker])(implicit lang: Lang, flash: Flash, req:RequestHeader)
@views.html.Publisher.devoxxFR2014("Speakers"){
<section id="container" class="one-column">
    <div id="content" role="main">
        <div id="post-5" class="post-5 page type-page status-publish hentry">
            <small><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a></small>
            <h1 class="entry-title">@Messages("sw.speakers")</h1>
            <p>@speakers.size @Messages("sw.speakers")</p>
            <p>@Messages("sw.allSpeakers")</p>
            <div class="entry-content">
                <table>
                @speakers.sortBy(_.cleanName).sliding(4,4).map{fourSpeakers:List[Speaker]=>
                    <tr>
                    @fourSpeakers.map{speaker:Speaker=>
                        <td>
                            <a href="@routes.Publisher.showSpeaker(speaker.uuid,speaker.cleanName)">
                            @speaker.avatarUrl.map{url=>
                                <img src="@url" width="64" height="64" alt="@speaker.cleanName" title="@speaker.cleanName"><br>
                            }
                            @speaker.cleanName</a>
                        </td>
                    }
                    </tr>
                }
                </table>
            </div>

        </div>
    </div>
</section>
}