@()(implicit lang: Lang, req:RequestHeader)

@views.html.Publisher.devoxxFR2016(Messages("sw.show.tue")){
  <div class="large-12 columns">
<h1 class="entry-title">@Messages("sw.show.title.tue")</h1>

<p class="breadcrumb"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a> &gt;
    <a href="@routes.Publisher.showByDay("mon")">@Messages("sw.agenda.mon")</a> /
    <strong>@Messages("sw.agenda.tue")</strong> /
    <a href="@routes.Publisher.showByDay("wed")">@Messages("sw.agenda.wed")</a> /
    <a href="@routes.Publisher.showByDay("thu")">@Messages("sw.agenda.thu")</a> /
    <a href="@routes.Publisher.showByDay("fri")">@Messages("sw.agenda.fri")</a>
</p>

</div>

    <h1>Todo</h1>
}