@(speaker:Speaker, acceptedProposals:Iterable[Proposal])(implicit lang: Lang, flash: Flash, req:RequestHeader)
@views.html.Publisher.devoxxFR2016(speaker.cleanName,Some(s"${speaker.cleanName} at Devoxx 2014")){
<section id="speaker">
<div class="columns large-12 team-member row fadeInUp animated">
    <p class="breadcrumb"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a> - <a href="@routes.Publisher.showAllSpeakers()">@Messages("sw.speakers")</a> </p>
    <h1 class="entry-title">
         @speaker.avatarUrl.map{url=>
            <img class="speakerRound"  src="@url"  alt="@speaker.cleanName" title="@speaker.cleanName"><br>
        }
        @speaker.cleanTwitter.map{tw=>
        <a href="http://www.twitter.com/@tw" rel="no-follow" class="speakerTwitter">
        }
        @speaker.cleanName
        @speaker.twitter.map{_=>
            <img alt="Twitter" src="/assets/images/twitter.png" style="vertical-align: top"></a>
        }
    </h1>
    @speaker.company.map{cp=>
    <h4>From @cp</h4>
    }
    <div class="speakerbio">
    @Html(speaker.bioAsHtml)
    </div>

    @speaker.blog.map{blog=>
        <p>Blog: <a href="@blog" rel="no-follow">@blog</a></p>
    }
</div>

<div class="clearfix"></div>

@if(acceptedProposals.nonEmpty){
    @acceptedProposals.map {  proposal=>
        <div class="divider"></div>
        <div class="columns large-12 team-member row">
              @tags.publisher.renderIconForTrack(proposal.track) @Messages(proposal.track.label)
              <h4 class="speakerTitle"><a href="@routes.Publisher.showDetailsForProposal(proposal.id, proposal.escapedTitle)">@proposal.title</a></h4>
              <p><a href="@routes.Publisher.showByTalkType(proposal.talkType.id)">@Messages(proposal.talkType.id)</a></p>
              @if(proposal.allSpeakerUUIDs.filterNot(_==speaker.uuid).nonEmpty){
                @proposal.allSpeakerUUIDs.filterNot(_==speaker.uuid).map{uuid=>
                     @tags.publisher.renderSpeaker(uuid,true)
                }
              }
              @Html(proposal.summaryAsHtml)

        </div>
<div class="clearfix"></div>
    }
}

</section>
}