@(speakers: List[Speaker])(implicit lang: Lang, flash: Flash, req: RequestHeader)
    @views.html.Publisher.devoxxBE2014("Speakers") {
        <div class="large-12 columns">
            <h1 class="entry-title">@Messages("sw.speakers")</h1>
            <p>@speakers.size @Messages("sw.allSpeakers")</p>

            <p class="breadcrumb"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a></p>
        </div>

        @speakers.sortBy(_.cleanName).sliding(4, 4).map { fourSpeakers: List[Speaker] =>
            @fourSpeakers.map { speaker: Speaker =>
                <div class="large-3 columns">
                    <a href="@routes.Publisher.showSpeakerByName(speaker.urlName)">
                        @speaker.avatarUrl.map { url =>
                            <img src="@url" width="64" height="64" alt="@speaker.cleanName" title="@speaker.cleanName"> <br>
                        }
                        @speaker.cleanName</a>

                </div>
            }
        }
    }
