@(slots: List[Slot], rooms: List[Room], day: String, specificScheduleCSSSnippet: String, secretPublishKey: Option[String], hideUselessRooms: Boolean, showScheduleMode: String)(implicit lang: Lang, req: RequestHeader, flash:Flash)
    @views.html.Publisher.devoxxFR2020(Messages(s"sw.show.$day")) {
    <style>
    @specificScheduleCSSSnippet
    </style>

    <div class="large-12 columns">
        <h1 class="entry-title">@Messages(s"day-$day")</h1>
        <p class="breadcrumb hide-on-print"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a> &gt;
            <a href="@routes.Publisher.showByDay("wed", secretPublishKey, hideUselessRooms, showScheduleMode)">@Messages("sw.agenda.wed")</a> /
            <a href="@routes.Publisher.showByDay("thu", secretPublishKey, hideUselessRooms, showScheduleMode)">@Messages("sw.agenda.thu")</a> /
            <a href="@routes.Publisher.showByDay("fri", secretPublishKey, hideUselessRooms, showScheduleMode)">@Messages("sw.agenda.fri")</a>
        </p>

        @if(ConferenceDescriptor.isShowRoom) {
            <p class="hide-on-print">@Messages("publisher.room.disclaimer")</p>
        }
    </div>

    <div class="columns large-12 woocommerce">
        <table class="agendaTable for_day_@day skip-mb-on-print">
             @if(ConferenceDescriptor.isShowRoom) {
                 <tr class="rooms">
                     <th><i class="far fa-calendar-alt-check"></i> @Messages("publisher.room")</th>
                     @rooms.sorted.map { room: Room =>
                         <td class="room room_is_@room.cssId">
                             <div class="main-title">@room.scheduleMainTitle</div>
                             @room.scheduleSecondaryTitle.map { secondaryTitle: String => <div class="secondary-title">@secondaryTitle</div> }
                         </td>
                     }
                 </tr>
             }
            @slots.groupBy(s=> s.from.getMillis).toList.sortWith(_._1 < _._1).map { case (_, subSlots) =>
                <tr>
                    <th class="timeSlot">
                        @subSlots.head.from.toDateTime(ConferenceDescriptor.current().timezone).toString("HH:mm") - @subSlots.head.to.toDateTime(ConferenceDescriptor.current().timezone).toString("HH:mm")
                    </th>
                    @rooms.sorted.zipWithIndex.map { case (room, index) =>
                        @tags.publisher.tagRenderRow(subSlots, room, index, rooms.size, slots, showEndTime=false, secretPublishKey)
                    }
                </tr>
            }
            @if(ConferenceDescriptor.isShowRoom) {
                  <tr class="rooms">
                     <th><i class="far fa-calendar-alt-check"></i> @Messages("publisher.room")</th>
                     @rooms.sorted.map { room: Room =>
                         <td class="room">
                             <div class="main-title">@room.scheduleMainTitle</div>
                             @room.scheduleSecondaryTitle.map { secondaryTitle: String => <div class="secondary-title">@secondaryTitle</div> }
                         </td>
                     }
                 </tr>
            }
        </table>
    </div>
    <ul class="schedule-legend">
        @slots.flatMap(s => s.proposal.map(_.talkType)).distinct.map { proposalType =>
            <li class="proposalType proposal_type_is_@proposalType.id">@Messages(proposalType.simpleLabel)</li>
        }
        @slots.flatMap(s => s.proposal.map(_.track)).distinct.map { track =>
            <li class="track proposal_track_is_@track.id"><i class="proposal_badge track"></i> @Messages(track.label)</li>
        }
    </ul>
}
