@(slots: List[Slot], talkType: String, day: String)(implicit lang: Lang, flash: Flash, req: RequestHeader)
    @import org.joda.time.DateTimeZone

    @views.html.Publisher.devoxxFR2016(Messages("agenda-" + talkType), Some(s"Agenda for Devoxx FR 2016 for $day" + Messages("day-" + day))) {
        <div class="large-12 columns">
            <h3>@Messages(talkType), @Messages("day-" + day)</h3>
            <p class="breadcrumb"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a>  &gt;
                <a href="@routes.Publisher.showByTalkType(talkType)">@Messages("sw.all." + talkType)</a>  &gt;
                <a href="@routes.Publisher.showByDay(day)">@Messages("day-" + day)</a></p>
        </div>

        <div class="large-12 columns woocommerce">
            <table class="agendaTable">
                <tr>
                    <th><i class="icon-time"></i> @Messages("publisher.room")</th>
                    @slots.groupBy(_.room).keys.toList.sorted.map { room: Room =>
                        <td>@room.name</td>
                    }
                </tr>

                @if(day.toLowerCase == "thursday" && talkType.toLowerCase == "conf") {
                    <tr>
                        <th>
                            09:00 - 11:00
                        </th>
                        <td class="keynotes" colspan="8">
                            Keynotes dès 9h précise<br>
                            <em>Accueil + Petit-déjeuner dès 7h30</em><br>
                        </td>
                    </tr>
                }
                @if(day.toLowerCase == "friday" && talkType.toLowerCase == "conf") {
                    <tr>
                        <th>
                            09:30 - 11:00
                        </th>
                        <td class="keynotes" colspan="8">
                            Keynotes 9h30<br>
                        </td>
                    </tr>
                }

                @slots.groupBy(_.from.getMillis).toList.sortWith(_._1 < _._1).map { case (_, subSlots) =>
                <tr>
                    <th class="timeSlot">
                        @subSlots.head.from.toDateTime(DateTimeZone.forID("Europe/Brussels")).toString("HH:mm")
                        - @subSlots.head.to.toDateTime(DateTimeZone.forID("Europe/Brussels")).toString("HH:mm")
                    </th>
                    @subSlots.groupBy(_.room).keys.toList.sorted.map { room: Room =>
                        @tags.publisher.tagRenderRow(subSlots, room, 17)
                    }
                </tr>
                }
                <tr>
                    <th><i class="icon-time"></i> @Messages("publisher.room")</th>
                    @slots.groupBy(_.room).keys.toList.sorted.map { roomName: Room =>
                        <td>@roomName.name</td>
                    }
                </tr>
            </table>

        </div>

    }