@(proposals: Iterable[Proposal], talkType: String)(implicit lang: Lang, flash: Flash, req: RequestHeader)
@views.html.Publisher.devoxxBE2014(Messages(talkType)) {
    <div class="large-12">
        <h3>@Messages(talkType)</h3>
        <p class="breadcrumb">
            <a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a> &gt; @Messages("sw.all." + talkType)
        </p>
    </div>

    @proposals.groupBy(_.track).sliding(3).map { case oneRow:Map[Track, List[Proposal]] =>
        @oneRow.map{ case(track:Track, proposalsTrack:List[Proposal])=>
            <div class="large-3 columns trackBox">
                @tags.publisher.renderIconForTrack(track) @Messages(track.label)
            <ul>
            @proposalsTrack.sortBy(_.title).map { proposal: Proposal =>
                <li>
                    <strong><a href="@routes.Publisher.showDetailsForProposal(proposal.id, proposal.escapedTitle)" class="blackLink">@proposal.title</a></strong>
                    <br>
                    @proposal.allSpeakerUUIDs.map { speakerUUID =>
                        @tags.publisher.renderSpeaker(speakerUUID)
                    }
                </li>
            }
            </ul>
            </div>
        }
        <div class="clearfix"><hr></div>

    }




}