@(proposals: Iterable[Proposal], talkType: String)(implicit lang: Lang, flash: Flash, req: RequestHeader)
@views.html.Publisher.devoxxFR(Messages(talkType)) {
    <section class="bg-fixed bg-clip-content bg-center bg-cover bg-no-repeat md:mb-8 sm:mb-2" style="background-image: url('/assets/devoxx_fr_2023/devoxx_fr_call_for_paper_2023.jpeg')">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7 bg-gradient-to-b bg-dvx-mainback p-4">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl bg-clip-text text-transparent bg-gradient-to-bl from-yellow-100 to-orange-700">@Messages(talkType)</h1>
                <p class="max-w-2xl mb-6 font-light text-white lg:mb-8 md:text-lg lg:text-xl">@proposals.size présentations publiées</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container mx-auto bg-white">
            <div class="w-full p-4 text-center">
                <h1 class="sm:text-xl md:text-2xl lg:text-3xl text-bold">Affichage par Track :</h1>
            </div>
        @proposals.groupBy(_.track).sliding(3,3).map { case oneRow =>
            <div class="grid p-6 align-top mx-auto md:gap-4 sm:gap-2 md:grid-cols-1 lg:grid-cols-3">
                @oneRow.map{ case(track:Track, proposalsTrack:List[Proposal])=>

                        <div class="md:col-span-1 lg:col-span-1">
                            @tags.publisher.renderIconForTrack(track)
                            <p class="lg:text-3xl md:text-2xl text-xl text-black">@Messages(track.label)</p>
                        </div>
                        <div class="md:col-span-1 lg:col-span-2 border-b-2 border-solid border-dvx-orange">
                            @proposalsTrack.sortBy(_.title).map { proposal: Proposal =>
                                    <div class="pb-3 border-b-1 border-gray-400">
                                    <a href="@routes.Publisher.showDetailsForProposal(proposal.id, proposal.escapedTitle)"
                                    class="hover:text-yellow-600 hover:underline">
                                        <span class="text-2xl sm:text-xl text-yellow-600 text-bold">&gt;&nbsp;</span>
                                        <span class="text-2xl sm:text-xl text-gray-600">@proposal.title</span>
                                    </a>
                                    @proposal.allSpeakerUUIDs.map { speakerUUID =>
                                        @tags.publisher.renderSpeaker(speakerUUID)
                                    }
                                    </div>
                            }
                        </div>
                }
            </div>
        }
        </div>
    </section>
}