@(fromName:String, proposal:models.Proposal, msg:String)

<p>@fromName posted a message for <strong>@proposal.title</strong></p>
<br>
<p>Message:</p>
<hr>
<p>
@msg
</p>
<p>@fromName</p>
<hr>
<h3>How to respond?</h3>
<p>Please, use this link to respond directly to the message :</p>
<a rel="notrack" href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CFPAdmin.openForReview(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CFPAdmin.openForReview(proposal.id)</a>
<br>
<br>
<p>Thanks</p>
<p>The @Messages("longName") team.</p>
