@(resetUrl:String)

<h3>Did you forget your CFP Devoxx access code?</h3>
<p>Someone asked to reset your Devoxx access code. If it was you, please read the instructions below. If it wasn't, you can disregard this emails and no evil will be done.</p>
<p><a href="@Html(resetUrl)">@Html(resetUrl)</a></p>
<p>Please visit this link to reset your access code.</p>
<p>We don't want to store your super secret password, that might be the same one as your Google Account. We prefer to generate
a random access code for your. We also encourage you to use one of our OpenID's providers like Github or Google+. Simpler, more secure, that just rocks!</p>
<p>The Devoxx team</p>
<hr>
