@(firstName:String, proposals:List[Proposal])
<hr>
<br>
<p>Dear @firstName</p>
<br>
<p>We'd like to inform you that you have @proposals.size proposal@if(proposals.size>1){s} with status set to "Draft" on Devoxx CFP.
You must submit a talk for review on your private CFP section, so that the program committee can review and vote for your proposal.</p>

@proposals.map{proposal=>
- @proposal.title <a href="http://cfp.devoxx.fr@routes.CallForPaper.editProposal(proposal.id)">@proposal.id</a> <br>
}
<br>
<p>If you don't want to receive this message, you can also move the draft proposals to Trash from the home section.</p>
<br>
<p>Thanks!</p>

<p>The Devoxx team</p>