@(visitorMail:String, visitorName:String, proposal:models.Proposal, msg:String)

<p>Hi,</p> 

<p>You received a new message from <strong>@visitorName</strong>(@visitorMail) regarding your talk "<strong>@proposal.title</strong>".</p>
<br>
<p>Message:</p>
<hr>
<p>
@msg
</p>
<p>@visitorName</p>
<hr>
<h3>How to respond?</h3>
<p>Do not reply to this email, please use the CFP web site. Click or open this link to respond directly to the message :</p>
<a href="http://@ConferenceDescriptor.current().conferenceUrls.cfpHostname@routes.CallForPaper.showQuestionsForProposal(proposal.id)">http://@ConferenceDescriptor.current().conferenceUrls.cfpHostname@routes.CallForPaper.showQuestionsForProposal(proposal.id)</a>
<br>
<br>

<p>Thanks</p>
<p>The @Messages("longName") team.</p>
