@(fromName:String, toName:String, proposal:models.Proposal, msg:String)

<p>Hello</p>

<p>A new message was posted by <strong>@fromName</strong> to <strong>@toName</strong> regarding talk "<em>@proposal.title</em>".</p>
<br>
<hr>
<pre>
@msg

@fromName
</pre>
<hr>
<h3>Follow the discussion</h3>
<p>Do not respond to this email, please use the CFP directly:</p>
<a href="http://cfp.devoxx.fr@routes.CFPAdmin.openForReview(proposal.id)">http://cfp.devoxx.fr@routes.CFPAdmin.openForReview(proposal.id)</a>
