@(firstName:String, email:String, tempPassword:String)

<h2>Dear @firstName</h2>

<p>Welcome to @Messages("longName") (Call For Papers)</p>

<p>As a convenience to you, we have created an account for you on @Messages("longName"). This account will enable to you access your profile and your submissions.</p>
<p>To access your @Messages("longName") speaker dashboard, please click in the link below.</p>

<p><a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.Application.index()">Access to @Messages("longName") CFP</a></p>

<ul>
    <li>- Your username is <strong>@email</strong></li>
    <li>- Your password is <strong>@tempPassword</strong></li>
</ul>

<p>&nbsp;</p>
<p>Best regards</p>
<p>The @Messages("longName") team</p>
