@(fromName:String, proposal:models.Proposal, msg:String)

<p>Hi,</p> 

<p>You received a new message from @fromName regarding talk "@proposal.title" (<strong>@Messages(proposal.talkType.id)</strong>).</p>
<br>
<p>Message:</p>
<hr>
<p>
@msg
</p>

@fromName

<hr>
   
<h3>How to respond?</h3>

<p>Please, use this link to respond directly to the message :</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CFPAdmin.openForReview(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CFPAdmin.openForReview(proposal.id)</a>
<br>
<br>

<p>Thanks</p>
<p>The @Messages("longName") team.</p>
