@(firstName:String, email:String, tempPassword:String)(implicit confDesc: ConferenceDescriptor)

<h2>Dear @firstName</h2>

<p>Welcome to Devoxx CFP (Call For Paper)</p>

<p>As a convenience to you, we have created an account for you on Devoxx. This account will enable to you access your profile and your submissions.</p>
<p>To access your Devoxx speaker dashboard, please click in the link below.</p>

<p><a href="http://cfp.devoxx.be@routes.Application.index()">Access to Devoxx CFP</a></p>

<ul>
    <li>- Your username is <strong>@email</strong></li>
    <li>- Your password is <strong>@tempPassword</strong></li>
</ul>

<p>&nbsp;</p>
<p>Best regards</p>
<p>The Devoxx team</p>
