@(firstName:String, email:String, tempPassword:String)(implicit confDesc: ConferenceDescriptor)

<h2>Dear @firstName</h2>

<p>Welcome to @confDesc.naming.longName CFP (Call For Paper)</p>

<p>As a convenience to you, we have created an account for you on @confDesc.naming.longName. This account will enable to you access your profile and your submissions.</p>
<p>To access your @confDesc.naming.longName speaker dashboard, please click in the link below.</p>

<p><a href="http://@confDesc.conferenceUrls.cfpHostname@routes.Application.index()">Access to @confDesc.naming.longName CFP</a></p>

<ul>
    <li>- Your username is <strong>@email</strong></li>
    <li>- Your password is <strong>@tempPassword</strong></li>
</ul>

<p>&nbsp;</p>
<p>Best regards</p>
<p>The @confDesc.naming.longName team</p>
