@(fromName:String, toName:String, proposal:models.Proposal, msg:String)

<p>Hello</p>

<p>A new message was posted by <strong>@fromName</strong> to <strong>@toName</strong> regarding talk "<em>@proposal.title</em>" (<strong>@Messages(proposal.talkType.id)</strong>).</p>
<br>
<hr>
<p>@msg</p>
<p>@fromName</p>
<hr>
<h3>Follow the discussion</h3>
<p>Do not respond to this email, please use the CFP directly:</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CFPAdmin.openForReview(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CFPAdmin.openForReview(proposal.id)</a>
