@(firstName:String, proposals:List[Proposal])
@if(ConferenceDescriptor.current().frLangEnabled) {
    <strong>(English version below)</strong><br>
    <br>

    <p>Cher(e) @firstName</p>
    <br>
    <p><strong>Le CFP sera fermé le @ConferenceDescriptor.current().timing.cfpClosedOn.toString("EEEE dd/MM/YYYY HH:mm")</strong></p>
    <p>Nous vous informons que vous avez @proposals.size proposition@if(proposals.size>1){s} de sujet en attente, avec le status "Draft" (Brouillon).
    Pour que le comité puisse évaluer votre proposition, n'oubliez pas de les soumettre, sur la page principale de
    votre interface, dans le résumé de vos propositions.</p>
    <br>
    @proposals.map{proposal=>
     - @proposal.title <a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.editProposal(proposal.id)">@proposal.id</a> <br>
    }
    <br>
    <p>Si vous ne souhaitez plus recevoir ce message, et que vous n'avez pas d'autres propositions de sujets, vous pouvez placer
    les propositions à la poubelle, sur votre interface de gestion.</p>
    
    <p>Merci !</p>
    <br>
    L'équipe de sélection de @Messages("longName")<br>
    <br>
    <hr>
    <br>
}
<p>Dear @firstName</p>
<br>
<p><strong>CFP will be closed on @ConferenceDescriptor.current().timing.cfpClosedOn.toString("EEEE dd/MM/YYYY HH:mm")</strong></p>
<p>We'd like to inform you that you have @proposals.size proposal@if(proposals.size>1){s} with status set to "Draft" on @Messages("longName") CFP.
You must submit a talk for review on your private CFP section, so that the program committee can review and vote for your proposal.</p>

@proposals.map{proposal=>
- @proposal.title <a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.editProposal(proposal.id)">@proposal.id</a> <br>
}
<br>
<p>If you don't want to receive this message, you can also move the draft proposals to Trash from the home section.</p>
<br>
<p>Thanks!</p>

<p>The @Messages("longName") team</p>