@(proposals:List[Proposal], digest : Digest)

<h3>CFP '@digest.value' Digest</h3>

@if(ConferenceDescriptor.current().frLangEnabled) {
    <h5>Nouvelles propositions depuis le dernier digest</h5>
}else {
    <h5>New proposals since last digest</h5>
}
<UL>
@proposals.map{proposal=>
    <LI>
        <a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.editProposal(proposal.id)">@proposal.title</a> by @proposal.allSpeakers.mkString(", ")
        (@Messages(proposal.track.label) / @Messages(proposal.talkType.label))
    </LI>
}
</UL>

@if(ConferenceDescriptor.current().frLangEnabled) {
    <p>Vous pouvez toujours <a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.homeForSpeaker()"">mettre à jour</a> votre digest.</p>
}else {
    <p>You can always <a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.homeForSpeaker()"">update</a> your digest.</p>
}

@if(ConferenceDescriptor.current().frLangEnabled) {
    <p>Bonne évaluation</p>
    <p>L'équipe CFP</p>
}else {
    <p>Happy rating!</p>
    <p>The CFP Team</p>
}


