@(speakerId:String)(implicit req:RequestHeader)

@models.Speaker.findByUUID(speakerId).map{speaker:Speaker=>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @speaker.company.map{company=>
                    @tags.gticket.showSpeakerTag(speaker.uuid)
                }
            </div>
            <div class="panel-body">
                <p>@speaker.bio</p>
                <h4>@Messages("qualifications.label")</h4>
                @speaker.qualifications.map { q =>
                <p>@speaker.qualifications</p>
                }.getOrElse {
                    <em>Speaker did not yet entered its speaking skills/qualifications</em>
                }
            </div>
        </div>
    </div>
}