@()(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("Backoffice") {
<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2><i class="fas fa-magnet"></i> Backoffice</h2>
    </div>
    <div class="clearfix"></div>

    @if(flash.get("error").isDefined){
        <div class="alert alert-danger alert-dismissable col-md-12">
            <strong>Error :</strong>
            @flash.get("error").get
        </div>
    }
    @if(flash.get("success").isDefined){
        <div class="alert alert-success alert-dismissable col-md-12">
            @flash.get("success").get
        </div>
    }

    <div class="col-md-12">
        <div class="card">
        <div class="card-header">
            <h3>Home backoffice</h3>
        </div>
        <div class="card-body">

            <h4><i class="fas fa-check"></i> Accepted talks notification service</h4>
            <p>This service lets you search for a talk, then send a notification to the speaker</p>
            @for(proposalType <- ConferenceDescriptor.ConferenceProposalTypes.ALL) {
                <a href="@routes.ApproveOrRefuse.allApprovedByTalkType(proposalType.id)" class="btn btn-primary btn-sm"><i class="@ConferenceDescriptor.ConferenceProposalConfigurations.getHTMLClassFor(proposalType)"></i> @Messages(proposalType.label+".simple")</a>
            }
            <h4><i class="fas fa-ban"></i> Refused talks notification service</h4>
            @for(proposalType <- ConferenceDescriptor.ConferenceProposalTypes.ALL) {
                <a href="@routes.ApproveOrRefuse.allRefusedByTalkType(proposalType.id)" class="btn btn-danger btn-sm"><i class="@ConferenceDescriptor.ConferenceProposalConfigurations.getHTMLClassFor(proposalType)"></i> @Messages(proposalType.label+".simple")</a>
            }

            <h4><i class="fas fa-ban"></i> Mass refuse system</h4>
            <a href="@routes.ApproveOrRefuse.prepareMassRefuse("tia")" class="btn btn-danger btn-sm"><i class="fas fa-exclamation-triangle"></i> Mass Refuse system</a>

            <h4><i class="fas fa-road"></i> Proposals</h4>
            <a href="@routes.Backoffice.allProposals()" class="btn btn-primary btn-sm"><i class="fas fa-ticket-alt"></i> All Proposals</a>
            <a href="@routes.LeaderboardController.allProposalsByCompany()" class="btn btn-primary btn-sm"><i class="fas fa-ticket-alt"></i> All Proposals by Company</a>
            <a href="@routes.CFPAdmin.allApprovedSpeakersByCompany()" class="btn btn-warning btn-sm"><i class="fas fa-ticket-alt"></i> Approved by Company</a>

            <h4><i class="fas fa-ticket-alt"></i> Golden Tickets</h4>
            <a href="@routes.GoldenTicketAdminController.showAll()" class="btn btn-primary btn-sm"><i class="fas fa-ticket-alt"></i> All Golden Tickets</a>
            <a href="@routes.GoldenTicketAdminController.newGoldenTicket()" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Create a Golden Ticket</a>
            <a href="@routes.GoldenTicketAdminController.newGroupOfGoldenTicket()" class="btn btn-sm btn-primary"><i class="fas fa-cloud-download-alt"></i> Import/create Golden Tickets</a>
            <a href="@routes.GoldenTicketAdminController.showGoldenTicketVotes()" class="btn btn-sm btn-success"><i class="fas fa-star"></i> Golden Ticket Votes</a>

            <h4><i class="far fa-calendar-alt"></i> Planner</h4>
            <a href="/assets/angular/index.html" class="btn btn-success btn-sm"><i class="fas fa-adjust"></i> Angular Schedule application</a>
            <a href="@routes.Backoffice.sanityCheckSchedule()"  class="btn btn-sm btn-primary"><i class="fas fa-medkit"></i> Sanity check for schedule</a>
            <a href="@routes.Favorites.showAllForAdmin()"  class="btn btn-sm btn-primary"><i class="far fa-calendar-alt"></i> Most popular talks faved on Agenda</a>

            <h4><i class="fas fa-users"></i> Webusers</h4>
            <a href="@routes.CFPAdmin.allWebusers()" class="btn btn-sm btn-primary"><i class="fas fa-user"></i> @Messages("admin.btn.webuser")</a>
            <a href="@routes.CFPAdmin.allCFPWebusers()" class="btn btn-sm btn-primary"><i class="fas fa-user-md"></i> @Messages("admin.btn.tracklead")</a>
            <a href="@routes.CFPAdmin.allSpeakers()" class="btn btn-sm btn-primary"><i class="fas fa-users"></i> @Messages("admin.btn.speakers")</a>
            <a href="@routes.CFPAdmin.allDevoxxians()" class="btn btn-sm btn-primary"><i class="fas fa-users"></i> @Messages("admin.btn.devoxxians")</a>

            <h4><i class="fas fa-star"></i> Top Talks</h4>
            <a href="@routes.MobileVotingV1.topTalksAsHtml()" class="btn btn-sm btn-success"><i class="fas fa-star-half-alt"></i> Show the top rated talks</a>

            <h4><i class="fas fa-moon"></i> Cron</h4>
            <a href="@routes.Backoffice.sendDraftReminder()" class="btn btn-sm btn-primary"><i class="fas fa-sync"></i> Send a reminder to speakers for DRAFT</a>
            <a href="@routes.Backoffice.showDigests()" class="btn btn-sm btn-primary"><i class="fas fa-envelope"></i> Email Digests</a>

            <h4><i class="fas fa-tags"></i> Tags</h4>
            <a href="@routes.Backoffice.showAllTags()" class="btn btn-sm btn-primary"><i class="fas fa-tag"></i> All tags</a>
            <a href="@routes.Backoffice.newTag()" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> New tag</a>
            <a href="@routes.Backoffice.getProposalsByTags()" class="btn btn-sm btn-primary"><i class="fas fa-tags"></i> All proposals by Tags</a>
            <a href="@routes.Backoffice.getSelectionByTags()" class="btn btn-sm btn-primary"><i class="fas fa-tags"></i> Review Selection by Tags</a>
            <a href="@routes.Backoffice.importTags()" class="btn btn-sm btn-primary"><i class="fas fa-truck"></i> Import tags</a>
            <a href="@routes.Backoffice.exportTags()" class="btn btn-sm btn-primary"><i class="fas fa-save"></i> Export tags</a>

            <h4><i class="fas fa-search"></i> ElasticSearch</h4>
            <a href="@routes.Backoffice.doResetAndConfigureElasticSearch()" class="btn btn-warning btn-sm"><i class="fas fa-trash"></i> Delete Index</a>
            <a href="@routes.Backoffice.doIndexElasticSearch()" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> Re-index</a><br>

            @if(ConferenceDescriptor.isTwilioSMSActive){
                <h4>SMS notification</h4>
                <a href="@routes.SMSController.allSpeakers()" class="btn btn-primary btn-sm"><i class="fas fa-phone"></i> See the list of speakers with phoneNumber</a>
            }

            <br><br>

            <div class="panel panel-danger">
                <div class="card-header"><h4><i class="fas fa-comment"></i> 'My Devoxx' Mobile Notifications</h4></div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Push notification</span>
                                <input id="pushMessage" type="text" class="form-control" placeholder="Message to push to all 'My Devoxx' mobile users, handle with care!">
                            </div>
                        </div>
                    </form>
                    <button id="pushMsg" class="btn btn-danger btn-sm"><i class="fas fa-exclamation-triangle"></i> Push Message</button>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#pushMsg').click(function(evt) {
            var msg = $('#pushMessage').val();

            var obj = {
                stringField: msg
            };

            $.ajax({
                type : 'POST',
                url : "/admin/push/message",
                data: JSON.stringify(obj),
                headers: {
                    'Content-Type': 'application/json'
                },
                success : function(data) {
                    alert("Mobile users notified");
                },
                error : function(data) {
                    setError('Push notification failed!');
                }
            });
            return false;
        });
</script>
}
