@()(implicit lang: Lang, flash: Flash, uuid:String, req:RequestHeader)

@main("Backoffice") {
<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2><i class="icon-magnet"></i> Backoffice</h2>
    </div>
    <div class="clearfix"></div>

    @if(flash.get("error").isDefined){
        <div class="alert alert-danger alert-dismissable col-md-12">
            <strong>Error :</strong>
            @flash.get("error").get
        </div>
    }
    @if(flash.get("success").isDefined){
        <div class="alert alert-success alert-dismissable col-md-12">
            @flash.get("success").get
        </div>
    }

    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Home backoffice</h3>
        </div>
        <div class="panel-body">
            <a href="@routes.Backoffice.doIndexElasticSearch()" class="label label-primary"><i class="icon-search"></i> Trigger Elasticsearch indexer</a><br>
            <a href="@routes.ProgramBuilder.index()" class="label label-primary"><i class="icon-calendar"></i> Planner</a><br>

            <h4>Accept or reject service</h4>
            <a href="@routes.AcceptOrReject.allAcceptedByTalkType(ProposalType.UNI.id)" class="btn btn-primary btn-sm"><i class="icon-laptop"></i> University</a>
            <a href="@routes.AcceptOrReject.allAcceptedByTalkType(ProposalType.LAB.id)" class="btn btn-primary btn-sm"><i class="icon-beaker"></i> Labs</a>
            <a href="@routes.AcceptOrReject.allAcceptedByTalkType(ProposalType.TIA.id)" class="btn btn-primary btn-sm"><i class="icon-legal"></i> Tools-in-Action</a>
            <a href="@routes.AcceptOrReject.allAcceptedByTalkType(ProposalType.CONF.id)" class="btn btn-primary btn-sm"><i class="icon-microphone"></i> Conference</a>
            <a href="@routes.AcceptOrReject.allAcceptedByTalkType(ProposalType.BOF.id)" class="btn btn-primary btn-sm"><i class="icon-group"></i> BOF</a>
            <a href="@routes.AcceptOrReject.allAcceptedByTalkType(ProposalType.QUICK.id)" class="btn btn-primary btn-sm"><i class="icon-fast-forward"></i> Quickie</a>

        </div>
        </div>
    </div>
</div>
}