@(errors: List[ProposalAndRelatedError])(implicit lang: Lang, flash: Flash, req: RequestHeader)
@import models.ProposalAndRelatedError
@import models.ProposalsWithErrors
@main("CFP Admin - Backoffice") {

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-offset-4 col-md-4">
            <h2><i class="far fa-calendar-alt-check"></i> Agenda - Check</h2>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Published talks</h3>

                    <p>Show the list of talks which have been edited compared to the published version on the Program.</p>
                    <p>Review and confirm each update, to update the published agenda.</p>
                </div>

                <div class="card-body">

                @errors.map { case err =>
                    <div class="col-md-12">
                        <h4>@err.p.id @err.p.title <em>@Messages(err.p.talkType.id)</em>
                        <a href="@routes.CFPAdmin.openForReview(err.p.id)">see details</a> </h4>
                        <strong>@err.errMsg</strong>
                        <div class="panel">
                            <div class="card-header">Before</div>
                            <div class="card-body">
                                <pre>@err.initialValue</pre>
                            </div>

                            <div class="card-header">After</div>
                            <div class="card-body">
                                <pre>@err.newValue</pre>
                            </div>

                            <div class="panel-footer">
                                <a href="@routes.Backoffice.confirmPublicationChange(err.p.talkType.id, err.p.id)" class="btn btn-sm btn-success">
                                    Confirm and update the Agenda for @err.p.id</a>
                            </div>
                        </div>
                    </div>
                }

                    @if(errors.isEmpty){
                        <p class="badge badge-success"><i class="fas fa-check"></i> There is no diff/errors to report. Published Agenda = current version of the agenda.</p>
                    }

                </div>
            </div>
        </div>
    </div>
}
