@(proposals:List[Proposal])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("CFP Admin - all declined") {

    <script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2><i class="icon-thumbs-up-alt"></i> CFP Admin</h2>
    </div>
    <div class="clearfix"></div>

    @if(flash.get("error").isDefined){
        <div class="alert alert-danger alert-dismissable col-md-12">
            <strong>Error :</strong>
            @flash.get("error").get
        </div>
    }
    @if(flash.get("success").isDefined){
        <div class="alert alert-success alert-dismissable col-md-12">
            @Html(flash.get("success").get)
        </div>
    }

    <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>All Declined Proposals</h3>
        </div>

        <div class="panel-body">

            @if(proposals.nonEmpty){
            <table id="allProposals" class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Proposal id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Change current status</th>
                    </tr>
                </thead>
                <tbody>
                @proposals.map{ proposal =>
                    @defining(ApprovedProposal.isRefused(proposal.id, proposal.talkType.id)) { refused =>
                        @defining(ApprovedProposal.isApproved(proposal.id, proposal.talkType.id)) { approved =>
                            <tr class="preselected_@approved refused_@refused">
                                <td>
                                    <small><a href="@routes.CFPAdmin.openForReview(proposal.id)">@proposal.id</a></small>
                                </td>
                                <td>
                                    <small>@proposal.title</small>
                                </td>
                                <td>
                                @tags.renderGravatar(proposal.mainSpeaker, showPhoto = false)
                                </td>
                                <td>
                                    <span class="label label-@proposal.state.code">@proposal.state.code</span>
                                </td>
                                <td>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.SUBMITTED.code)" class="btn btn-sm btn-success">
                                        Submitted</a> </small>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.APPROVED.code)" class="btn btn-sm btn-default">
                                        Approved</a> </small>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.BACKUP.code)" class="btn btn-sm btn-warning">
                                        Backup</a> </small>
                                </td>
                            </tr>
                        }
                    }
                }
                </tbody>
            </table>
            }else{
                <P>There is no proposal with status Declined</P>
            }
        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {

    $('#allProposals').dataTable({
        "aaSorting": [[ 4, "desc" ]],
        "iDisplayLength": 50,
        "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        "bStateSave": true,
        "aoColumns": [
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"}
        ]
    });
} );
</script>
}
