@(tags:List[Tag])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("CFP Admin - All tags") {

  <script type="text/javascript" charset="utf-8" language="javascript" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf-8" language="javascript" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

  <div class="row">
    <div class="col-lg-offset-4 col-md-4">
      <h2><i class="fas fa-thumbs-up"></i> CFP Admin</h2>
    </div>
    <div class="clearfix"></div>

    @if(flash.get("error").isDefined){
      <div class="alert alert-danger alert-dismissable col-md-12">
        <strong>Error :</strong>
        @flash.get("error").get
      </div>
    }
    @if(flash.get("success").isDefined){
      <div class="alert alert-success alert-dismissable col-md-12">
        @flash.get("success").get
      </div>
    }

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3><i class="fas fa-tags"></i> All Tags (@tags.length)</h3>
        </div>

        <div class="card-body">
          <a href="@routes.Backoffice.newTag()" class="btn btn-sm btn-primary">Create a new Tag</a>
          <br><br>
          @if(tags.nonEmpty){
            <table id="tags" class="table table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  <th>Tag Name</th>
                  <th style="width: 25px">Edit</th>
                  <th style="width: 25px">Delete</th>
                </tr>
              </thead>
              <tbody>
              @tags.map{ tag =>
                <tr id="@tag.id">
                  <td>
                      @tag.value
                  </td>
                  <td>
                    <form action="@routes.Backoffice.editTag(tag.id)" method="POST">
                      <button type="submit" value="unactivate" class="btn btn-success btn-small"><i class="fas fa-edit"></i></button>
                    </form>
                  </td>
                  <td>
                      <button type="button" data-url="@routes.Backoffice.deleteTag(tag.id)" data-id="@tag.id" class="deleteBtn btn btn-warning btn-small"><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
              }
              </tbody>
            </table>
          }else{
            <P>There are no tags available, you should first create or import them.</P>
          }
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function delete_tag(){
        var urlToDelete = $(this).attr('data-url');
        var tagId = $(this).attr('data-id');

        $.ajax({
        url: urlToDelete,
        type: 'DELETE',
        success: function(data) {
            var rowToDelete = $('#tags').find('tr#'+tagId);
            if(rowToDelete !== null){
                rowToDelete.fadeIn().remove();
            }
        }
    });
    }

          $(document).ready(function() {



              $('.deleteBtn').click(delete_tag);

            $('#tags').dataTable({
              "aaSorting": [[ 1, "desc" ]],
              "iDisplayLength": 50,
              "aLengthMenu": [[25, 50, 100], [25, 50, 100]],
              "bStateSave": true,
              "aoColumns": [
                { "sType": "string"},
                { "sType": "string"},
                { "sType": "string"}
              ]
            });
          } );
  </script>
}
