@(currentUser: Webuser, webusers: List[(String, Webuser)])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("CFP Admin - Email Digests Queue", additionalAssets = List(
  HtmlAsset("https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js", Javascript),
  HtmlAsset("https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css", Stylesheet)
)) {

  <h2>Digest simulator</h2>
  <em>This page is aimed at simulating email sent to users for next digest frequency execution</em>
  <hr/>
  <div class="col-md-12">
    <div class="form-group form-inline">
      <label for="user">User</label>:
      <select class="form-control chosen" id="user">
      @webusers.sortBy(_._2.cleanName).map { user =>
        <option value="@user._2.uuid" @if(user._2.uuid==currentUser.uuid){ selected="true" }>@user._2.cleanName (@user._1)</option>
      }
      </select>
    </div>
    <br/>
    <div class="form-group form-inline">
      <label for="digestFrequency">Digest frequency</label>:
      <select class="form-group" id="digestFrequency">
      @Digest.selectableDigests.map { digest =>
        <option value="@digest.value">@Messages(digest.labelI18nMessage())</option>
      }
      </select>
    </div>
    <div class="form-group form-inline">
      <label for="format">Format</label>:
      <select class="form-group" id="format">
        <option value="html">HTML</option>
        <option value="txt">TXT</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" id="simulateBtn">Simulate</button>
    <hr/>
    <iframe id="result" src="" style="width: 100%; height: 600px"></iframe>
  </div>

  <script type="text/javascript">
      const SIMULATOR_BASE_URL = "@routes.Backoffice.simulateDigest("","").url.substring(0, routes.Backoffice.simulateDigest("","").url.indexOf("?"))";
      $(".chosen").chosen({
        allow_single_deselect: true,
        disable_search: false,
      });
      $("#simulateBtn").click(() => {
        const newIFrameUrl = SIMULATOR_BASE_URL+`?frequency=${$("#digestFrequency").val()}&webuser=${$("#user").val()}&isHtml=${$("#format").val()==='html'}`
        $("#result").attr('src', newIFrameUrl);
      })
  </script>
}
