@(approvedProposals: List[Proposal], rejectedProposals:List[Proposal], cssrf:String)(implicit lang: Lang, flash: Flash, req: RequestHeader, confDesc: ConferenceDescriptor)

@main("Please review your approved list of talks") {

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon-bullhorn"></i> @Messages("acceptedProposals.title", Messages("longName"))</h3>
                </div>

                <div class="panel-body">
                    <div class="panel-body">

                        @if(flash.get("error").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissable">
                                    <strong>Error :</strong>
                                    @flash.get("error").get
                                </div>
                            </div>
                        }
                        @if(flash.get("success").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-success alert-dismissable">
                                @flash.get("success").get
                                </div>
                            </div>
                        }

                        <div class="col-md-12">
                            <h3><i class="icon-play-circle"></i> @Messages("ar.approved")</h3>
                            @if(approvedProposals.isEmpty){
                                @Messages("ar.noneApproved")
                            }else{
                                <div class="panel panel-success">
                                    <div class="panel-body">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Important :</h3>
                                        </div>
                                        <div class="panel-body">
                                            @Messages("ar.pleaseAccept")
                                        </div>
                                    </div>
                                </div>
                            }
                          @approvedProposals.sortBy(_.title).map{proposal=>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3>@proposal.title</h3>
                                </div>
                                <div class="panel-body">
                                    <span class="label label-info">@proposal.id</span><br>
                                    <span class="label label-primary">@Messages(proposal.talkType.label)</span><br>
                                    @Messages("ar.currentStatus") <span class="label label-default">@Messages(proposal.state.code)</span>
                                </div>

                                <div class="panel-body">
                                    <div class="btn-group">
                                        <p>@Messages("ar.pleaseSelect")</p>
                                        <form action="@routes.ApproveOrRefuse.doAcceptOrRefuseTalk()" method="post">
                                            @if(proposal.state==ProposalState.APPROVED) {
                                                <button name="dec" value="accept" class="btn btn-sm btn-success"> @Messages("ar.IAccept")</button> <br>
                                            }
                                            @if(proposal.state==ProposalState.ACCEPTED) {
                                                 <button name="dec" value="" class="btn btn-sm btn-success" disabled> Accepted</button> <br>
                                            }
                                            @if(proposal.state==ProposalState.BACKUP){
                                                <p>This is a <span class="label label-warning">BACKUP</span> talk. We will notify you if it is approved at a later time.</p>
                                                <p>However you can decline if you don't want to keep this talk as a backup.</p>
                                                <button name="dec" value="" disabled class="btn btn-sm btn-success"> @Messages("ar.IAccept")</button> <br>
                                            }
                                            @if(proposal.state==ProposalState.APPROVED) {
                                                <button name="dec" value="decline" class="btn btn-sm btn-danger"> @Messages("ar.IDecline")</button> <br>
                                            }
                                            @if(proposal.state==ProposalState.ACCEPTED) {
                                                <button name="dec" value="decline" class="btn btn-sm btn-danger"> @Messages("ar.IDecline")</button> <br>
                                            }
                                            @if(proposal.state==ProposalState.BACKUP) {
                                                <button name="dec" value="decline" class="btn btn-sm btn-danger"> @Messages("ar.IDecline")</button> <br>
                                            }
                                            @if(proposal.state==ProposalState.DECLINED) {
                                                <button name="dec" value="" disabled class="btn btn-sm btn-danger"> Declined </button> <br>
                                            }


                                            <input type="hidden" name="cssrf_t" value="@cssrf">
                                            <!-- ne vous amusez pas à passer un id different ici, car je verifie du cote serveur le proprietaire de la soumission ;-) //-->
                                            <input type="hidden" name="proposalId" value="@proposal.id">
                                        </form>
                                  </div>
                                </div>
                             </div>
                          }
                        </div>

                        @if(rejectedProposals.nonEmpty){
                        <div class="col-md-12">
                              <h3><i class="icon-stop"></i> @Messages("ar.rejected")</h3>
                          @rejectedProposals.map{proposal=>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3>@proposal.title</h3>
                                </div>
                                <div class="panel-body">
                                    <span class="label label-info">@proposal.id</span><br>
                                    <span class="label label-primary">@Messages(proposal.talkType.id)</span>
                                </div>
                            </div>
                          }
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <a href="@routes.CallForPaper.homeForSpeaker" class="btn btn-primary">@Messages("ar.goBackHome")</a>
        </div>
    </div>

}