@(allProposals:List[models.Proposal], confType:String)(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("All refused talks") {

    <script type="text/javascript" charset="utf-8" language="javascript" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css">

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1><i class="icon-bar-chart"></i> @Messages(confType)</h1>
            </div>

            <div class="panel-body">
                <div class="panel-body">
                    <div class="col-md-12">
                        @if(flash.get("error").isDefined) {
                            <div class="alert alert-danger alert-dismissable">
                                <strong>Error :</strong>
                                @flash.get("error").get
                            </div>
                        }
                        @if(flash.get("success").isDefined) {
                            <div class="alert alert-success alert-dismissable">
                                @flash.get("success").get
                            </div>
                        }
                   </div>


                <div class="col-md-12">
                    <h3>@defining(allProposals.size){refusedSize=>
                        @refusedSize proposal@if(refusedSize>1){s} refused</h3>
                    }
                       <span class="label label-primary">@allProposals.count(_.lang == "fr") FR</span>
                       <span class="label label-default">@allProposals.count(_.lang == "en") EN</span>


                    @allProposals.groupBy(_.track).map{case(track,listOfProps)=>
                        <span class="label label-info">@listOfProps.size @Messages(track.label)</span>
                    }

                    <br>
                    <small>If proposal's state = REJECTED then the speaker has been notified.</small>

                    <table id="allProposals" class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Proposal title</th>
                                <th>Proposal id</th>
                                <th>All speakers</th>
                                <th>Track</th>
                                <th>Status</th>
                                <th>Notify</th>
                            </tr>
                        </thead>
                        <tbody>
                            @allProposals.map { proposal =>
                                <tr class="tr_@proposal.state.code">
                                    <td>
                                        <a href="@routes.CFPAdmin.openForReview(proposal.id)">@proposal.title</a>
                                    </td>
                                    <td>@proposal.id</td>
                                    <td>
                                        @tags.renderGravatar(proposal.mainSpeaker,showName = true, showPhoto = false)
                                    @proposal.secondarySpeaker.map { sp =>
                                        @tags.renderGravatar(sp,showName = true, showPhoto = false)
                                    }
                                    @proposal.otherSpeakers.map{ sp2=>
                                        @tags.renderGravatar(sp2,showName = true, showPhoto = false)
                                    }
                                    </td>
                                    <td>
                                        @Messages(proposal.track.label)
                                    </td>
                                    <td>
                                        @Messages(proposal.state.code)
                                    </td>
                                    <td>
                                        <a href="@routes.ApproveOrRefuse.notifyRefused(confType, proposal.id)" title="Send an email and change the state to REJECTED (Async)" class="label label-danger"><i class="icon-warning-sign"></i> Notify refused</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    $('#allProposals').dataTable({
    "aaSorting": [[ 0, "desc" ]],
    "iDisplayLength": 50,
    "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    "bStateSave": true,
    "aoColumns": [
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"}
        ]
    });
    } );
</script>

}