@(formAccept: Form[Boolean])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("Accept or refuse "+ Messages("shortName")+" terms") {

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1><i class="icon-bullhorn"></i>Devoxx France  : Terms and Conditions</h1>
                </div>

                <div class="panel-body">
                    <div class="panel-body">

                        @if(flash.get("error").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissable">
                                    <strong>Error :</strong>
                                    @flash.get("error").get
                                </div>
                            </div>
                        }
                        @if(flash.get("success").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-success alert-dismissable">
                                @flash.get("success").get
                                </div>
                            </div>
                        }

                        <div class="col-md-8 col-lg-offset-2">

                            <p>Please read and accept Devoxx France Terms & Conditions :</p>

                            <div class="input-group">
<h3>English version</h3>

<textarea class="form-control" cols="70" rows="15">

On behalf of myself and my company/organisation, ("Organisation") and in consideration of my participation in the Event, I grant Devoxx Belgium (and its designated contractors), and its subsidiaries and affiliates under common control ("Devoxx") the following permissions in connection with Devoxx Belgium 2016, which are scheduled to take place 7th to 11th of November, 2016 (the "Event"):

- Permission to use my name, biographic material, likeness, and portrait (hereinafter collectively referred to as my "Likeness") for the purpose of publicising my presentation(s) at/participation in the Event (my "Presentation").
- Permission to make sound and visual recordings of my Presentation (the "Recordings").
- Permission to use, copy, translate, reformat, broadcast, publish, and distribute all or parts of my Presentation, the Recordings, a transcript of the Recordings, and any presentation materials that I provide to Devoxx and use in connection with my Presentation (the "Presentation Materials"). This includes, without limitation, the right to distribute the Presentation Materials via streaming on YouTube.com, and the right to distribute, broadcast and rebroadcast my Presentation as part of Event proceedings and archives that Devoxx makes available on its web site. Any such use must be in connection with the Event, and must not be misleading or reflect negatively on my Organisation or me.

I understand that neither my Organisation nor I will receive any compensation for granting these permissions. Devoxx is not granted any other permissions or rights with respect to my Likeness, my Presentation, the Recordings, or the Presentation Materials.

I undertake in each of my presentations to strictly comply with the principles of non-discrimination, the opinions of each, the gender diversity, race and religion, and not to harm the image of others. I understand that any breach of the principles set out above will cause my exclusion from the conference, without any form of compensation.

(1) I am the person who is accepting the invitation to present the session listed above;
(2) grant this permission and agree to the terms and conditions set forth above on behalf of my Organisation and myself;
(3) have authority to agree to such terms and conditions on behalf of my Organisation or co-speaker; and
(4) confirm that no further consents or permissions are required by Devoxx in order to use the Presentation Materials.

</textarea>
<h3>Version en Français</h3>

<textarea class="form-control" cols="70" rows="15">
J'autorise Devoxx France, la société Quantixx organisatrice de Devoxx France (et ses contractants), en mon nom et au nom de ma société/organisation, en considération de ma participation comme présentateur à la conférence Devoxx France :
    - la permission d'utiliser mon nom, mes références biographiques, ma photo, en vue de publication sur le site Internet de la conférence, dans la partie programme
    - la permission d'enregistrer et de mettre en ligne gratuitement sur le site Parleys.com, ma ou mes présentations, sans que cela ne donne droit à une retribution
    - la permission de copier, diffuser, utiliser, traduire tout ou partie de ma (mes) présentation(s), ainsi que de mes supports de présentation

Je comprends et j'accepte que ni moi, ni mon employeur, ne peuvent recevoir de compensation pour la cession de ces droits. Devoxx France, représentée par la société Quantixx, n'aura aucuns autres droits que ceux explicitement listé ici.

Je m'engage dans chacune de mes présentations à respecter strictement les principes de non-discrimination, les opinions de chacun, la diversité de sexe, de race et de religion, et à ne pas porter atteinte à l'image d'autrui. Je comprends que
tout manquement aux principes énoncés ci-dessus entrainera mon exclusion de la conférence, sans que cela ne puisse donner lieu à une quelconque compensation.

(1) Je déclare être la personne qui accepte l'invitation des organisateurs de Devoxx France
(2) Je donne cette permission et j'accepte les "Termes et Conditions" de Devoxx France, au nom de mon organisation et de moi-même
(3) Je reconnais avoir tout autorité pour accepter ces termes, en mon nom, et au nom de mon organisation ou co-speaker
(4) Je confirme qu'aucune autre permission n'est nécessaire pour que Devoxx France puisse utiliser mes éléments de présentation.

</textarea>
                            </div>
                            @helper.form(routes.ApproveOrRefuse.acceptTermsAndConditions()) {
                                @helper.checkbox(formAccept("accept.chk"))
                                <input type="submit" value="Validate" class="btn btn-lg btn-success">
                                <a href="@routes.ApproveOrRefuse.declineTermsAndConditions()" class="btn btn-lg btn-danger">Decline</a>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
