@(formAccept: Form[Boolean])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("Accept or refuse "+ Messages("shortName")+" terms") {

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1><i class="icon-bullhorn"></i>Devoxx United-Kingdom 2017 : Terms and Conditions</h1>
                </div>

                <div class="panel-body">
                    <div class="panel-body">

                        @if(flash.get("error").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissable">
                                    <strong>Error :</strong>
                                    @flash.get("error").get
                                </div>
                            </div>
                        }
                        @if(flash.get("success").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-success alert-dismissable">
                                @flash.get("success").get
                                </div>
                            </div>
                        }

                        <div class="col-md-8 col-lg-offset-2">

                            <p>Please read and accept Devoxx United-Kingdom 2017 Terms & Conditions :</p>

                            <div class="input-group">
<textarea class="form-control" cols="70" rows="15">

    Devoxx United-Kingdom 2017 - Terms & conditions


On behalf of myself and my company/organisation, ("Organisation") and in consideration of my participation in the Event, I grant Devoxx United-Kingdom (and its designated contractors), and its subsidiaries and affiliates under common control ("Devoxx") the following permissions in connection with Devoxx United-Kingdom 2017, which are scheduled to take place 11th to 12th of May, 2017 (the "Event"):

- Permission to use my name, biographic material, likeness, and portrait (hereinafter collectively referred to as my "Likeness") for the purpose of publicising my presentation(s) at/participation in the Event (my "Presentation").
- Permission to make sound and visual recordings of my Presentation (the "Recordings").
- Permission to use, copy, translate, reformat, broadcast, publish, and distribute all or parts of my Presentation, the Recordings, a transcript of the Recordings, and any presentation materials that I provide to Devoxx UK and use in connection with my Presentation (the "Presentation Materials"). This includes, without limitation, the right to distribute the Presentation Materials via streaming on YouTube.com, and the right to distribute, broadcast and rebroadcast my Presentation as part of Event proceedings and archives that Devoxx UK makes available on its web site. Any such use must be in connection with the Event, and must not be misleading or reflect negatively on my Organisation or me.

I understand that neither my Organisation nor I will receive any compensation for granting these permissions. Devoxx UK is not granted any other permissions or rights with respect to my Likeness, my Presentation, the Recordings, or the Presentation Materials.

I undertake in each of my presentations to strictly comply with the principles of non-discrimination, the opinions of each, the gender diversity, race and religion, and not to harm the image of others. I understand that any breach of the principles set out above will cause my exclusion from the conference, without any form of compensation.

(1) I am the person who is accepting the invitation to present the session listed above;
(2) grant this permission and agree to the terms and conditions set forth above on behalf of my Organisation and myself;
(3) have authority to agree to such terms and conditions on behalf of my Organisation or co-speaker; and
(4) confirm that no further consents or permissions are required by Devoxx UK in order to use the Presentation Materials.

</textarea>
                            </div>
                            @helper.form(routes.ApproveOrRefuse.acceptTermsAndConditions()) {
                                @helper.checkbox(formAccept("accept.chk"))
                                <input type="submit" value="Validate" class="btn btn-lg btn-success">
                                <a href="@routes.CallForPaper.homeForSpeaker()" class="btn btn-lg btn-danger">Decline</a>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
