@(formAccept: Form[Boolean])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("Accept or refuse Devoxx terms") {

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1><i class="icon-bullhorn"></i> @Messages("approve.title")</h1>
                </div>

                <div class="panel-body">
                    <div class="panel-body">

                        @if(flash.get("error").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissable">
                                    <strong>Error :</strong>
                                    @flash.get("error").get
                                </div>
                            </div>
                        }
                        @if(flash.get("success").isDefined) {
                            <div class="col-md-12">
                                <div class="alert alert-success alert-dismissable">
                                @flash.get("success").get
                                </div>
                            </div>
                        }

                        <div class="col-md-8 col-lg-offset-2">

                            <p>@Messages("acceptTerm.pleaseRead")</p>

                            <div class="input-group">

                                <textarea class="form-control" cols="70" rows="15">
 @if(lang.language=="fr") {
Au nom de moi-même et de mon entreprise ou organisation,("Organisation") et en contrepartie de ma participation à l' événement, j'accorde à Devoxx France (et ses sous-traitants désignés), et ses filiales et sociétés affiliées sous contrôle commun ("Devoxx") les autorisations dans le cadre de Devoxx France 2014, prévue du 16 au 18 Avril 2014 (l'«événement») :

- l'autorisation d'utiliser mon nom, mon matériel biographique et ma photo (ci-après collectivement dénommés mon "identité") dans le but de faire connaître mon exposé(s) au participant de l'événement (ma " Présentation").
- l'autorisation de faire des enregistrements sonores et visuels de ma présentation (les «enregistrements») .
- l'autorisation d'utiliser, copier, traduire, reformater, diffuser, publier et distribuer tout ou partie de ma présentation, les enregistrements, une transcription des enregistrements, et des documents de présentation que je fournis à Devoxx et utilisés dans le cadre de ma présentation. Cela inclut, sans limitation, le droit de distribuer les documents de présentation en streaming et télécharger à partir du site Web Parleys.com, et le droit de distribuer, diffuser et rediffuser ma présentation dans le cadre de la procédure de l'événement et les archives que Devoxx met à disposition sur son site Web site.
  Une telle utilisation doit être en lien avec l'événement, et ne doit pas être trompeuse ou se refléter négativement sur ​​mon organisme ou moi.

Je comprends que ni mon organisation, ni moi, ne recevront aucune compensation pour l'octroi de ces autorisations .
Devoxx ne se voit pas accorder de droits complémentaires, ou d'autres autorisations ou de droits à l'égard de mon image, ma présentation, les enregistrements, ou la présentation des matériaux.

    ( 1 ) Je suis la personne qui accepte l'invitation à présenter la session indiquée ci-dessus ;

    ( 2 ) j'accorde cette autorisation et accepte les termes et conditions énoncées ci-dessus au nom de mon organisation et de moi-même;

    ( 3 ) j'ai autorité pour accepter les termes et conditions au nom de mon organisation

    ( 4 ) je confirme qu'aucune autre consentements ou autorisations ne sont requises par Devoxx afin d'utiliser les matériaux de ma présentation.

 }else{
    On behalf of myself and my company/organisation, ("Organisation") and in consideration of my participation in the Event, I grant Devoxx France (and its designated contractors), and its subsidiaries and affiliates under common control ("Devoxx") the following permissions in connection with Devoxx France 2014, which are scheduled to take place April 16-18, 2014 (the "Event"):

    - Permission to use my name, biographic material, likeness, and portrait (hereinafter collectively referred to as my "Likeness") for the purpose of publicising my presentation(s) at/participation in the Event (my "Presentation").
    - Permission to make sound and visual recordings of my Presentation (the "Recordings").
    - Permission to use, copy, translate, reformat, broadcast, publish, and distribute all or parts of my Presentation, the Recordings, a transcript of the Recordings, and any presentation materials that I provide to Devoxx and use in connection with my Presentation (the "Presentation Materials"). This includes, without limitation, the right to distribute the Presentation Materials via streaming and download from the Parleys.com web site, and the right to distribute, broadcast and rebroadcast my Presentation as part of Event proceedings and archives that Devoxx makes available on its web site. Any such use must be in connection with the Event, and must not be misleading or reflect negatively on my Organisation or me.

    I understand that neither my Organisation nor I will receive any compensation for granting these permissions. Devoxx is not granted any other permissions or rights with respect to my Likeness, my Presentation, the Recordings, or the Presentation Materials.

    (1) I am the person who is accepting the invitation to present the session listed above;

    (2) grant this permission and agree to the terms and conditions set forth above on behalf of my Organisation and myself;

    (3) have authority to agree to such terms and conditions on behalf of my Organisation or co-speaker; and

    (4) confirm that no further consents or permissions are required by Devoxx in order to use the Presentation Materials.
 }
</textarea>
                            </div>
                            @helper.form(routes.ApproveOrRefuse.acceptTermsAndConditions()) {
                                @helper.checkbox(formAccept("accept.chk"))
                                <input type="submit" value="Validate" class="btn btn-lg btn-success">
                                <a href="@routes.CallForPaper.homeForSpeaker()" class="btn btn-lg btn-danger">Decline</a>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}