@(formWebuser: Form[Webuser], speakerForm: Form[Speaker])

@import helper.twitterBootstrap._
@import org.apache.commons.codec.digest.DigestUtils

@main("Nouveau profil") {
    <div class="row">
        <div class="col-md-12 page-header">
            <h3>Créer votre profil de présentateur Devoxx France</h3>
        </div>
        <div class="col-md-8">
            @helper.form(action = routes.Authentication.validateImportedSpeaker) {
                <div class="clearfix  " id="email_field">
                    <label for="email">Adresse email</label>
                    <div class="input">

                        <input type="text" id="email" name="email" value="@formWebuser("email").value.getOrElse("")" readonly="true" size=40>
                        <span class="help-inline">(non modifiable)</span>
                    </div>
                </div>

                @helper.inputText(formWebuser("firstName"))
                @helper.inputText(formWebuser("lastName"))


                @helper.inputText(speakerForm("company"))
                @helper.textarea(speakerForm("bio"), 'cols -> 80, 'rows -> 5)
                @helper.inputText(speakerForm("twitter"), 'placeholder -> "@nickname")
                @helper.inputText(speakerForm("blog"), 'size -> 50, 'placeholder -> "http://www.yourblog.com/")

                @helper.inputText(speakerForm("avatarUrl"), 'size -> 80)

                <div class="btn-block">
                    <button type="submit" class="btn btn-success">Enregister et continuer</button>
                </div>
            }
        </div>
        <div class="col-md-4">
            <P>Nous utiliserons l'image <a href="http://fr.gravatar.com/" title="Gravater web site" target="new">
                Gravatar</a>  suivante :
                <img src="http://www.gravatar.com/avatar/@DigestUtils.md5Hex(formWebuser("email").value.map(_.trim().toLowerCase()).getOrElse(""))" alt="Gravatar" title="Update your profile on gravatar.com">
            </P>
            <p>Si vous souhaitez modifier votre photo, rendez-vous directement sur le site <a href="http://www.gravatar.com/" target="_blank" title="Configure a picture">http://www.gravatar.com/</a></p>
        </div>
    </div>

}