@(emailForm:Form[String])
@import helper.twitterBootstrap._

@template("Forget password"){
<div class="row">
    <div class="col-md-12 page-header">
    <h1>Mot de passe oublié ?</h1>
    </div>
    <div class="col-md-12">
    @helper.form(action=routes.Authentication.doForgetPassword()){
            <p>Merci de préciser l'email utilisé lors de votre inscription sur ce site :</p>
            @helper.inputText(emailForm("email"))
        <button class="btn btn-success" type="submit">Envoyez-moi un email de confirmation</button>
    }
    </div>
</div>
}