@(formWebuser: Form[Webuser])(implicit flash:Flash)

@import helper.twitterBootstrap._

@main("signup") {

<div class="row">
    <div class="col-md-12 page-header">
        <h1>Inscription orateur</h1>
    </div>
    <div class="col-md-8">
        <h3><i class="icon-signin"></i> Inscription classique</h3>
        <p>Inscrivez-vous afin de pouvoir ensuite proposer vos sujets de présentation pour la conférence Devoxx France 2014 :</p>

        @if(flash.get("error").isDefined){
            <div class="alert alert-danger">
                <strong>Erreur</strong>
                @flash.get("error").get
            </div>
        }

        @helper.form(action = routes.Authentication.saveNewSpeaker) {
            @helper.inputText(formWebuser("email"))
            @helper.inputText(formWebuser("firstName"))
            @helper.inputText(formWebuser("lastName"))


            <p>Un email de validation est envoyé à l'adresse indiquée. Votre profil ne sera actif qu'une fois que votre adresse de courrier électronique sera validée.</p>
            <button class="btn btn-success" type="submit">Enregister</button>
        }
    </div>

    <div class="col-md-4">
        <h3><i class="icon-external-link-sign"></i> @Html(Messages("register.withopenid"))</h3>
        <p>@Html(Messages("home.txt2"))</p>
        <a class="btn btn-default" href="@routes.Authentication.githubLogin()" title="Sign-in with your Github profile to Devoxx FR"><i class="icon-github-sign"></i> Github</a>
        <a class="btn btn-default" href="@routes.Authentication.googleLogin()" title="Sign-in with your Google account to Devoxx FR"><i class="icon-google-plus-sign"></i> Google</a>
    </div>
</div>
}