@(formWebuser: Form[Webuser])(implicit flash:Flash, lang:Lang, req: RequestHeader)

@import helper.twitterBootstrap._

@main(Messages("longYearlyName")+ " - " + Messages("signup.title")) {

<div class="row">
    <div class="col-md-12 page-header">
        <h1><i class="icon-signin"></i> @Messages("signup.title")</h1>
    </div>
    <div class="col-md-8">

        <p>@Messages("signup.txt1", Messages("longYearlyName"))</p>

        @if(flash.get("error").isDefined){
            <div class="alert alert-danger">
                <strong>Erreur</strong>
                @flash.get("error").get
            </div>
        }

        @helper.form(action = routes.Authentication.saveNewSpeaker) {
            @helper.inputText(formWebuser("email"))
            @helper.inputText(formWebuser("firstName"))
            @helper.inputText(formWebuser("lastName"))

            <p>@Messages("signup.txt2")</p>
            <button class="btn btn-success" type="submit">@Messages("signup")</button>
        }
    </div>

    <div class="col-md-4">
        <h3><i class="icon-external-link-sign"></i> @Html(Messages("register.withopenid"))</h3>
        <p>@Html(Messages("home.txt2"))</p>
        <a class="btn btn-default" href="@routes.Authentication.githubLogin()" title="Sign-in with your Github profile to @Messages("shortName")"><i class="icon-github-sign"></i> Github</a>
        <a class="btn btn-default" href="@routes.Authentication.googleLogin()" title="Sign-in with your Google account to @Messages("shortName")"><i class="icon-google-plus-sign"></i> Google</a>
        <a class="btn btn-default" href="@routes.Authentication.linkedinLogin()" title="Sign-in with your LinkedIn profile to @Messages("shortName")"><i class="icon-google-plus-sign"></i> LinkedIn</a>
    </div>
</div>
}
