@(enail:String, password:String)


@main("Profil importé") {
    <div class="row">
        <div class="col-md-12 page-header">
            <h3>Profil importé</h3>
        </div>
        <div class="col-md-12">
            <p>Votre profil a été importé avec succès. Vous pouvez modifier à tout moment votre bio, vos informations personnelles ou l'adresse de votre blog.</p>
            <p><a href="@routes.CallForPaper.homeForSpeaker()" class="btn btn-default">Continuer</a> </p>
        </div>
    </div>
}