@()(implicit request:RequestHeader, confDesc: ConferenceDescriptor)

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" media="screen" href="/assets/css/tweetwall.css">
        <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
        <script src="/assets/js/tweetwall.js" type="text/javascript"></script>
        <script src="//cdn.jsdelivr.net/jsrender/1.0pre35/jsrender.min.js"></script>
        <script src="/assets/angular/lib/angular/underscore-min.js" type="text/javascript"></script>


        <script type="text/javascript">
        var Router = { } ; ( function ( _root ) {
        var _nS = function ( c, f, b ) { var e = c.split ( f || "." ), g = b || _root, d, a ; for ( d = 0, a = e.length ; d < a ; d ++ ) { g = g[ e[ d ] ] = g[ e[ d ] ] || { } } return g }
        var _qS = function ( items ) { var qs = '' ; for ( var i = 0 ; i < items.length ; i ++ ) { if ( items[ i ] ) qs += ( qs ? '&' : '' ) + items[ i ] } ; return qs ? ( '?' + qs ) : '' }
        var _s = function ( p, s ) { return p + ( ( s === true || ( s && s.secure ) ) ? 's' : '' ) + '://' }
        var _wA = function ( r ) { return { ajax : function ( c ) { c = c || { } ; c.url = r.url ; c.type = r.method ; return jQuery.ajax ( c ) }, method : r.method, type : r.method, url : r.url, absoluteURL : function ( s ) { return _s ( 'http', s ) + 'localhost:9000' + r.url }, webSocketURL : function ( s ) { return _s ( 'ws', s ) + 'localhost:9000' + r.url } } }
        _nS ( 'controllers.Tweetwall' ) ; _root.controllers.Tweetwall.watchTweets =
        function ( keywords ) {
        return _wA ( { method : "GET", url : "/" + "tweetwall/stream" + _qS ([ ( function ( k, v ) { return encodeURIComponent ( k ) + '=' + encodeURIComponent ( v ) } ) ( "keywords", keywords ) ] ) } )
        }

        } ) ( Router )

        </script>

        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body class="tweetWall">
        <div id="content">
            <div id="header">
                <div class="title">
                    <h1>@confDesc.naming.longName</h1>
                </div>
                <div class="time">
                    <h2>14:35</h2>
                </div>
                <div class="helper">
                    <h2>@confDesc.hashTag</h2>
                </div>
            </div>

            <div class="row-tweets">

                <div class="row-tweets-header">
                    <h2>Derniers tweets</h2>
                </div>
                <div class="row-tweets-content">
                    <ul id="list">
                        <li class="oneTweet">
                            <div class="tweet">
                                <img class="tweet-photo" data-src="holder.js/48x48" alt="48x48" src="http://pbs.twimg.com/profile_images/450450336445386753/AnvEan0g_normal.jpeg" align="top">
                                <span class="sn">Banchi__</span> (<span class="un">Nicolas</span>)<br>
                                <div class="tx">
                                    RT @@myATHLETES: Retweet if you play Any: ? Basketball ? Football ? Volleyball ? Baseball ? Hockey ? Soccer ? Tennis ? Golf ? Cheer ? Track …</div>
                            </div>
                        </li>

                        <li class="oneTweet">
                            <div class="tweet">
                                <img class="tweet-photo" data-src="holder.js/48x48" alt="48x48" style="width : 48 px ; height : 48 px ;" src="http://pbs.twimg.com/profile_images/417674370933223425/HkEP9M___normal.jpeg">
                                <span class="sn">@@LIveJAPAN2014</span> (<span class="un">LIveJAPAN2014</span>)<br>
                                <div class="tx">
                                    Tennis champion Andy Murray launches a new luxury hotel in Scotland - http://t.co/PrKidAFF9d:... http://t.co/JJh5yyCDoI #newsJP</div>
                            </div>
                        </li>

                        <li class="oneTweet">
                            <div class="tweet">
                                <img class="tweet-photo" data-src="holder.js/48x48" alt="48x48" style="width : 48 px ; height : 48 px ;" src="http://pbs.twimg.com/profile_images/2451936043/hq549jf8ryftij55gz88_normal.jpeg">
                                <span class="sn">@@EurosportCom_EN</span> (<span class="un">Eurosport.com EN</span>)<br>
                                <div class="tx">
                                    SET! Italy pull one back in the Davis Cup doubles and GB now lead 2-1 in Naples. https://t.co/32fxADDDUr</div>
                            </div>
                        </li>
       <li class="oneTweet">
                            <div class="tweet">
                                <img class="tweet-photo" data-src="holder.js/48x48" alt="48x48" style="width : 48 px ; height : 48 px ;" src="http://pbs.twimg.com/profile_images/2451936043/hq549jf8ryftij55gz88_normal.jpeg">
                                <span class="sn">@@EurosportCom_EN</span> (<span class="un">Eurosport.com EN</span>)<br>
                                <div class="tx">
                                    SET! Italy pull one back in the Davis Cup doubles and GB now lead 2-1 in Naples. https://t.co/32fxADDDUr</div>
                            </div>
                        </li>
           <li class="oneTweet">
                            <div class="tweet">
                                <img class="tweet-photo" data-src="holder.js/48x48" alt="48x48" style="width : 48 px ; height : 48 px ;" src="http://pbs.twimg.com/profile_images/2451936043/hq549jf8ryftij55gz88_normal.jpeg">
                                <span class="sn">@@EurosportCom_EN</span> (<span class="un">Eurosport.com EN</span>)<br>
                                <div class="tx">
                                    SET! Italy pull one back in the Davis Cup doubles and GB now lead 2-1 in Naples. https://t.co/32fxADDDUr</div>
                            </div>
                        </li>

       <li class="oneTweet">
                            <div class="tweet">
                                <img class="tweet-photo" data-src="holder.js/48x48" alt="48x48" style="width : 48 px ; height : 48 px ;" src="http://pbs.twimg.com/profile_images/2451936043/hq549jf8ryftij55gz88_normal.jpeg">
                                <span class="sn">@@EurosportCom_EN</span> (<span class="un">Eurosport.com EN</span>)<br>
                                <div class="tx">
                                    SET! Italy pull one back in the Davis Cup doubles and GB now lead 2-1 in Naples. https://t.co/32fxADDDUr</div>
                            </div>
                        </li>

         <li class="oneTweet">
                            <div class="tweet">
                                <img class="tweet-photo" data-src="holder.js/48x48" alt="48x48" style="width : 48 px ; height : 48 px ;" src="http://pbs.twimg.com/profile_images/2451936043/hq549jf8ryftij55gz88_normal.jpeg">
                                <span class="sn">@@EurosportCom_EN</span> (<span class="un">Eurosport.com EN</span>)<br>
                                <div class="tx">
                                    SET! Italy pull one back in the Davis Cup doubles and GB now lead 2-1 in Naples. https://t.co/32fxADDDUr</div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="best-talks">
                <div class="best-talks-header">
                    <h2>Sessions les plus populaires <small>données proposées par Xebia</small></h2>
                </div>
                <div class="best-talks-content">
                    <ul>
                      <li class="oneTweet">
                            <div class="tweet">
                                <img class="tweet-photo" data-src="holder.js/48x48" alt="48x48" style="width : 48 px ; height : 48 px ;" src="http://pbs.twimg.com/profile_images/378800000834608051/e316a257979941ec47f51799690f3138_normal.png">
                                <span class="sn">@@MoSportsRedux</span> (<span class="un">MissouriSportsRedux</span>
                                )<br>
                                <span class="tx">
                                    Redux Report: Wash U Tennis Advances To Midwest Invite Championship http://t.co/Na9a0r80b9 #ThePowerOfSport #MissouriSports</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="next-talks">
                <div class="next-talks-header">
                    <h1>Prochaines présentations</h1>
                </div>
                <div class="next-talks-content">
                      <ul>
                      <li class="oneTweet">
                            <div class="tweet">
                                <img class="tweet-photo" data-src="holder.js/48x48" alt="48x48" style="width : 48 px ; height : 48 px ;" src="http://pbs.twimg.com/profile_images/378800000834608051/e316a257979941ec47f51799690f3138_normal.png">
                                <span class="sn">@@MoSportsRedux</span> (<span class="un">MissouriSportsRedux</span>
                                )<br>
                                <span class="tx">
                                    Redux Report: Wash U Tennis Advances To Midwest Invite Championship http://t.co/Na9a0r80b9 #ThePowerOfSport #MissouriSports</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>