@()(implicit request:RequestHeader)

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" media="screen" href="/assets/css/tweetwall.css">
<link href="@routes.Assets.at(path="/public",file="css/font-awesome.min.css")" rel="stylesheet">
        <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
        <script src="/assets/js/tweetwall.js" type="text/javascript"></script>
        <script src="/assets/angular/lib/angular/underscore-min.js" type="text/javascript"></script>
        @helper.javascriptRouter("Router")(routes.javascript.Tweetwall.watchTweets,routes.javascript.Tweetwall.watchBestTalks, routes.javascript.Tweetwall.loadNextTalks)
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:400,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
<body class="tweetWall">
<div id="content">
    <div id="header">
                <div class="title">
                    <h1>Devoxx France</h1>
                </div>
                <div class="time">
                    <h2 id="wallTime">14:35</h2>
                </div>
                <div class="helper">
                    <h2>#DevoxxFR</h2>
                </div>
        <div class="messageBoxContainer">
            <div class="messageBox">
                <h4><i class="icon-warning-sign"></i> Ceci est un exemple de message. Cet espace pourra être utilisé pendant la conférence pour passer des messages.</h4>
                <p>Pour l'instant les sessions les plus populaires ne sont pas chargées du service Xebia. Les prochaines sessions sont tirées au hasard pour tester.</p>
            </div>
        </div>
    </div>

    <div class="row-tweets">
        <div class="row-tweets-header">
            <h2>Derniers tweets</h2>
        </div>
        <div class="row-tweets-content">
            <ul id="listTweets" class="tweets">
            </ul>
        </div>
    </div>

    <div class="best-talks">
        <div class="best-talks-header">
            <h2>Sessions les plus populaires <small>(données proposées par Xebia)</small></h2>
        </div>
        <div class="best-talks-content">
            <ul id="sessionPop" class="tweets">
                <li class="new-item">
                    <div class="bestTalk">
                        <div class="bestTalkPhotos">
                            <img src="https://pbs.twimg.com/profile_images/1517315599/alex-photo.jpg" class="bestTalkSpeakers">
                            ,<img src="http://www.gravatar.com/avatar/eb1b78b26d8ecc164642705d0f1eb304.png" class="bestTalkSpeakers">
                        </div>
                        <div class="bestTalkTitle"> Deux années de Continuous Delivery au pays des traders Votez pour nous ! L'internet des objets par l'exemple.</div>
                        <div class="bestTalkTrack">Agilité, DevOps</div>
                    </div>
                </li>
                <li class="new-item">
                    <div class="bestTalk">
                        <div class="bestTalkPhotos"><img src="http://www.gravatar.com/avatar/0cf8b9a32877d98e3e6fe9080ba78165.png" class="bestTalkSpeakers"></div>
                        <div class="bestTalkTitle"> Se plugger dans le compilateur Java</div>
                        <div class="bestTalkTrack">Java SE, Java EE</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="next-talks">
        <div class="next-talks-header">
            <h2>Prochaines présentations</h2>
        </div>
        <div class="next-talks-content">
            <div id="nextTalkPanel" class="tweets"></div>


    <div class="new-item special-block"><div class="nextTalk"> <div class="nextTalkRoom">Auditorium</div> <div class="nextTalkTitle"> Outils pour manager une équipe (de développement)</div> <div class="nextTalkTrack">Agilité, DevOps<br>
        Youen Chene</div></div>
    </div>
    <div class="new-item special-block"><div class="nextTalk"> <div class="nextTalkRoom">Miles Davis A</div> <div class="nextTalkTitle"> BOF Paris Datageeks</div> <div class="nextTalkTrack">Cloud, Big Data, NoSQL<br>
    Sam Bessalah, Ori Pekelman</div>
    </div>
</div> <div class="new-item special-block"><div class="nextTalk"> <div class="nextTalkRoom">Ella Fitzgerald</div> <div class="nextTalkTitle"> Le bon testeur il teste.... et le mauvais testeur il teste aussi...</div> <div class="nextTalkTrack">Agilité, DevOps<br>
    Agnès Crepet, Guillaume Ehret</div>
        </div>
</div>

        </div>
    </div>
</div>
</body>
</html>