.scheduleHeader {
    text-align: center;
    background-color: #211c1b;
    color: white;
}

.scheduleRow {
    background-color: #f5f5f5;
    border-color: #CED4BD;
    border-style: solid;
    border-width: 1px;

    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scheduleRight {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.agendaTable {
    border: 1px solid #ffd297;
}

.agendaTable th {
    background-color: #211c1b;
    color: white;
}

.agendaTable td.room {
    width: 14%;
    vertical-align: top;
    text-align: center;
}

.agendaTable td.keynotes {
    text-align: center;
    background-color: #dbdbdb;
    height: 30px;
    line-height: 55px;
}

.agendaTable th.timeSlot {
    font-size: 0.7rem;
    padding: 5px 4px;
}

.agendaTable .title, .agendaTable .room .main-title {
    padding-bottom: 5px;
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: normal;
}

.agendaTable .speaker, .agendaTable .room .secondary-title {
    font-style: italic;
    display: block;
    font-size: 0.65rem;
    font-weight: 400;
    line-height: normal;
}

.agendaTable .iconTrack {
    display: block;
    height: 123px;
    width: 180px
}

.agendaTable .room {
    max-width: 16%;
    vertical-align: top;
    border: 1px solid #ffd297;
}

.agendaTable .track {
    display: block;
    font-size: 0.8em;
}

.agendaTable .endTime{
    display: block;
    background-color: #f4b787;
    color:white;
    font-size: 0.8em;
    padding: 2px;
    text-align: center;
}

.agendaTable .proposalType {
    display: block;
    background-color: #f4882d;
    color:white;
    font-size: 0.8em;
    padding: 2px;
    text-align: center;
}
.agendaTable td.proposal {
    padding: 0px;
    text-align: center;
    position: relative
}

.agendaTable td.proposal .content {
    padding: 4px;
}

.agendaTable .proposal.proposal_type_is_uni { background-color: #ccfecc; }
.agendaTable .proposal.proposal_type_is_lab { background-color: #ffc6c6; }
.agendaTable .proposal.proposal_type_is_conf { background-color: #ccfecc; }
.agendaTable .proposal.proposal_type_is_tia { background-color: #daeff4; }
.agendaTable .proposal.proposal_type_is_quick { background-color: #fffec3; }
.agendaTable .proposal.proposal_type_is_bof { background-color: #dee3f6; }
.agendaTable .proposal.proposal_type_is_key { background-color: #ccfecc; }
.agendaTable .proposal.proposal_type_is_other { background-color: #dee3f6; }
.agendaTable .proposal.tba { background-color: #eeeeee; padding: 2px; }
.agendaTable .room-closed { background-color: #bbbbbb; padding: 2px; }

.bottom_aligner {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 0px;
}

.agendaTable .proposal .footer_badges {
    width: 100%;
    height: 24px;
    text-align: center;
}

.agendaTable .proposal i.proposal_badge {
    position: absolute;
    bottom: 0px;
    background-repeat: no-repeat;
    margin: 2px;
    z-index: 0;
}
.agendaTable .proposal i.proposal_badge.track {
    right: 0px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}
.agendaTable .proposal i.proposal_badge.en_badge {
    left: 0px;
    width: 20px;
    height: 16px;
    background-size: 20px 16px;
    background-image: url('/assets/images/en_highres.png');
    margin-bottom: 6px;
}

.agendaTable .proposal.proposal_track_is_java i.proposal_badge.track { background-image: url('images/icon_javase.png'); }
.agendaTable .proposal.proposal_track_is_mobile i.proposal_badge.track { background-image: url('images/icon_mobile.png'); }
.agendaTable .proposal.proposal_track_is_wm i.proposal_badge.track { background-image: url('images/icon_web.png'); }
.agendaTable .proposal.proposal_track_is_archisec i.proposal_badge.track { background-image: url('images/icon_architecture.png'); }
.agendaTable .proposal.proposal_track_is_cldops i.proposal_badge.track { background-image: url('images/icon_cloud.png'); }
.agendaTable .proposal.proposal_track_is_agTest i.proposal_badge.track { background-image: url('images/icon_methodology.png'); }
.agendaTable .proposal.proposal_track_is_bigd i.proposal_badge.track { background-image: url('images/icon_startup.png'); }
.agendaTable .proposal.proposal_track_is_future i.proposal_badge.track { background-image: url('images/icon_future.png'); }
.agendaTable .proposal.proposal_track_is_lang i.proposal_badge.track { background-image: url('images/icon_alternative.png'); }
.agendaTable .proposal.proposal_track_is_unknown i.proposal_badge.track { background-image: url('images/icon_javaee.png'); }

.agendaTable .talkType{
    display: block;
    background-color: #1f1f1f;
    color:white;
    padding: 2px;
    text-align: center;
}
.agendaTable .speaker{
    font-size: 0.9em;
}

.speakerDetail {
    max-height: 128px;
    max-width: 128px;
    float: left;
    margin-right: 20px;
    margin-top: 22px;
}

a.speakerTwitter, a.blackLink {
    color: #222222;
    text-decoration: none;
}
.arrow-right:before {
     content: '\25ba';
}

.trackBox {
    min-height: 288px;
    position: relative;
    padding: 10px;
}

table.mainSchedule {
    width: 100%;
}

tr.rowHeightThree {
    height: 100px;
}

td.break {
    background-color: #fee3ca;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

td.notAllocated {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    max-width: 16%;
    border: 1px solid #ffd297;
}

button.searchBtn {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    background-color: #f54f36;
    margin-top: 5px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

h4.speakerTitle {
    padding-top: 15px;
}

a:hover.cfp-fav {
    color: coral;
    height: 1.2em;
}

input.cfp-fav {
    display: none;
}

label.cfp-lab {
    display: inline-block;
    width:100%;
    height:22px;
    padding: 0;
    margin: 4px 0 0;
    text-align: right;
    background:url('/assets/images/fav/not_fav.png') no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input.cfp-fav:checked + label.cfp-lab {
    height:22px;
    margin: 4px 0 0;
    padding: 0;
    background: url('/assets/images/fav/fav.png') no-repeat;
}

.alert-success {
    display: block;
    padding: 15px;
    background-color: #05b60e;
    color:white;
}

.alert-error {
    display: block;
    padding: 15px;
    background-color: #e46f59;
    color:white;
}

.tagLabel {
    background-color: lightgray;
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 4px;
    border-radius: 6px;
    padding-bottom: 2px;
}