@(label:String, page:Int, sort:Option[String], ascdesc:Option[String], pageReview:Int)(implicit lang:Lang)

@if(sort==Some(label)) {
    @if(ascdesc==Some("desc")){
        <a href="@routes.CFPAdmin.index(page, pageReview, Some(label), Some("asc"))"><i class="fas fa-arrow-up"></i> @Messages("admin.proposals.th."+ label)</a>
    }else{
        <a href="@routes.CFPAdmin.index(page, pageReview, Some(label), Some("desc"))"><i class="fas fa-arrow-down"></i> @Messages("admin.proposals.th."+ label)</a>
    }
} else {
    <a href="@routes.CFPAdmin.index(page, pageReview, Some(label), Some("asc"))">@Messages("admin.proposals.th."+ label)</a>
}
