@(uuid:String)
<dl class="dropdown">
  <dt>
    <a href="#">
      @if(Digest.getTrackFilter(uuid).isEmpty ||
          (Digest.getTrackFilter(uuid).isDefined &&
           Digest.getTrackFilter(uuid).get.trim.length == 0)) {
        <span class="hida">Select track(s)</span>
      }
      <p class="multiSel">
      @if(Digest.getTrackFilter(uuid).isDefined &&
          Digest.getTrackFilter(uuid).get.trim.length > 0) {
        @Html(Digest.getTrackFilter(uuid).get)
      }
      </p>
    </a>
  </dt>

  <dd>
    <div class="mutliSelect">
      <ul>
      @ConferenceDescriptor.ConferenceTracks.ALL.map{track=>
        <li>
          @if(Digest.getTrackFilter(uuid).nonEmpty) {
            @if(Digest.getTrackFilter(uuid).get.contains(track.id)) {
              <input type="checkbox" value="@track.id" checked/>
            } else {
              <input type="checkbox" value="@track.id"/>
            }
          } else {
            <input type="checkbox" value="@track.id"/>
          }
          @track.id
        </li>
      }
      </ul>
    </div>
    <button>Filter (not yet enabled)</button>
  </dd>
</dl>

<script language="JavaScript">

    $(".dropdown button").on('click', function() {
      $.ajax({
        type: "POST",
        url: "/cfp/profile/digestTracks?value="+$('.multiSel').html()
      })
    });

    $(".dropdown dt a").on('click', function() {
      $(".dropdown dd ul").slideToggle('fast');
    });

    $(".dropdown dd ul li a").on('click', function() {
      $(".dropdown dd ul").hide();
    });

    $(document).bind('click', function(e) {
      var $clicked = $(e.target);
      if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
    });

    $('.mutliSelect input[type="checkbox"]').on('click', function() {

      var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
              title = $(this).val() + ",";

      if ($(this).is(':checked')) {
        var html = '<span title="' + title + '">' + title + '</span>';
        $('.multiSel').append(html);
        $(".hida").hide();
      } else {
        $('span[title="' + title + '"]').remove();
        var ret = $(".hida");
        $('.dropdown dt a').append(ret);

      }
    });

</script>