@(videoLink:String)
@if(videoLink.indexOf("www.youtube.com/watch?v=") > 0) {
  <iframe width="100%" height="600" src="https://www.youtube.com/embed/@videoLink.split("=").toList.reverse.take(1)" frameborder="0" allowfullscreen></iframe>
} else {
  @if(videoLink.indexOf("vimeo") > 0) {
    <iframe src="//player.vimeo.com/video/@videoLink.split("/").toList.reverse.take(1)" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  } else {
    <a href="@videoLink" target="_blank">Related video</a>
  }
}