@(label:String, page:Int, sort:Option[String], ascdesc:Option[String])(implicit lang:Lang)

@if(sort==Some(label)) {
    @if(ascdesc==Some("desc")){
        <a href="@routes.CFPAdmin.index(page, Some(label), Some("asc"))"><i class="icon-arrow-up"></i> @Messages("admin.proposals.th."+ label)</a>
    }else{
        <a href="@routes.CFPAdmin.index(page, Some(label), Some("desc"))"><i class="icon-arrow-down"></i> @Messages("admin.proposals.th."+ label)</a>
    }
} else {
    <a href="@routes.CFPAdmin.index(page, Some(label), Some("asc"))">@Messages("admin.proposals.th."+ label)</a>
}