@(questions: List[models.Question])
@questions.map { question =>
<div class="alert-box secondary">
<img width="35" src="http://www.gravatar.com/avatar/@Webuser.gravatarHash(question.email)?s=35" alt="@question.author" align="top"/>
    <p>@Messages("tags.renderComment.postedBy") @question.author on @library.FormatDate.ellapsed(question.eventDate)</p>

@defining(question.msg.replaceAll("script", ".script").replaceAll("\n", "<br>").replaceAll("href","")) { message: String =>
    <span class="msgSpeaker media-object">@Html(message)</span>
}
</div>
}