@(refreshPathAction: Function2[String, Option[String], Call],
    availableTalkTypes: List[ProposalType],
    talkType:String,
    selectedTrack: Option[String],
    proposalsCountByType: Map[String,Int],
    proposalsCountForCurrentTypeByTrack: Map[String,Int]
)(implicit lang: Lang, flash: Flash, req:RequestHeader)
<div style="margin: 3px 0px">
  <i aria-hidden="true" class="fas fa-filter"></i> @Messages("ar.proposalType") :
  @availableTalkTypes.map{confType=>
    <a href="@refreshPathAction(confType.id, selectedTrack)" class="btn btn-sm @if(confType.id==talkType) { btn-success } else { btn-primary }">
      @if(proposalsCountByType.get(confType.id).getOrElse(0) == 0){
        <i aria-hidden="true" class="fas fa-trophy"></i>
      }
      @Messages(confType.id)
      <span class="badge badge-pill badge-light">@{proposalsCountByType.get(confType.id).getOrElse(0) }</span>
    </a>
  }
</div>
<br/>
<div style="margin: 3px 0px">
  <i aria-hidden="true" class="fas fa-filter"></i> @Messages("cfp.filter.on") :
  <a href="@refreshPathAction(talkType, None)" class="btn btn-sm @if(selectedTrack==None) { btn-success } else { btn-primary }">
    @if(proposalsCountByType.get(talkType).getOrElse(0) == 0) {
      <i aria-hidden="true" class="fas fa-trophy"></i>
    }
    All tracks
  <span class="badge badge-pill badge-light">@{proposalsCountByType.get(talkType).getOrElse(0) }</span>
  </a>
  @models.ConferenceDescriptor.ConferenceTracks.ALL.map{track =>
    <a href="@refreshPathAction(talkType, Some(track.id))" class="btn btn-sm @if(selectedTrack==Some(track.id)) { btn-success } else { btn-primary }">
      @if(proposalsCountForCurrentTypeByTrack.get(track.id).getOrElse(0) == 0){
        <i aria-hidden="true" class="fas fa-trophy"></i>
      }
      @Messages(track.label)
      <span class="badge badge-pill badge-light">@{proposalsCountForCurrentTypeByTrack.get(track.id).getOrElse(0) }</span>
    </a>
  }
</div>
