@(objRef:String)

@if(models.Proposal.ProposalIDRegExp findFirstIn(objRef) isDefined){
<a href="@routes.CFPAdmin.openForReview(objRef)" class="btn btn-sm btn-block btn-primary"><i class="fas fa-sign-in-alt"></i> @objRef</a>
}
@if(models.RequestToTalk.IDRegExp findFirstIn(objRef) isDefined){
<a href="@routes.Wishlist.edit(objRef)" class="btn btn-sm btn-block btn-primary"><i class="fas fa-sort-amount-down"></i> @objRef</a>
}
@if(org.apache.commons.lang3.StringUtils.trimToEmpty(objRef).length==40) {
<a href="@routes.CFPAdmin.showSpeakerAndTalks(objRef)" class="btn btn-sm btn-block btn-primary"><i class="fas fa-user"></i></a>
}

