@(uuid:String)

@models.Speaker.findByUUID(uuid).map{speaker:Speaker=>
        <table>
            <tr>
                <td>
                    @if(speaker.avatarUrl.isEmpty) {
                        <img class="media-object" src="https://www.gravatar.com/avatar/@Webuser.gravatarHash(speaker.email)?s=80" alt="@speaker.cleanName" title="@speaker.cleanName"/>
                    } else {
                        <img class="media-object" width="80" src="@speaker.avatarUrl.get" alt="@speaker.cleanName" title="@speaker.cleanName"/>
                    }
                </td>
                <td>
                    <h3>
                        <a class="cfp-gravatars" href="@routes.CFPAdmin.showSpeakerAndTalks(uuid)">
                            @speaker.cleanName
                        </a>
                    </h3>
                    @speaker.company.map{validCompany=>
                      <span class="label label-default">@validCompany</span>
                    }
                </td>
            </tr>
        </table>
}.getOrElse("Speaker not found")