@()(implicit lang: Lang, flash: Flash, uuid:String, req:RequestHeader)

@main("Planner - cfp"){

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><i class="icon-signin"></i> Planner authentication</h3>
            </div>
            <div class="panel-body">
                <a class="btn btn-default" href="@routes.TrelloPlanner.getBoard()" title="Create events"><i class="icon-trello"></i> Create on card on Trello</a>
            </div>
        </div>
    </div>
}