@(newRequestToTalkForm:Form[RequestToTalk])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@import helper.twitterBootstrap._

@main("Wishlist"){
    <div class="row">
        <div class="col-lg-offset-4 col-md-4">
            <h2><i class="icon-sort-by-attributes-alt"></i> @Messages("wishlist.title")</h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12">
            @if(flash.get("error").isDefined) {
                <div class="alert alert-danger alert-dismissable">
                    <strong>Error :</strong>
                    @flash.get("error").get
                </div>
            }
            @if(flash.get("success").isDefined) {
                <div class="alert alert-success alert-dismissable">
                @flash.get("success").get
                </div>
            }
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon-stackexchange"></i> @Messages("wishlist.editRequest")</h3>
                </div>
                <div class="panel-body">
                @helper.form(action = routes.Wishlist.saveEdit) {
                    <input type="hidden" name="id" value="@newRequestToTalkForm("id").value">
                    @helper.inputText(newRequestToTalkForm("wl_speakerName"), 'class->"form-control")

                    @helper.inputText(newRequestToTalkForm("wl_company"), 'class->"form-control")
                    @tags.selectI18N(field = newRequestToTalkForm("wl_trackCode"), options=Track.allAsIdsAndLabels,  'class->"form-control")
                    @tags.checkboxI18N(newRequestToTalkForm("wl_travel"),  'text->"wl_travel.checkbox")
                    @helper.inputText(newRequestToTalkForm("wl_country"), 'class->"form-control")
                    @tags.checkboxI18N(newRequestToTalkForm("wl_keynote"),  'text->"wl_keynote.checkbox")
                    @helper.textarea(newRequestToTalkForm("wl_note"), 'cols->60,'rows->5,  'class->"form-control")
                    @tags.selectI18N(field = newRequestToTalkForm("wl_statusCode"), options=RequestToTalkStatus.allAsIdsAndLabels,  'class->"form-control")
                    <a href="@routes.Wishlist.homeWishlist()" class="btn btn-default"><i class="icon icon-reorder"></i> @Messages("wishlist.cancelEdit")</a>
                    <button class="btn btn-success" type="submit" name="actionBtn" value="save"><i class="icon-save"></i> @Messages("wishlist.save")</button>

                    @models.RequestToTalk.findPreviousIdFrom(newRequestToTalkForm("id").value.getOrElse("?")).map{previousId=>
                        <a class="btn btn-sm btn-primary" href="@routes.Wishlist.edit(previousId)"><i class="icon-backward"></i> Previous</a>
                    }.getOrElse{
                        <a class="btn btn-sm btn-default" disabled href="#"><i class="icon-backward"></i> Previous</a>
                    }
                  @models.RequestToTalk.findNextIdFrom(newRequestToTalkForm("id").value.getOrElse("?")).map{nextId=>
                        <a class="btn btn-sm btn-primary" href="@routes.Wishlist.edit(nextId)"><i class="icon-forward"></i> Next</a>
                    }.getOrElse{
                        <a class="btn btn-sm btn-default" disabled href="#"><i class="icon-forward"></i> Next</a>
                    }
<hr>
                    @helper.inputText(newRequestToTalkForm("wl_speakerEmail"), 'class->"form-control")
                    @helper.textarea(newRequestToTalkForm("wl_message"), 'cols->60,'rows->8,  'class->"form-control")
                    <a href="@routes.Wishlist.homeWishlist()" class="btn btn-default"><i class="icon icon-reorder"></i> @Messages("wishlist.cancelEdit")</a>
                    <button id="btn-sendMail" class="btn btn-primary" name="actionBtn" type="submit" value="email" title="Set an email if you want to send an invitation"><i class="icon-envelope"></i> @Messages("wishlist.sendEmail")</button>
                }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon-stackexchange"></i> @Messages("wishlist.history")</h3>
                </div>
                <div class="panel-body">
                <ul class="timeline">
                @models.RequestToTalkStatus.history(newRequestToTalkForm("id").value.getOrElse("0")).map{rh: RequestHistory =>
                    <li>
                        <time class="tl_time" datetime=" @rh.date.toString("YYYY-MM-DD HH:mm")"><span> @rh.date.toString("dd/MM")</span> <span> @rh.date.toString("HH:mm")</span></time>
                        <div class="tl_icon"></div>
                        <div class="tl_status">
                            <span class="tl_status_code">@Messages("wl_"+rh.statusCode)</span>
                            <p>@tags.showSpeakerTag(rh.author)</p>
                        </div>
                    </li>
                }
                </ul>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">

$(document).ready(function($){
    $('#wl_speakerEmail').on("keyup", checkMail);

    function checkMail(){
        if( $('#wl_speakerEmail').val().length > 0 ) {
            $('#btn-sendMail').prop("disabled", false);
            $('#wl_message').prop("disabled", false);
        } else {
            $('#btn-sendMail').prop("disabled", true);
            $('#wl_message').prop("disabled", true);
        }
    }

    checkMail();
});
</script>
}