@(requests:List[(models.RequestToTalk,Option[Webuser])])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@import helper.twitterBootstrap._

@main("Wishlist") {
    <script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css">

    <div class="row">
        <div class="col-lg-offset-4 col-md-4">
            <h2><i class="icon-sort-by-attributes-alt"></i> @Messages("wishlist.title")</h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon-stackexchange"></i> @Messages("wishlist.recentEvents")</h3>
                </div>

                <div class="panel-body">
<a href="@routes.Wishlist.newRequestToTalk" class="btn btn-small btn-primary">@Messages("wishlist.newWishlist")</a><br>
                    <p>Total wishlisted : @requests.size</p>
  @if(flash.get("error").isDefined) {
                        <div class="alert alert-danger alert-dismissable">
                            <strong>Error :</strong>
                            @flash.get("error").get
                        </div>
                    }
                    @if(flash.get("success").isDefined) {
                        <div class="alert alert-success alert-dismissable">
                        @flash.get("success").get
                        </div>
                    }
<table id="allWishlist" class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>@Messages("wl.action")</th>
            <th>@Messages("wl.lm")</th>
            <th>@Messages("wl.sn")</th>
            <th>@Messages("wl.fb")</th>
            <th>@Messages("wl.company")</th>
            <th>@Messages("wl.country")</th>
            <th>@Messages("wl.track")</th>
            <th>@Messages("wl.keynote")</th>
            <th>@Messages("wl.status")</th>
        </tr>
    </thead>
    <tbody>
@requests.map { case(request: RequestToTalk,maybePersonInCharge:Option[Webuser]) =>
    <tr>
        <td>
            <a href="@routes.Wishlist.edit(request.id)" class="btn btn-small btn-primary"><i class="icon-edit"></i></a>
            <a href="@routes.Wishlist.deleteRequest(request.id)" class="btn btn-small btn-danger"><i class="icon-trash"></i></a>
        </td>
        <td>@models.RequestToTalkStatus.lastEvent(request.id).map(_.date.toString("EEE, dd MMM, HH:mm"))</td>
        <td>@request.speakerName</td>
        <td>
           @maybePersonInCharge.map{webuser=>
                @webuser.cleanName<br>
                <a href="@routes.Wishlist.unsetPersonInCharge(request.id)" class="btn btn-sm btn-danger"><i class="icon-minus-sign-alt"></i></a>
           }.getOrElse{
               <a href="@routes.Wishlist.selectPersonInCharge(request.id, request.speakerName)" class="btn btn-sm btn-success"><i class="icon-plus-sign"></i> </a>
           }
        </td>
        <td>@request.company</td>
        <td>@request.country</td>
        <td>@Messages(request.track.label)</td>
        <td>@if(request.keynote.isDefined && request.keynote.get){
            Yes
        } else{
            No
        }
        </td>
        <td>@Messages("wl_"+request.status.code)</td>
    </tr>
}
    </tbody>
</table>
                </div>
            </div>
        </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $('#allWishlist').dataTable({
    "aaSorting": [[ 2, "desc" ]],
    "iDisplayLength" : -1,
    "aLengthMenu": [
    [25, 50, 100, 200, -1],
    [25, 50, 100, 200, "All"]
    ],
    "bStateSave": true,
    "aoColumns": [
    { "sType": "string"},
    { "sType": "date"},
    { "sType": "string"},
    { "sType": "string"},
    { "sType": "string"},
    { "sType": "string"},
    { "sType": "string"},
    { "sType": "boolean"},
    { "sType": "string"}
    ]
    });
    } );
</script>

}