@(subSlots:List[Slot], slots:List[Slot], rooms:List[Room])(implicit req:RequestHeader)
@import org.joda.time.DateTimeZone

<tr>
<th class="timeSlot">
    @subSlots.head.from.toDateTime(ConferenceDescriptor.current().timezone).toString("HH:mm")
    - @subSlots.head.to.toDateTime(ConferenceDescriptor.current().timezone).toString("HH:mm")
</th>
@defining(slots.groupBy(_.room).keys.toList.sorted) { (sortedRooms: List[Room]) =>
    @sortedRooms.zipWithIndex.map { case (room: Room, index) =>
        @tags.publisher.tagRenderRow(subSlots, room, index, sortedRooms, slots, false, None)
    }
}
</tr>
