@(uuid: String, renderPhoto:Boolean=false)
@models.Speaker.findByUUID(uuid).map { speaker =>
<div class="speaker">
<a class="blackLink skip-print-defaults" href="@routes.Publisher.showSpeakerByName(speaker.urlName)" title="@speaker.cleanFirstName @speaker.cleanLastName(false)" alt="@speaker.urlName">
@if(renderPhoto){
@speaker.avatarUrl.map{url=>
 <img width="32" height="32" src="@url" alt="@speaker.cleanFirstName @speaker.cleanLastName(false)" title="@speaker.cleanFirstName @speaker.cleanLastName(false)"/>
}
}
@speaker.cleanFirstName @speaker.cleanLastName(false)
</a>
</div>
}