@(trackId:String)
@if(trackId==Track.STARTUP.id){
<i class="icon-lightbulb"></i>
}
@if(trackId==Track.SSJ.id){
<i class="icon-hdd"></i>
}
@if(trackId==Track.JAVA.id){
<i class="icon-coffee"></i>
}
@if(trackId==Track.MOBILE.id){
<i class="icon-mobile-phone"></i>
}
@if(trackId==Track.ARCHISEC.id){
<i class="icon-sitemap"></i>
}
@if(trackId==Track.METHODEVOPS.id){
<i class="icon-refresh"></i>
}
@if(trackId==Track.FUTURE.id){
<i class="icon-rocket"></i>
}
@if(trackId==Track.LANG.id){
<i class="icon-glass"></i>
}
@if(trackId==Track.CLOUD.id){
<i class="icon-cloud"></i>
}
@if(trackId==Track.WEB.id){
<i class="icon-wrench"></i>
}
