@(uuid: String, renderPhoto:Boolean=false)
@models.Speaker.findByUUID(uuid).map { speaker =>
<div class="text-gray-700">
<a class="text-black hover:underline hover:text-yellow-600 skip-print-defaults" href="@routes.Publisher.showSpeakerByName(speaker.urlName)" title="@speaker.cleanFirstName @speaker.cleanLastName(false)" alt="@speaker.urlName">
@if(renderPhoto){
@speaker.avatarUrl.map{url=>
 <img class="w-48 rounded" src="@url" alt="@speaker.cleanFirstName @speaker.cleanLastName(false)" title="@speaker.cleanFirstName @speaker.cleanLastName(false)"/>
}
}
@speaker.cleanFirstName @speaker.cleanLastName(false)
</a>
</div>
}
