@(trackId:String)
@if(trackId==Track.STARTUP.id){
<img src="/assets/images/track/startup.png" class="devoxx-icon" alt="Venture" title="Venture">
}
@if(trackId==Track.SSJ.id){
<img src="http://devoxx.be/images/tracks/95ddefdd.icon_javaee.png" class="devoxx-icon" alt="Java EE" title="Java EE">
}
@if(trackId==Track.JAVA.id){
<img src="http://devoxx.be/images/tracks/aae8d181.icon_javase.png" class="devoxx-icon" alt="Java SE" title="Java SE">
}
@if(trackId==Track.MOBILE.id){
<img src="http://devoxx.be/images/tracks/1d2c40dd.icon_mobile.png" class="devoxx-icon" alt="Mobile" title="Mobile">
}
@if(trackId==Track.ARCHISEC.id){
<img src="http://devoxx.be/images/tracks/9943da91.icon_architecture.png" class="devoxx-icon" alt="Architectures & Security" title="Architectures and Security">
}
@if(trackId==Track.METHODEVOPS.id){
<img src="http://devoxx.be/images/tracks/3ec02a75.icon_methology.png" class="devoxx-icon" alt="Methodologies" title="Methodologies">
}
@if(trackId==Track.FUTURE.id){
<img src="http://devoxx.be/images/tracks/a20b9b0a.icon_future.png" class="devoxx-icon" alt="JVM Languages" title="JVM Languages">
}
@if(trackId==Track.LANG.id){
<img src="http://devoxx.be/images/tracks/6caef5cf.icon_alternative.png" class="devoxx-icon" alt="JVM Languages" title="JVM Languages">
}
@if(trackId==Track.CLOUD.id){
<img src="http://devoxx.be/images/tracks/eca0b0a1.icon_cloud.png" class="devoxx-icon" alt="Cloud" title="Cloud & Big Data">
}
@if(trackId==Track.WEB.id){
<img src="http://devoxx.be/images/tracks/cd5c36df.icon_web.png" class="devoxx-icon" alt="Web" title="Web,HTML5">
}
