@import play.api.templates.Html
@(subSlots: List[Slot], room: Room, roomSize: Int)(implicit req:RequestHeader)

    @subSlots.filter(_.room.id == room.id).map { zeSlot: Slot =>
        @if(zeSlot.notAllocated) {
            @if(zeSlot.from.getHourOfDay < 11 && zeSlot.from.dayOfWeek().get() == 3) {
                <td>Keynote overflow</td>
            } else {
                <td>TBA</td>
            }
        }
        @zeSlot.proposal.map { p: Proposal =>
            <td class="room @room.id @zeSlot.id">
                <span class="track"> @tags.publisher.renderIconForTrack(p.track) @Html(Messages(p.track.label)) @tags.publisher.renderFavorite(p.id)</span>
                <span class="title"><a href="@routes.Publisher.showDetailsForProposal(p.id, p.escapedTitle)">@p.title</a></span>
                <span class="speaker"> @p.allSpeakerUUIDs.map { speakerUUID =>
                    @tags.publisher.renderSpeaker(speakerUUID)
                }</span>
            </td>
        }
        @if(zeSlot.break.isDefined) {
            <td class="break @room.id" colspan="@roomSize">
            @zeSlot.break.get.nameEN
            </td>
        }
    }
    @if(!subSlots.exists(_.room.id == room.id)) {
        <td>&nbsp;</td>
    }