@(subSlots: List[Slot], room: Room, roomIndex: Int, roomSize: Int, overallSlots: List[Slot], showEndTime:Boolean, secretPublishKey: Option[String], favoritesActivated: Boolean = false)(implicit req:RequestHeader)
@import org.joda.time.DateTimeZone
    @subSlots.filter(_.room.id == room.id).map { zeSlot: Slot =>
        @if(zeSlot.notAllocated && !zeSlot.isFiller) {
            <td class="proposal tba" rowspan="@(overallSlots.count(s => s.fillerForSlotId.contains(zeSlot.id)) + 1)">&nbsp;</td>
        }
        @if(zeSlot.break.isDefined && roomIndex == 0) {
            <td class="break skip-print-defaults" colspan="@(roomSize - subSlots.count(s => s.break.isEmpty))">
            @Messages(s"sw.${zeSlot.break.get.id}")
            </td>
        }
        @if(zeSlot.isFiller) {
            @* nothing to do.. we're on a filler *@
        } else {
            @zeSlot.proposal.map { p: Proposal =>
                <td class="skip-max-width-on-divs proposal proposal_id_is_@p.cssId @zeSlot.id proposal_type_is_@p.talkType.id proposal_track_is_@p.track.id lang_is_@p.lang" rowspan="@(overallSlots.count(s => s.fillerForSlotId.contains(zeSlot.id)) + 1)">
                    <i class="proposal_badge track"></i>
                    <div class="ribbon-wrapper">
                        <div class="ribbon-white">
                            <i class="en_badge"></i>
                        </div>
                    </div>
                    <div class="content">
                        <span class="title"><a class="blackLink skip-print-defaults" href="@routes.Publisher.showDetailsForProposal(p.id, p.escapedTitle, secretPublishKey)">@p.title</a></span>
                        <span class="speaker"> @p.allSpeakerUUIDs.map { speakerUUID =>
                            @tags.publisher.renderSpeaker(speakerUUID)
                        }</span>

                        @if(showEndTime){
                            <span class="endTime"> @zeSlot.from.toDateTime(ConferenceDescriptor.current().timezone).toString("HH:mm") - @zeSlot.to.toDateTime(ConferenceDescriptor.current().timezone).toString("HH:mm")</span>
                        }
                    </div>
                    <div class="proposal_actions">
                        @tags.publisher.renderFavorite(p.id, favoritesActivated)
                    </div>
                </td>
            }
        }
    }
    @if(!subSlots.exists(_.room.id == room.id) && !subSlots.exists(_.break.isDefined)) {
        <td class="room-closed">&nbsp;</td>
    }
