@(cloud:List[controllers.CallForPaper.TermCount])(implicit flash:Flash, lang:Lang, req: RequestHeader)

<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
  <title>@Messages("longName") - Cloud of World</title>
</head>
<body>

<script src="/assets/js/word/d3.min.js"></script>
<script src="/assets/js/word/d3.layout.cloud.js"></script>


<script>
  var fill = d3.scale.category20();

  var someWords = [
        @cloud.map{tc=>
{text:"@tc.term",size:@tc.count},
        }
    ]


  d3.layout.cloud().size([600, 600])
      .words(someWords)
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size*0.8; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("body").append("svg")
        .attr("width", 600)
        .attr("height", 600)
      .append("g")
        .attr("transform", "translate(300,300)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
</script>
<hr>
<h3>World frequency</h3>
@cloud.map{termCount=>
    @termCount.term : @termCount.count<br>
}
<hr>
@cloud.map(s=>"\""+s.term+"\"").mkString(", ")


</body>
</html>