@(htmlSummary:String)(implicit flash: Flash, lang: Lang)

@import helper.twitterBootstrap._
@import org.apache.commons.lang3.StringUtils

@main("New proposal - step 2") {
    <div class="row">
        <div class="col-md-12">
            <h3>@Messages("New.proposal2")</h3>
            <hr>
        </div>
        <div class="col-md-6">
            <blockquote>
            @Html(htmlSummary)
            </blockquote>
        </div>
         <div class="col-md-6">
            <div class="alert alert-info"><i class="icon-circle-arrow-left"></i> @Messages("not.saved")</div>
            <p><button type="submit" class="btn btn-success"><i class="icon-file-text"></i> @Messages("btn.save2")</button>
                @Messages("validate.summary2") <a href="javascript:history.back()">@Messages("validate.summary3")</a> @Messages("validate.summary4")
             </div>
        </div>


    </div>
}
