@(speakerForm: Form[Speaker], readOnlyUUID:String)(implicit flash: Flash, lang: Lang, req:RequestHeader)
@main("Edit your profile") {
<div class="row">
    <div class="col-md-8 page-header">
        <h3>@Messages("editProfile.title")</h3>
    </div>
    <div class="col-md-8">
        <p>@Messages("editProfile.help")</p>

        @if(flash.get("error").isDefined){
          <div class="alert alert-danger alert-dismissable">
              <strong>Error :</strong>
              @flash.get("error").get
          </div>
        }
        @if(flash.get("success").isDefined){
          <div class="alert alert-success alert-dismissable">
              @flash.get("success").get
          </div>
        }

        @helper.form(action = routes.CallForPaper.saveProfile) {
            <input type="hidden" name="email" value="@speakerForm("email").value.get">
            @helper.inputText(speakerForm("firstName"), 'size->80)
            @helper.inputText(speakerForm("lastName"), 'size->80)
            @helper.inputText(speakerForm("avatarUrl"), 'size->80)
            @helper.inputText(speakerForm("company"))
            @helper.textarea(speakerForm("bio"), 'cols -> 70, 'rows -> 5)
            <i class="icon-text-width"></i> : <span id="charsremain"></span>
            @helper.inputText(speakerForm("twitter"), 'placeholder -> "@nickname")
            @helper.inputText(speakerForm("blog"), 'size -> 50, 'placeholder -> "http://www.yourblog.com/")
            @helper.textarea(speakerForm("qualifications"), 'cols -> 70, 'rows -> 5)
            @helper.inputText(speakerForm("phoneNumber"))

             @tags.selectI18N(field = speakerForm("lang"), options=Seq(("en","English"),("fr","French")),  'class->"form-control")

            <button class="btn btn-success" type="submit">@Messages("editProfile.save")</button>
        }
    <hr>
        <small>Your UUID: @readOnlyUUID</small>
    </div>
</div>

<script type="text/javascript" src="/assets/js/maxlength.js"></script>
<script type="text/javascript">
$(document).ready(function($){
    setformfieldsize($('#bio'), 750, 'charsremain');
});
</script>
}