@(speakerForm: Form[Speaker])

@import helper.twitterBootstrap._

@main("DevoxxFR - Edit your profile") {

<div class="row">
    <div class="col-lg-12 page-header">
        <h1>Votre profil</h1>
    </div>
    <div class="col-lg-12">

        <p>Prenez le temps de compléter votre profil. Ce contenu sera ensuite publié sur le site si vous êtes sélectionné
            comme orateur, ainsi que dans le programem de la conférence :</p>

        @helper.form(action = routes.CallForPaper.saveProfile) {
            <input type="hidden" name="email" value="@speakerForm("email").value.get">
            @helper.inputText(speakerForm("avatarUrl"), 'size->80)
            @helper.inputText(speakerForm("company"))
            @helper.textarea(speakerForm("bio"), 'cols -> 70, 'rows -> 5)
            @helper.inputText(speakerForm("twitter"), 'placeholder -> "@nickname")
            @helper.inputText(speakerForm("blog"), 'size -> 50, 'placeholder -> "http://www.yourblog.com/")

            <button class="btn btn-success" type="submit">Enregister</button>
        }
    </div>

</div>
}