@(speakerForm: Form[Speaker])(implicit flash:Flash, lang:Lang, uuid:String)

@import helper.twitterBootstrap._

@main("Edit your profile") {

<div class="row">
    <div class="col-md-12 page-header">
        <h1>@Messages("editProfile.title")</h1>
    </div>
    <div class="col-md-12">
        <p>@Messages("editProfile.help")</p>

        @if(flash.get("error").isDefined){
          <div class="alert alert-danger alert-dismissable">
              <strong>Error :</strong>
              @flash.get("error").get
          </div>
        }
        @if(flash.get("success").isDefined){
          <div class="alert alert-success alert-dismissable">
              @flash.get("success").get
          </div>
        }

        @helper.form(action = routes.CallForPaper.saveProfile) {
            <input type="hidden" name="email" value="@speakerForm("email").value.get">
            @helper.inputText(speakerForm("avatarUrl"), 'size->80)
            @helper.inputText(speakerForm("company"))
            @helper.textarea(speakerForm("bio"), 'cols -> 70, 'rows -> 5)
            @helper.inputText(speakerForm("twitter"), 'placeholder -> "@nickname")
            @helper.inputText(speakerForm("blog"), 'size -> 50, 'placeholder -> "http://www.yourblog.com/")
            <input type="hidden" name="name" value="@speakerForm("name").value">
            <button class="btn btn-success" type="submit">@Messages("editProfile.save")</button>
        }
    </div>
</div>
}