@(htmlSummary: String, privateMessage: String, newProposal: Form[models.Proposal], currentUser: String)(implicit lang: Lang, confDesc: ConferenceDescriptor)

<div class="panel">
    <div class="panel-default">
        <div class="panel-heading">@Messages("summary.preview")</div>
        <div class="panel-body">
            <h3><small>Title:</small> @newProposal("title").value</h3>
            <h4><small>Type of presentation:</small> @Messages(newProposal("talkType").value.getOrElse(""))</h4>
            <h4><small>Track:</small> @Messages(newProposal("track").value.getOrElse("") + ".label")</h4>
            <br>
            <h4><small>Abstract for the Devoxx audience:</small></h4>
            <div class="proposal_prev">@Html(htmlSummary)</div>
            <h4><small>Private message for the Committe:</small></h4>
            <div class="proposal_prev">@Html(privateMessage)</div>
        </div>
    </div>
</div>
