@(speaker: Speaker, webuser: Webuser, myProposals: List[Proposal])(implicit flash: Flash, lang: Lang)
@import helper.twitterBootstrap._
@import org.apache.commons.lang3.StringUtils

@main("Devoxx France CFP") {
    <div class="row">
        <div class="col-md-4">
            <h3><i class="icon-magic"></i> @Html(Messages("your.profile"))</h3>

            <div class="panel panel-default">
                <div class="panel-heading"><p>@webuser.firstName @webuser.lastName</p></div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                            @if(speaker.avatarUrl.isEmpty) {
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object"
                                        src="http://www.gravatar.com/avatar/@webuser.gravatarHash?s=75"
                                        alt="@webuser.firstName @webuser.lastName"
                                        title="This is you" />
                                    </a>
                                    <div class="media-body">
                                        <small>@Html(Messages("profile.gravatar")) <a href="http://www.gravatar.com" target="_blank">
                                            Gravatar.com</a> @Html(Messages("profile.gravatar2")) @speaker.email. </small>
                                    </div>
                                </div>
                            } else {
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object"
                                        width="75"
                                        src="@speaker.avatarUrl.get"
                                        alt="@webuser.firstName @webuser.lastName"
                                        title="This is you" />
                                    </a>
                                </div>
                            }
                            </td>
                        </tr>

                        <tr>
                            <td>@Html(Messages("bio")) :</td>
                            <td>
                            @if(StringUtils.trimToEmpty(speaker.bio).isEmpty) {
                                <i class="icon-exclamation-sign error"></i>
                            } else {
                                <i class="icon-ok alert-success"></i>
                            }
                            </td>
                        </tr>

                        <tr>
                            <td>@Html(Messages("url.photo"))</td>
                            <td>
                            @if(StringUtils.trimToEmpty(speaker.avatarUrl.getOrElse("")).isEmpty) {
                                <i class="icon-exclamation-sign error"></i>
                            } else {
                                <i class="icon-ok alert-success"></i>
                            }
                            </td>
                        </tr>

                        <tr>
                            <td>@Html(Messages("blog.website"))</td>
                            <td>
                            @if(StringUtils.trimToEmpty(speaker.blog.getOrElse("")).isEmpty) {
                                <i class="icon-exclamation-sign error"></i>
                            } else {
                                <i class="icon-ok alert-success"></i>
                            }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html(Messages("company"))</td>
                            <td>
                            @if(StringUtils.trimToEmpty(speaker.company.getOrElse("")).isEmpty) {
                                <i class="icon-exclamation-sign error"></i>
                            } else {
                                <i class="icon-ok alert-success"></i>
                            }
                            </td>
                        </tr>

                        <tr>
                            <td>@Html(Messages("twitter"))</td>
                            <td>
                            @if(StringUtils.trimToEmpty(speaker.twitter.getOrElse("")).isEmpty) {
                                <i class="icon-exclamation-sign error"></i>
                            } else {
                                <i class="icon-ok alert-success"></i>
                            }
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="panel-footer">
                    <a href="@routes.CallForPaper.editProfile()" class="btn btn-primary">@Html(Messages("edit.profile"))</a>
                    <a href="@routes.CallForPaper.editCurrentWebuser()" class="btn btn-primary">@Html(Messages("edit.name"))</a>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <h3><i class="icon-tasks"></i> @Html(Messages("your.submission"))</h3>

            @if(myProposals.isEmpty) {
                <div class="info">
                @Html(Messages("no.proposal"))
                </div>
            } else {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Messages("table.pres.title")</th>
                            <th>@Messages("table.pres.speaker")</th>
                            <th>@Messages("table.pres.otherSpeakers")</th>
                            <th>@Messages("table.pres.action")</th>
                            <th><i class="icon-comments"></i></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @myProposals.map { prop: Proposal =>
                        <tr>
                            <td>@prop.title <br>
                            <span class="label label-info">@prop.state.code</span>
                            </td>
                            <td>@if(prop.mainSpeaker == webuser.email) {
                                <span class="label label-info">@Messages("you.speaker")</span>
                            } else {
                                <small>@prop.mainSpeaker</small>
                            }
                            </td>
                            <td>
                                <a href="@routes.CallForPaper.editOtherSpeakers(prop.id.getOrElse("?"))" class="btn btn-sm btn-primary"><i class="icon-plus-sign-alt"></i> </a>
                                @prop.otherSpeakers.map { s =>
                                    <small><a href="#" class="btn btn-sm btn-default"><i class="icon-group"></i>s </a></small>
                                }
                            </td>
                            <td>
                                <a href="@routes.CallForPaper.editProposal(prop.id.getOrElse("?"))" class="btn btn-sm btn-primary" title="@Messages("table.pres.edit")"><i class="icon-edit"></i></a>
                                @if(prop.state!=ProposalState.SUBMITTED){
                                    <a href="@routes.CallForPaper.submitProposal(prop.id.getOrElse("?"))#" class="btn btn-sm btn-success" title="@Messages("table.pres.submit")"><i class="icon-envelope"></i></a>
                                }
                            </td>
                            <td>
                                <span class="label label-info">0</span>
                            </td>
                            <td>
                                <a href="@routes.CallForPaper.deleteProposal(prop.id.getOrElse("?"))" class="btn btn-sm btn-danger" title="@Messages("table.pres.trash")"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><span class="badge">@Messages("total.draft", myProposals.size)</span></th>
                        </tr>
                    </tfoot>
                </table>
            }

            <a href="@routes.CallForPaper.newProposal" class="btn btn-primary">@Html(Messages("new.proposal"))</a>

        </div>

        <div class="col-md-6 col-md-offset-6">
            @if(flash.get("error").isDefined) {
                <div class="alert alert-danger alert-dismissable">
                    <strong>Error :</strong>
                    @flash.get("error").get
                </div>
            }
            @if(flash.get("success").isDefined) {
                <div class="alert alert-success alert-dismissable">
                @flash.get("success").get
                </div>
            }
            @if(flash.get("deleted").isDefined) {
                <div class="alert alert-warning">
                @Messages("talk.deleted")<br>
                @flash.get("deleted").map{proposalId:String=>
                    <a href="@routes.CallForPaper.undeleteProposal(proposalId)" class="btn btn-default btn-sm"><i class="icon-undo"></i> @Messages("talk.deleted2") @proposalId</a>
                }
                </div>
            }
        </div>
    </div>


}