@(someDocuments: Seq[io.prismic.Document])(implicit ctx: Prismic.Context)

@mainCFP("All documents") {

    <form action="@routes.CallForPaper.search(ref = ctx.maybeRef)" method="GET">
      <input type="text" name="q" value="">
      <input type="submit" value="Search">
    </form>

    <hr>

    <h2>
      @someDocuments.size match {
        case 0 => { No documents found }
        case 1 => { One document found }
        case n => { @n documents found }
      }
    </h2>

    <ul>
      @someDocuments.map { document =>
        <li>
          <a href="@routes.CallForPaper.detail(document.id, document.slug, ctx.maybeRef)">
            @document.slug
          </a>
        </li>
      }
    </ul>

}