@(ex: Throwable)(implicit flash: Flash, lang: Lang, req: RequestHeader)

@main("Invalid phone number") {
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="panel panel-danger">
                <div class="card-header">
                    <h3><i class="icon-phone-sign"></i> @Messages("invalid.phoneNumber")</h3>
                </div>
                <Div class="card-body">
                    <p>@Messages("invalid.phone.txt")</p>

                    <p>Exception :</p>
                    <pre>@ex.getMessage</pre>

                    <a href="@routes.CallForPaper.homeForSpeaker()" class="btn btn-primary">Go back</a>
                </Div>
            </div>
        </div>
    </div>
}
