@(title: String)(content: Html)(implicit ctx: Prismic.Context)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

        <header>
          @toolbar()

          <a href="@routes.CallForPaper.index(ref = ctx.maybeRef)">
            <h1>Your prismic.io project</h1>
          </a>

        </header>

        @content

        <footer>
          @if(!ctx.hasPrivilegedAccess) {
            <hr> <a href="@routes.Prismic.signin">Sign in to preview changes</a>
          }
        </footer>

    </body>
</html>