@(newProposal:Form[models.Proposal])(implicit flash: Flash, lang: Lang)

@import helper.twitterBootstrap._
@import org.apache.commons.lang3.StringUtils

@main("New proposal") {
    <div class="row">
        <div class="col-md-6">
            <h3>@Messages("New.proposal")</h3>
            @helper.form(action = routes.CallForPaper.createNewProposal()){
                @helper.inputText(newProposal("title"), 'class->"form-control")
                @helper.textarea(newProposal("summary"), 'cols->60, 'rows->10,  'class->"form-control")
                <span id="charsremain"></span>

                @helper.select(field = newProposal("lang"), options=Proposal.langs,  'class->"form-control")

                @helper.select(field=newProposal("mainSpeaker"), options=Webuser.allSpeakersAsOption,  'class->"form-control")
                <em>@Messages("moreSpeakerLater")</em>

                @helper.select(field = newProposal("talkType"), options=ProposalType.allAsId,  'class->"form-control")

                @helper.select(field = newProposal("audienceLevel"), options=Proposal.audienceLevels,  'class->"form-control")

                @helper.textarea(newProposal("privateMessage"), 'cols->60,  'class->"form-control")
                @helper.checkbox(newProposal("sponsorTalk"),  'class->"form-control")
                <hr>
                <button type="submit" class="btn btn-success btn-lg">@Messages("btn.save")</button>
            }
        </div>

        <div class="col-md-6">
            <h3>@Messages("helpAndTips")</h3>
            <p><label>@Messages("title") : </label> @Messages("title.help")</p>
            <p><label>@Messages("summary") : </label> @Messages("summary.help")</p>

        </div>

    </div>

<script type="text/javascript" src="/assets/js/maxlength.js">
</script>
<script type="text/javascript">
$(document).ready(function($){
 console.log("ok");
 setformfieldsize($('#summary'), 2000, 'charsremain');
})
</script>
}
