@(newProposal:Form[models.Proposal])(implicit flash: Flash, lang: Lang)

@import helper.twitterBootstrap._
@import org.apache.commons.lang3.StringUtils

@main("New proposal") {
    <div class="row">
        <div class="col-lg-6">
            <h3>New proposal</h3>
            @helper.form(action = routes.CallForPaper.createNewProposal()){
                @helper.inputText(newProposal("title"), 'size->60, 'maxsize->100)
                @helper.textarea(newProposal("summary"), 'cols->60, 'rows->10)

                @helper.select(field = newProposal("lang"), options=Proposal.langs)
                @helper.inputText(newProposal("mainSpeaker"))
                @helper.inputText(newProposal("otherSpeakers"))
                @helper.select(field = newProposal("talkType"), options=ProposalType.allAsId)

                @helper.select(field = newProposal("audienceLevel"), options=Proposal.audienceLevels)

                @helper.textarea(newProposal("privateMessage"), 'cols->60)
                @helper.checkbox(newProposal("sponsorTalk"))

            }
        </div>


        <div class="col-md-4">
            <h3>@Messages("helpAndTips")</h3>
            <p><label>@Messages("title") : </label> @Messages("title.help")</p>


        </div>

    </div>
}
