@(newProposal:Form[models.Proposal])(implicit flash: Flash, lang: Lang)

@import helper.twitterBootstrap._
@import org.apache.commons.lang3.StringUtils

@main("New proposal") {
<link rel="stylesheet" href="/assets/js/select2-3.4.5/select2.css"/>

    <div class="row">
        <div class="col-md-6">
            @if(newProposal("id").value.isDefined){
                <h3>@Messages("Edit.proposal")</h3>
            }else{
                <h3>@Messages("New.proposal")</h3>
            }

            @if(flash.get("error").isDefined){
                <div class="alert alert-danger alert-dismissable">
                    @flash.get("error").get
                </div>
            }
            @if(flash.get("success").isDefined){
                <div class="alert alert-success alert-dismissable">
                    @flash.get("success").get
                </div>
            }
            @helper.form(action = routes.CallForPaper.createNewProposal(newProposal("id").value)){
                @helper.inputText(newProposal("title"), 'class->"form-control")
                @helper.textarea(newProposal("summary"), 'cols->60, 'rows->10,  'class->"form-control")
                <i class="icon-text-width"></i> : <span id="charsremain"></span>

                @helper.select(field = newProposal("lang"), options=Proposal.langs,  'class->"form-control")

                @tags.selectI18N(field = newProposal("talkType"), options=ProposalType.allAsId,  'class->"form-control")
                @tags.selectI18N(field = newProposal("track"), options=Track.allAsIdsAndLabels,  'class->"form-control")

                <input type="hidden" name="audienceLevel" value="intermediate">

                @helper.textarea(newProposal("privateMessage"), 'cols->60,  'class->"form-control")
                @tags.checkboxI18N(newProposal("sponsorTalk"),  'text->"sponsorTalk.checkbox")
                <div id="sponsorTalkMsg" class="alert alert-info">
                    <p>@Messages("sponsorTalk.help")</p>
                    <p>@Messages("sponsor.name.plz")</p>
                </div>
                <hr>
                <button type="submit" class="btn btn-success btn-lg"><i class="icon-arrow-right"></i> @Messages("btn.save")</button>
            }
        </div>

        <div class="col-md-6">
            <h3>@Messages("helpAndTips")</h3>
            <p><label>@Messages("title") : </label> @Messages("title.help")</p>
            <p><label>@Messages("summary") : </label> @Messages("summary.help")</p>
            <p><label>@Messages("lang") : </label> @Messages("lang.help")</p>
            <p><label>@Messages("mainSpeaker") : </label> @Messages("mainSpeaker.help")</p>
            <p><label>@Messages("privateMessage") : </label> @Messages("privateMessage.help")</p>

        </div>

    </div>

<script type="text/javascript" src="/assets/js/maxlength.js"></script>

<script type="text/javascript">
$(document).ready(function($){
    $('#sponsorTalkMsg' ).hide();

    setformfieldsize($('#summary'), 2000, 'charsremain');

    // Selet current lang
    $('#lang option[value="@lang.country.toLowerCase"]').prop('selected', true);

    // When user tick sponsorTalk then we update the private message
    $('#sponsorTalk').on("click", function() {
        if (this.checked) {
            $('#sponsorTalkMsg').show();
            $('#talkType option[value="conf"]' ).prop('selected', true);
            $('#talkType').prop('disabled', true);
        }
        else {
            $('#sponsorTalkMsg').hide();
            $('#talkType').prop('disabled', false);
        }
    });
});
</script>


}
