@(q: Option[String], documents: Seq[io.prismic.Document])(implicit ctx: Prismic.Context)

@main("Search results") {

    <h1>
      @documents.size match {
        case 0 => { No results found }
        case 1 => { One document found }
        case n => { @n documents found }
      }
    </h1>

    <ul>
      @documents.map { document =>
        <li>
          <a href="@ctx.linkResolver(document)">@document.slug</a>
        </li>
      }
    </ul>

    <p>
      <a href="@routes.CallForPaper.index(ctx.maybeRef)">Back to home</a>
    </p>

}