@(proposal: Proposal, comments: List[Comment], msgToCommittee: Form[String])(implicit flash: Flash, lang: Lang, req:RequestHeader)

@import play.api.templates.Html

@main("Comments for proposal " + proposal.id) {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon-bullhorn"></i> @Messages("comment.proposal")</h3>
                </div>

                <div class="panel-body">
                    <table class="table table-bordered table-strippted">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Track</th>
                                <th>Type of talk</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                @proposal.title
                                </td>
                                <td>
                                @Html(Messages(proposal.track.label))
                                </td>
                                <td>@Messages(proposal.talkType.id)</td>
                            </tr>
                            <tr>
                                <th colspan="4">
                                    Proposal
                                </th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="proposal">
                                        @Html(proposal.summaryAsHtml)
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-body">
                @helper.form(action = routes.CallForPaper.sendMessageToCommittee(proposal.id)) {
                    @helper.textarea(msgToCommittee("msg"), 'class -> "form-control input-xs")
                    <button type="submit" class="btb btn-xs btn-primary">Send your message</button>
                }
                </div>

                <div class="panel-body">
                @tags.renderComments(comments)
                </div>
            </div>
        </div>
    </div>
}