@(proposal: Proposal, questions: List[Question], msgToCommitte: Form[String])(implicit flash: Flash, lang: Lang, req:RequestHeader)

@main("Comments for proposal " + proposal.id) {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><i class="icon-question-sign"></i> @Messages("question.proposal")</h3>
                </div>

                <div class="panel-body">
                    <table class="table table-bordered table-strippted">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Track</th>
                                <th>Type of talk</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                @proposal.title
                                </td>
                                <td>
                                @Messages(proposal.track.label)
                                </td>
                                <td>@Messages(proposal.talkType.id)</td>
                            </tr>
                            <tr>
                                <th colspan="4">
                                    Proposal
                                </th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="proposal">
                                        @Html(proposal.summaryAsHtml)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <a class="link" href="@routes.Publisher.showDetailsForProposal(proposal.id, proposal.title)">See your talk on the CFP Web site.</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @questions.map { question =>
                    <div id="@question.id.get" class="question panel panel-default">
                    <div class="media">
                        <img  class="pull-left" width="35" src="http://www.gravatar.com/avatar/@Webuser.gravatarHash(question.email)?s=35" alt="@question.author" align="top"/>
                        <div class="media-heading">
                            @Messages("tags.renderComment.postedBy") @question.author on @library.FormatDate.ellapsed(question.eventDate)
                        </div>
                        <div class="media-body">
                        @defining(question.msg.replaceAll("script", ".script").replaceAll("\n", "<br>")) { message: String =>
                            <span class="msgSpeaker media-object">@Html(message)</span>
                        }
                        </div>
                        <div class="pull-right">
                            <button data-proposalId="@question.proposalId" data-questionId="@question.id.get" class="deleteProposal btn btn-sm  btn-danger">Delete this message</button>
                        </div>
                    </div>
                </div>
                }

                <div class="panel-body">
                @helper.form(action = routes.CallForPaper.replyToQuestion(proposal.id)) {
                    @helper.textarea(msgToCommitte("msg"), 'class -> "form-control input-xs")
                    <button type="submit" class="btb btn-xs btn-primary">Send your message</button>
                }
                </div>


            </div>
        </div>
    </div>
<script type="text/javascript">
$(document).ready(function($) {

    $('.deleteProposal').on("click", function(e) {
        var zeButton=$(this);
        e.preventDefault();
        var questionId=zeButton.data("questionid");
        var proposalid=zeButton.data("proposalid");
        console.log("Deleting "+questionId+" "+proposalid);

        $('#'+questionId ).fadeOut();

        $.ajax({
            url: "@routes.CallForPaper.deleteOneQuestion("","").absoluteURL(false)"+"?proposalId="+proposalid+"&questionId="+questionId,
            success: function(e){
                zeButton.removeClass("btn-primary" ).addClass("btn-success");
                zeButton.text("Invited!");
            }
        });

    });

});
</script>
}