@()(implicit ctx: Prismic.Context)

@if(ctx.hasPrivilegedAccess) {
  <div id="toolbar">

    <form method="GET">
      <label for="releaseSelector">See this website: </label>
      <select id="releaseSelector" name="ref" onchange="this.form.submit()">
        @if(!ctx.api.refs.values.toList.map(_.ref).contains(ctx.ref)) {
          <option>?</option>
        }
        <option value="" @if(ctx.ref == ctx.api.master.ref) { selected="selected" }>As currently seen by guest visitors</option>
        <optgroup label="Or preview the website in a future release:">
          @ctx.api.refs.values.toList.filterNot(_.isMasterRef).sortBy(_.scheduledAt.map(_.getMillis).getOrElse(0:Long)).map { ref =>
            <option value="@ref.ref" @if(ctx.ref == ref.ref) { selected="selected" }>As @ref.label @ref.scheduledAt.map(_.toString("yyyy-MM-dd"))</option>
          }
        </optgroup>
      </select>
    </form>

    <form action="@routes.Prismic.signout()" method="POST">
      <input type="submit" value="Disconnect">
    </form>

  </div>
}