@(form: Form[library.search.AdvancedSearchParam])(implicit lang: Lang, flash: Flash, req: RequestHeader)

    @api(Messages("shortName") + " Advanced Search API") {
        <div class="row">
            <div class="col-md-12">
                <h1>@Messages("shortName") Search API</h1>
                <hr>
                <div class="panel panel-info">
                    <div class="panel-heading">Advanced search API</div>
                    <div class="panel-body">
                        <p>Sample Form</p>
                        <form class="form" method="POST" name="advancedForm" id="Advanced" action="@routes.SearchAPI.searchTalks()">
                            <div class="form-group">
                                <label for="topic">Topic or subject :
                                    <input class="form-control" type="text" name="topic" id="topic" value="" placeholder="Topic">
                                </label>
                            </div>
                            @tags.selectI18N(field = form("format"), options=ProposalType.allForCombos,  '_default->"--- Please select ---", 'class->"form-control")

                            @tags.selectI18N(field = form("track"), options=Track.allAsIdsAndLabels.filterNot(_._1==Track.UNKNOWN.id),'_default->"--- Please select ---",  'class->"form-control")

                           @tags.selectI18N(field = form("room"), options=ConferenceDescriptor.ConferenceRooms.allRoomsAsIdsAndLabels ,'_default->"--- Please select ---",  'class->"form-control")

                            <div class="form-group">
                                <label for="after">Show only results after the specified date and time :
                                    <input class="form-control" type="text" name="after" id="after" value="" placeholder="after specifed date and time">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="speaker">Speaker name :
                                    <input class="form-control" type="text" name="speaker" id="speaker" value="" placeholder="Speaker's firstname or lastname" size="60">
                                </label>
                            </div>
                                <div class="form-group">
                                <label for="speaker">Day (one of wednesday, thursday or friday):
                                    <input class="form-control" type="text" name="speaker" id="speaker" value="" placeholder="wednesday, thursday or friday" size="60">
                                </label>
                            </div>
                             <div class="form-group">
                                <label for="speaker">Company :
                                    <input class="form-control" type="text" name="company" id="company" value="" placeholder="company..." size="60">
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit" value="Search">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
