@(results:library.search.ESSearchResult)(implicit lang: Lang, flash: Flash, req: RequestHeader)

    @api(Messages("shortName") + " Advanced Search API") {
        <div class="row">
            <div class="col-md-12">
                <h1>@Messages("shortName") Search API</h1>
                <hr>
                <div class="panel panel-info">
                    <div class="panel-heading">Success</div>
                    <div class="panel-body">
                        <p>Received a JSON object from the Search endpoint</p>

                        @if(results.hits.total==0){
                            <p>No results.</p>
                        }else{
                            <h3>Got @results.hits.total result@if(results.hits.total>1){s}</h3>

                            @results.hits.hits.map{hit:library.search.ESResult=>
                                <p>@hit._score </p>
                                <pre>@hit._source</pre>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>

    }
