@import play.api.libs.json.Json
@import play.api.libs.json.JsArray
@import play.api.libs.json.JsString
@(webuser: Webuser,
  notificationUserPref: NotificationUserPreference
)(implicit flash: Flash, lang: Lang, req:RequestHeader)

@main(title="CFP Admin", additionalAssets=List(
    HtmlAsset("https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js", Javascript),
    HtmlAsset("https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css", Stylesheet)
)) {
    <h2><i class="fas fa-mail-bulk"></i> Preferences</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3><i class="fas fa-envelope"></i> @Messages("email.notifications.label")</h3>
                </div>
                <div class="card">
                @helper.form(routes.CFPPreferencesController.saveNotificationPreferences()) {
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <h4>@Messages("email.notifications.autowatch.title")</h4>
                                    <em>@Messages("email.notifications.autowatch.desc1")</em>
                                    <br/>
                                    <em>@Messages("email.notifications.autowatch.desc2")</em>

                                    <hr class="borderless"/>

                                    <label for="autoWatchKind">@Messages("email.notifications.autowatch.title")</label>
                                    <select id="autoWatchKind" name="autowatchId" class="chosen" onchange="autoWatchUpdatedTo(this.value)">
                                        <option></option>
                                        @AutoWatch.allAutowatches.map { autowatch =>
                                            <option value="@autowatch.id" @if(notificationUserPref.autowatchId==autowatch.id){ selected="true" }>@Messages(autowatch.labelI18nKey)</option>
                                        }
                                    </select>
                                    <hr class="borderless"/>
                                    <input type="radio" name="autoWatchTracks" id="autoWatchAllTracks" onchange="autoWatchAllTracksSelected()" value="autoWatchAllTracks" @if(notificationUserPref.autowatchFilterForTrackIds.isEmpty){ checked="true" }>
                                    <label style="margin-left: 7px; display: inline-block" for="autoWatchAllTracks">@Messages("email.notifications.autowatch.all-tracks")</label>
                                    <br/>
                                    <input type="radio" name="autoWatchTracks" id="autoWatchFilteredTracks" onchange="autoWatchPerTracksSelected()" value="autoWatchFilteredTracks" @if(notificationUserPref.autowatchFilterForTrackIds.isDefined){ checked="true" }>
                                    <label style="margin-left: 7px; display: inline-block" for="autoWatchFilteredTracks">@Messages("email.notifications.autowatch.specific.to-track")</label> :
                                    <select class="chosen" id="autowatchFilterForTrackIds" name="autowatchFilterForTrackIds[]" style="width: 500px" multiple>
                                    @ConferenceDescriptor.ConferenceTracks.ALL.map { track =>
                                        <option value="@track.id" @if(notificationUserPref.autowatchFilterForTrackIds.getOrElse(List()).contains(track.id)){ selected="true" }>@Messages(track.label)</option>
                                    }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h4>@Messages("email.notifications.as.watcher.title")</h4>
                                    <label for="notificationFrequency">@Messages("email.notifications.frequency.label")</label>
                                    <select id="notificationFrequency" name="digestFrequency" class="chosen">
                                        <option></option>
                                        @Digest.selectableDigests.map { digest =>
                                            <option value="@digest.value" @if(notificationUserPref.digestFrequency==digest.value){ selected="true" }>@digest.labelI18nMessage()</option>
                                        }
                                    </select>
                                    <hr class="borderless"/>
                                    <label for="notificationEvents">@Messages("email.notifications.events.label")</label>
                                    <select id="notificationEvents" name="eventIds[]" class="chosen" multiple>
                                    @NotificationEvent.allNotificationEvents.map { notificationEvent =>
                                        @if(notificationEvent.applicableTo(webuser)) {
                                            <option value="@notificationEvent.id" @if(notificationUserPref.eventIds.contains(notificationEvent.id)){ selected="true" }>@Messages(notificationEvent.labelI18nKey)</option>
                                        }
                                    }
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success" type="submit">@Messages("email.notifications.save")</button>
                }
                </div>
            </div>
        </div>
        <script>
            $(".chosen").chosen({
                allow_single_deselect: true,
                disable_search: true,
            });
            const eventsSpecificToAutoWatches = [ @NotificationEvent.allNotificationEvents.filter(_.onlyForAutoWatches.nonEmpty).map { notifEvent =>
                @Html(Json.stringify(Json.toJson(Map(
                    "event" -> JsString(notifEvent.id),
                    "onlyForAutoWatches" -> JsArray(notifEvent.onlyForAutoWatches.map{ autoWatches => autoWatches.map{ aw => JsString(aw.id) } }.getOrElse(List()))
                ))))
                } ];
            function autoWatchUpdatedTo(autoWatchVal) {
                const $notificationEvents = $("#notificationEvents");
                eventsSpecificToAutoWatches.forEach(estaw => {
                    const $eventOption = $notificationEvents.find(`option[value='${estaw.event}']`);
                    if(estaw.onlyForAutoWatches.includes(autoWatchVal)) {
                        $eventOption.show();
                        // Auto-selecting the event as well (note that user can manually remove it if he wants)
                        $eventOption.prop('selected', true);
                    } else {
                        $eventOption.hide();
                        // Auto-removing the event as well as chosen wont remove it by itself otherwise
                        $eventOption.prop('selected', false);
                    }
                })
                $notificationEvents.trigger("chosen:updated");
            }
            function autoWatchAllTracksSelected() {
                const $autowatchFilterForTrackIds = $("#autowatchFilterForTrackIds");
                $autowatchFilterForTrackIds.find("option").each((_, optionEl) => $(optionEl).prop('selected', false))

                $autowatchFilterForTrackIds.prop('disabled', true);
                $autowatchFilterForTrackIds.trigger("chosen:updated");
            }
            function autoWatchPerTracksSelected() {
                const $autowatchFilterForTrackIds = $("#autowatchFilterForTrackIds");
                $autowatchFilterForTrackIds.prop('disabled', false);
                $autowatchFilterForTrackIds.trigger("chosen:updated");
            }
        </script>

    </div>
}
