@()
@import helper.twitterBootstrap._

@main("Forget password"){
<div class="row">
    <div class="col-lg-12">
    <h1>Forget your password?</h1>
    @helper.form(action=routes.Application.doForgetPassword()){
        <div class="clearfix  " id="email_field">
            <label for="email">The email address that was used to register:</label>
            <div class="input">
            <input type="text" id="email" name="email" value="" placeholder="your email address">
                <span class="help-inline"></span>
                <span class="help-block"></span>
            </div>
        </div>
        <button type="submit">Send me a new password</button>
    }
    </div>
</div>
}