@(loginForm: Form[(String, String)])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@import helper.twitterBootstrap._

@main(Messages("cfp.title")) {
    <div class="row">
        <div class="col-12">
            <div class="page-header">
                <h2><i class="fas fa-comment-alt"></i> @Messages("appel.conf")<br> <small>
                    @Messages("longYearlyName"), @Messages(ConferenceDescriptor.current().timing.datesI18nKey)</small></h2>
            </div>
        </div>

        <div class="col-12">
            @if(flash.get("error").isDefined) {
                <div class="alert alert-danger alert-dismissable">
                    <strong>Error :</strong>
                    @flash.get("error").get
                </div>
            }
            @if(flash.get("success").isDefined) {
                <div class="alert alert-success alert-dismissable">
                @flash.get("success").get
                </div>
            }
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3><i class="fas fa-sign-in-alt"></i> @Html(Messages("index.method1"))</h3>
                </div>
                <div class="card-body">
                    @helper.form(action = routes.Authentication.login(visitor = false)) {
                        @helper.inputText(loginForm("email"))
                        @helper.inputPassword(loginForm("password"))
                        <button class="btn btn-primary" type="submit">@Messages("btn.login")</button>
                        <a href="@routes.Authentication.forgetPassword()">@Messages("forget.password")</a>
                    }
                    <p class="mb-3"></p>

                    <h4><i class="fas fa-external-link-alt"></i> @Html(Messages("index.method2"))</h4>
                    <p>@Html(Messages("index.txt2"))</p>
                    <p><a class="btn btn-primary" href="@routes.Authentication.githubLogin()" title="Sign-in with your Github profile to @Messages("shortName")"><i class="fab fa-github"></i>
                        Github</a>
                        <a class="btn btn-primary" href="@routes.Authentication.googleLogin()" title="Sign-in with your Google account to @Messages("shortName")"><i class="fab fa-google"></i>
                            Google</a>
                        <a class="btn btn-primary" href="@routes.Authentication.linkedinLogin()" title="Sign-in with your LinkedIn profile to @Messages("shortName")"><i class="fab fa-linkedin"></i>
                            LinkedIn</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3><i class="fas fa-user"></i> @Html(Messages("index.signupTitle"))</h3>
                </div>
                <div class="card-body">
                    <p>@Html(Messages("index.signup2", Messages("longName")))</p>
                    <a class="btn btn-primary" href="@routes.Authentication.prepareSignup()">@Messages("index.signup.btn")</a>
                    <p>@Html(Messages("index.signup3"))</p>
                    <p><a class="btn btn-primary" href="@routes.Authentication.githubLogin()" title="Sign-in with your Github profile to @Messages("shortName")"><i class="fab fa-github"></i>
                        Github</a>
                        <a class="btn btn-primary" href="@routes.Authentication.googleLogin()" title="Sign-in with your Google account to @Messages("shortName")"><i class="fab fa-google"></i>
                            Google</a>
                        <a class="btn btn-primary" href="@routes.Authentication.linkedinLogin()" title="Sign-in with your LinkedIn profile to @Messages("shortName")"><i class="fab fa-linkedin"></i>
                            LinkedIn</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
