@()(implicit lang: Lang, flash: Flash, req:RequestHeader)

@api("conference") {
<div class="row">
    <div class="col-md-12">
    <h1>@Messages("shortName") API</h1>
    <hr>
       <h3>Documentation for "conference"</h3>

        <p>Returns a JSON Array of <a href="@routes.RestAPI.profile("link")" rel="glossary">Link</a> object.</p>
        <P>A conference is described by an eventCode, a label, a list of Locale, a localisation and a list of links to extra resources such as the list of speakers
        and the list of schedules.</P>

        <h4>Sample:</h4>
    <code>
 curl -H "Accept: application/json" <a href="@routes.RestAPI.showConference(Conference.currentConference.eventCode).absoluteURL()">@routes.RestAPI.showConference(Conference.currentConference.eventCode).absoluteURL()</a>
      </code>

        <h4>Result:</h4>
            <code>
                <pre>
{
    "label": "Devoxx Belgium 2014, 10th-14th November",
    "locale": [
        "en_EN"
    ],
    "localisation": "Metropolis Antwerp, Groenendaallaan 394, 2030 Antwerp,Belgium",
    "links": [
        {
            "href": "http://localhost:9000/api/conferences/DevoxxBe2014/speakers",
            "rel": "http://localhost:9000/api/profile/list-of-speakers",
            "title": "See all speakers"
        },
        {
            "href": "http://localhost:9000/api/conferences/DevoxxBe2014/schedules/",
            "rel": "http://localhost:9000/api/profile/schedules",
            "title": "See the whole agenda"
        },
        {
            "href": "http://localhost:9000/api/conferences/DevoxxBe2014/proposalTypes",
            "rel": "http://localhost:9000/api/profile/proposalType",
            "title": "See the different kind of conferences"
        }
    ],
    "eventCode": "DevoxxBe2014"
}
                </pre>

            </code>
        </div>
    </div>
</div>

}