@()(implicit lang: Lang, flash: Flash, req:RequestHeader)

@api("conferences") {
<div class="row">
    <div class="col-md-12">
    <h1>@Messages("shortName") API</h1>
    <hr>
       <h3>Documentation for "conferences"</h3>

        <p>Returns a JSON Array of <a href="@routes.RestAPI.profile("link")" rel="glossary">Link</a> object, each link is a reference to a conference.</p>

        <h4>Sample:</h4>
    <code>
        curl -H "Accept: application/json" <a href="@routes.RestAPI.showAllConferences().absoluteURL()" rel="contents">@routes.RestAPI.showAllConferences().absoluteURL()</a>
    </code>

        <h4>Result:</h4>
            <code>
                <pre>
{
    "content": "All conferences",
    "links": [
        {
            "href": "@ConferenceDescriptor.current().conferenceUrls.cfpURL/api/conferences/@ConferenceDescriptor.current().eventCode",
            "rel": "@ConferenceDescriptor.current().conferenceUrls.cfpURL/api/profile/conference",
            "title": "See more details about @Messages("longName")"
        }
    ]
}
                </pre>

            </code>
        </div>
    </div>
</div>

}