@()(implicit lang: Lang, flash: Flash, req:RequestHeader)

@api("Devoxx API") {
<div class="row">
    <div class="col-md-12">
    <h1>Devoxx API</h1>
    <hr>
    <h3>Welcome to Devoxx France REST API.</h3>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4><i class="icon-warning-sign"></i> API is in Beta mode</h4>
        </div>
        <div class="panel-body">
            <p>Please, report issue with <a href="@routes.Application.bugReport()"><i class="icon-bug"></i> our bug tracker</a></p>
        </div>

    </div>
    <p><strong>Please, use a JSON client and discover our very simple REST API.</strong></p>
    <p>The User-Agent HTTP field is mandatory.</p>
    <p>Each Response contains:</p>
     <ul>
        <li>an ETag. Please, check and use <code>If-None-Match</code> to avoid too many calls to the server.</li>
        <li>a Links HTTP Header (<a href="http://tools.ietf.org/html/rfc6906" rel="help" title="RFC 6906">RFC 6906</a>) with a short documentation about each resource.</li>
     </ul>

    <h3>Resources</h3>
    <p>The API serves the following content:</p>
        <ul>
            <li><a href="@routes.RestAPI.profile("conferences")" rel="glossary">A collection of Conferences</a></li>
            <li><a href="@routes.RestAPI.profile("conference")" rel="glossary">A conference</a></li>
            <li><a href="@routes.RestAPI.profile("list-of-speakers")" rel="glossary">A list of speakers</a></li>
            <li><a href="@routes.RestAPI.profile("speaker")" rel="glossary">A speaker</a></li>
            <li><a href="@routes.RestAPI.profile("talk")" rel="glossary">A talk</a></li>
            <li><a href="@routes.RestAPI.profile("schedules")" rel="glossary">A set of schedules</a></li>
            <li><a href="@routes.RestAPI.profile("schedule")" rel="glossary">A schedule</a></li>
            <li><a href="@routes.RestAPI.profile("link")" rel="glossary">A link</a></li>
        </ul>


    <h4>See all conferences</h4>
    <code>
        curl -H "Accept: application/json" <a href="@routes.RestAPI.showAllConferences().absoluteURL()" rel="contents">@routes.RestAPI.showAllConferences().absoluteURL()</a>
    </code>

    <h4>See details for an event</h4>
    <code>
        curl -H "Accept: application/json" <a href="@routes.RestAPI.showConference(Conference.devoxxFrance2014.eventCode).absoluteURL()">@routes.RestAPI.showConference(Conference.devoxxFrance2014.eventCode).absoluteURL()</a>
    </code>

    <h4>See all speakers for this event</h4>
    <code>
        curl -H "Accept: application/json" <a href="@routes.RestAPI.showSpeakers(Conference.devoxxFrance2014.eventCode).absoluteURL()">@routes.RestAPI.showSpeakers(Conference.devoxxFrance2014.eventCode).absoluteURL()</a>
    </code>

    <h4>See details for a specific speaker</h4>
    <code>
        curl -H "Accept: application/json" <a href="@routes.RestAPI.showSpeaker(Conference.devoxxFrance2014.eventCode, "25b6eeb75c18e3465d5cddf2be297b8863006551").absoluteURL()">@routes.RestAPI.showSpeaker(Conference.devoxxFrance2014.eventCode, "25b6eeb75c18e3465d5cddf2be297b8863006551").absoluteURL()</a>
    </code>

    <h4>See details for a talk</h4>
    <code>
        curl -H "Accept: application/json" <a href="@routes.RestAPI.showTalk(Conference.devoxxFrance2014.eventCode, "QDI-693").absoluteURL()">@routes.RestAPI.showTalk(Conference.devoxxFrance2014.eventCode, "QDI-693").absoluteURL()</a>
    </code>

    <h4>See the list of Schedules</h4>
    <code>
        curl -H "Accept: application/json" <a href="@routes.RestAPI.showAllSchedules(Conference.devoxxFrance2014.eventCode).absoluteURL()">@routes.RestAPI.showAllSchedules(Conference.devoxxFrance2014.eventCode).absoluteURL()</a>
    </code>


    <h4>See the schedule for Wednesday</h4>
    <code>
        curl -H "Accept: application/json" <a href="@routes.RestAPI.showScheduleFor(Conference.devoxxFrance2014.eventCode,"wednesday").absoluteURL()">@routes.RestAPI.showScheduleFor(Conference.devoxxFrance2014.eventCode,"wednesday").absoluteURL()</a>
    </code>

    <h4>French is also supported, use Accept-language header :</h4>
    <code>
        curl -H "Accept: application/json" -H "Accept-language: fr-FR" <a href="@routes.RestAPI.showSpeaker(Conference.devoxxFrance2014.eventCode, "25b6eeb75c18e3465d5cddf2be297b8863006551").absoluteURL()">@routes.RestAPI.showSpeaker(Conference.devoxxFrance2014.eventCode, "25b6eeb75c18e3465d5cddf2be297b8863006551").absoluteURL()</a>
    </code>
    </div>
</div>

}