body{
    font-family: "Helvetica",sans-serif;
    font-size: 12px;
}
.panel_talks{
float: none;
position: fixed;
top:200px;
   min-height: 1px;
padding-right: 15px;
padding-left: 15px;
    width: 25%;
}
.panel_slots{
    border: 1px solid #eeeeee;
}
.talk{
    display: block;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    background-color: #ddd725;
    border-radius: 3px;
    box-shadow: 2px 2px #bbb;
}
.slot{
    display: block;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    background-color: #b6dd7b;
}
.slotTitle{
    display: block;
    color:#000000;
    font-weight: bold;
    font-size: 14px;
}

.slot.ng-hide-add, .slot.ng-hide-remove {
  transition:0.5s linear all;
  display:block!important;
}


.columnDrag {
    opacity: 0.7;
    background-color: blue;
}

.columnDrop {
    background-color: green;
}