
<div class="col-lg-12">
    <h3>Saved configuration</h3>
</div>

<div class="col-lg-12">
<flash-messages>
</flash-messages>
    <ul ng-repeat="savedConf in allScheduledConfiguration">
        <li>
            <strong>{{savedConf.key.confType}}</strong>
            created by
            <em>{{savedConf.key.createdBy}}</em>
            on
            <em>{{savedConf.date|date:'EEE d MMMM HH:mm:ss'}}</em>
            <br>
            <a class="btn btn-sm btn-primary" href="#/slots/{{savedConf.key.id}}"><i class="icon-edit-sign"></i> Edit {{savedConf.key.id}}</a>
            <a class="btn btn-sm btn-primary" href="/2016/index.html" target="_blank"class="icon-calendar">Preview on CFP web site</a>
            <a class="btn btn-sm btn-primary" href="/2016/byday/wed" target="_blank"class="icon-calendar">See Wednesday</a>
            <a class="btn btn-sm btn-primary" href="/2016/byday/thu" target="_blank"class="icon-calendar">See Thursday</a>
            <a class="btn btn-sm btn-primary" href="/2016/byday/fri" target="_blank"class="icon-calendar">See Friday</a><br>
            <a class="btn btn-sm btn-success" href="#/publish?id={{savedConf.key.id}}&confType={{savedConf.key.confType}}"><i class="icon-circle-arrow-right"></i> Set this agenda as current one</a>
            - <a class="btn btn-sm btn-danger" href="#/deleteSchedule?id={{savedConf.key.id}}"><i class="icon-trash"></i> Delete</a><br>
        </li>
    </ul>
</div>

