
<div class="col-lg-12">
    <h3>All slots</h3>
    <button class="btn btn-success" ng-click="saveAllocation()">Save allocation</button>
<div class="alert alert-success" ng-show="flash.getMessage()">
<p>{{flash.getMessage()}}</p>
</div>
</div>

<div class="col-lg-12">
<h3>Filter</h3>
<label>Lang
<select name="lang" data-ng-model="showLang">
    <option value="all">All</option>
    <option value="fr">fr</option>
    <option value="en">en</option>
</select>
</label>
<label>Show Track
    <select name="currentTrack"
            data-ng-model="showCurrentTrack"
            data-ng-options="label for label in listOfTracks">
    </select>
</label>

</div>

<div class="col-lg-3 panel_talks">
    <div ng-repeat="talk in approvedTalks"
         class="talk"
         drag="talk" dragStyle="columnDrag"
         dropStyle="columnDrop">
         <span class="proposalTitle">{{talk.title}}</span>
         <span class="label label-default">{{talk.id}}</span>
         <div class="label label-info">{{talk.lang}} - {{talk.track.id}}</div>
         <div class="label label-success">{{talk.mainSpeaker}}</div>
    </div>
</div>

<div class="col-lg-9 panel_slots">
    <div class="col-lg-9">
        <input type="search" ng-model="q" placeholder="Filter Slots..." />
    </div>
    <div ng-repeat="slot in slots | filter:q" class="col-lg-5 slot"  drop="slot" dropStyle="columnDrop">
        <span class="label label-default">{{slot.room.name}}</span> <small>{{slot.day}} {{slot.from | date:'H:mm'}} {{slot.to| date:'H:mm'}}</small>
        <div ng-show="slot.proposal">
            <button class="btn btn-sm btn-warning" ng-click="unallocate(slot.id)">Clear</button>
            <span class="proposalTitle">{{slot.proposal.title}}</span>
            <span class="label label-default">{{slot.proposal.id}}</span>
            <span class="label label-info">{{slot.proposal.lang}} - {{slot.proposal.track.id}} - {{slot.proposal.mainSpeaker}}</span>
        </div>
    </div>
</div>

