<p>All slots</p>


<div class="panel_talks">
<div ng-repeat="talk in acceptedTalks.talks"
     class="talk"
     drag="talk" dragStyle="columnDrag"
     dropStyle="columnDrop">
    {{talk.id}} {{talk.title}}<br>
    <small>{{talk.mainSpeaker}}</small>
</div>
</div>

<div class="col-lg-7 col-lg-offset-4 panel_slots">
    <div ng-repeat="slot in slots" class="slot"  drop="slot" dropStyle="columnDrop">
        <span class="slotTitle">{{slot.id}}</span>
        <div ng-show="slot.proposal">
            <button class="btn btn-sm btn-warning" ng-click="unallocate(slot.id)">Clear</button>
            {{slot.proposal.title}}<br>
            {{slot.proposal.id}}<br>
            {{slot.proposal.lang}} - {{slot.proposal.track.id}} - {{slot.proposal.mainSpeaker}}
        </div>
    </div>
</div>

